/* Docs sample */

#canvas,#canvas1,#canvas2{
    width: 960px;
    height: 600px;
    margin: 15px auto;
}

#book-zoom,#book-zoom1,#book-zoom2{
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -ms-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
}

.animated{
	-webkit-transition:margin-left 0.2s ease-in-out;
	-moz-transition:margin-left 0.2s ease-in-out;
	-o-transition:margin-left 0.2s ease-in-out;
	-ms-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}

.sample-docs{
    margin: 0px auto;
    width: 942px;
    height: 600px;
}

.sample-docs .page{
	width:471px;
	height:600px;
	background:white;

	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.sample-docs .page img{
	width : 100%;
	height : 100%;
}

.sample-docs .hard{
	background-image:url(https://obj.diksha.gov.in/ntp-content-production/homepage/prod/tenants/cg/pics/covers.png);
	background-size: cover;
    background-repeat: no-repeat;
}

.sample-docs#sample-docs1 .hard{
	background-image: url(https://obj.diksha.gov.in/ntp-content-production/homepage/prod/tenants/cg/pics/covers1.png);
}


.sample-docs .p2{
	background-position:-471px 0;
}

.sample-docs#sample-docs1 .p6, .sample-docs#sample-docs .p6{
	background-position:-1413px 0;
}

.sample-docs#sample-docs .p10{
	background-position:-1413px 0;
}


.sample-docs .even .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image:url(https://obj.diksha.gov.in/ntp-content-production/homepage/prod/tenants/cg/pics/right-border.png);
	background-position:right top;
	background-repeat: repeat-y;
}

.sample-docs .odd .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image:url(https://obj.diksha.gov.in/ntp-content-production/homepage/prod/tenants/cg/pics/left-border.png);
	background-position:left top;
	background-repeat: repeat-y;
}

.sample-docs .page-wrapper{
	-webkit-perspective:2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	perspective: 2000px;
}


.sample-docs .loader{
	background-image:url(https://obj.diksha.gov.in/ntp-content-production/homepage/prod/tenants/cg/pics/loader.gif);
	width:22px;
	height:22px;
	position:absolute;
	top:280px;
	left:219px;
}

.sample-docs .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

.sample-docs .tabs{
	width:942px;
	height:22px;
	top:-22px;
	position:relative;
	z-index:1;
}

.sample-docs .tabs > div{
	width:461px;
	height:22px;
	float:left;
}

.sample-docs .tabs .left{
	text-align:left;
	margin-left:10px;
}


.sample-docs .tabs .right{
	text-align:right;
	margin-right:10px;
}

.sample-docs .tabs a{
	color:black;
	-webkit-border-image: url(https://obj.diksha.gov.in/ntp-content-production/homepage/prod/tenants/cg/pics/tab-off.png) 5 20 5 20 repeat stretch;
	border-width: 5px 20px 5px 20px;
	display:inline-block;
	font:bold 11px arial;
	text-shadow:1px 1px 0 #ddd;
	color:#333;
	line-height:12px;
	text-decoration:none;
}

.sample-docs .tabs .on,
.sample-docs .tabs .on:hover{
	-webkit-border-image: url(https://obj.diksha.gov.in/ntp-content-production/homepage/prod/tenants/cg/pics/tab-on.png) 5 20 5 20 repeat stretch;
	cursor:default;
}

.sample-docs .tabs a:hover{
	color:black;
	text-decoration: none;
	cursor:pointer;
	-webkit-border-image: url(https://obj.diksha.gov.in/ntp-content-production/homepage/prod/tenants/cg/pics/tab-hover.png) 5 20 5 20 repeat stretch;

}

 .next-button,
 .previous-button{
	width:22px;
	height:600px;
	position:absolute;
	top:0;
}

 .next-button{
	right:-22px;
	-webkit-border-radius:0 15px 15px 0;
	-moz-border-radius:0 15px 15px 0;
	-ms-border-radius:0 15px 15px 0;
	-o-border-radius:0 15px 15px 0;
	border-radius:0 15px 15px 0;
	background-image:url(https://obj.diksha.gov.in/ntp-content-production/homepage/prod/tenants/cg/pics/arrows.png);
	background-position:-38px 284px;
	background-repeat:no-repeat;
	opacity: 0.5;
	background-color:rgba(255,255,255, 0.4);
	/* background-color:rgba(0,0,0, 0.4); */
}

 .previous-button{
	left:-22px;
	-webkit-border-radius:15px 0 0 15px;
	-moz-border-radius:15px 0 0 15px;
	-ms-border-radius:15px 0 0 15px;
	-o-border-radius:15px 0 0 15px;
	border-radius:15px 0 0 15px;
	background-image:url(https://obj.diksha.gov.in/ntp-content-production/homepage/prod/tenants/cg/pics/arrows.png);
	background-position:-4px 284px;
	background-repeat:no-repeat;
	opacity: 0.5;
	background-color:rgba(255,255,255, 0.4);
	/* background-color:rgba(0,0,0, 0.4); */
}

 .previous-button-hover,
 .next-button-hover{
	background-color:rgba(255,255,255, 0.4);
	/* background-color:rgba(0,0,0, 0.4); */
}

 .previous-button-hover,
 .previous-button-down{
	background-image:url(https://obj.diksha.gov.in/ntp-content-production/homepage/prod/tenants/cg/pics/arrows.png);
	background-position:-4px 284px;
	background-repeat:no-repeat;
	opacity: 1;
}

 .previous-button-down,
 .next-button-down{
	background-color:rgba(255,255,255, 0.4);
	/* background-color:rgba(0,0,0, 0.4); */
}

 .next-button-hover,
 .next-button-down{
	background-image:url(https://obj.diksha.gov.in/ntp-content-production/homepage/prod/tenants/cg/pics/arrows.png);
	background-position:-38px 284px;
	background-repeat:no-repeat;
	opacity: 1;
}

 .zoom-in .next-button,
 .zoom-in .previous-button{
	display:none;
}