---
layout: default
---



<!-- 
<section class="section-1 no-sticky-top" id="section1">
    {% include home-banners.html %}
</section>

    <section class="section-path pt-4 d-none d-md-block" id="sectionPath" >
    {% include milestones.html %}
</section>

    <section class="section-path-mobile pt-4 d-block d-sm-block d-md-none" id="sectionPath" >
    {% include milestones-mobile.html %}
</section> -->


<section class="relative">
    <section class="vidyaDaan-participate">
        {% include home-participate.html %}
    </section>
    <section class="environment-banner">
        {% include environment-banner.html %}
    </section>
    <section class="diksha-statistics">
        {% include diksha-statistics.html %}
    </section>
    <section class="section-3 bg-lght vertical-sections" id="section3">
        {% include home-verticals.html %}
    </section>
</section>

<section class="section-4 bg-lght featured-content-container pt-5" id="section4">
    {% include featured-content.html %}
</section>

<section class="section-5 pb-5 testimoninal-container" id="section5">
    {% include testimoninals.html %}
</section>

<section class="section-6 inFocus-container" id="section6">
    {% include infocus.html %}
</section>