---
layout: home-layout
permalink: /data/
title: Dashboard
---

<style>

.dashbord-matrics-data {
    margin: 50px 0;

}
.dashbord-matrics-data .switch-field {
  display: flex;
  margin: 0;
  z-index: auto;
  z-index: inherit;
  position: static;
}


.dashbord-matrics-data .switch-field label {
font-family: 'Noto Sans';
margin: 0 12px;
border: 1px solid #0C4E9E;
font-size: 16px;
padding: 8px 16px;
border-radius: 4px;
}

.dashbord-matrics-data .switch-field input:checked+label {
background-color: #004e9d;
box-shadow: none;
color: #fff;
}

.dashbord-matrics-data .diksha-app-text {
  margin: 20px 0;
  font-size: 18px;
  
}
.dashbord-matrics-data .country-dropdown{
  margin: 15px 0;
}
.dashbord-matrics-data .country-dropdown select{
  font-size: 12px;
    background-color: transparent;
    border: 1px solid #0C4E9E;
    padding: 8px 5px;
}
.dashbord-matrics-data .country-dropdown select:focus-visible{
  border: 1px solid #0C4E9E !important;
}
.dashbord-matrics-data .top-states-table table tr:first-child{
  background-color: #0C4E9E;
    /* border-radius: 18px 18px 0 0; */
    border-collapse: collapse;
    border-radius: 15px;

}
</style>


<div >
  {% include dashboard-banner.html %}
</div>
<div class="dashbord-matrics-data">
<div class="container">
<div class="container-box">
  <div class="row">
      <div class="col-md-6">
          <div class="switch-field">
              <input type="radio" id="radio-four" name="switch-two" value="usageMetrics" checked />
              <label for="radio-four" tabindex="0" data-translate="usageMetrics">{{site.data.text.usageMetrics}}</label>
              <input type="radio" id="radio-five" name="switch-two" value="creationMetrics" />
              <label for="radio-five" tabindex="0" data-translate="contributionMetrics">{{site.data.text.contributionMetrics}}</label>
              <input type="radio" id="radio-six" name="switch-two" value="courseMetrics" />
              <label for="radio-six" tabindex="0" data-translate="courseMetrics">{{site.data.text.courseMetrics}}</label>
          </div>
      </div>
      <div class="col-sm-6">
          <div class="download-report">
              <!-- <button type="button"
              class="sb-btn sb-btn-normal sb-btn-radius px-16 sb-btn-secondary sb-btn-explore-diksha datasets-navigation" data-translate="Datasets">{{ site.data.text.Datasets }}</button> -->
          </div>
      </div>
  </div>
  {% include page-data-dashboard-new.html %}
</div>
</div>
</div>

