---
layout: home-layout
permalink: /dikshaforstudents/
title: Diksha For Students Page
---

<div>
    {% include diksha-for-student-banner.html %}
    {% include diksha-for-student-feature.html %}
    <div id="scrollMainContent"></div>
    {% include diksha-for-student-study.html %}
    {% include diksha-for-student-testimonial.html %}

</div>

{% contentfor mobileview %}
<div>
    {% include diksha-for-student-banner.html %}
    {% include diksha-for-student-feature.html %}
    <div id="scrollMainContent"></div>
    {% include diksha-for-student-study.html %}
    {% include diksha-for-student-testimonial.html %}
   
</div>
{% endcontentfor %}