---
layout: home-layout
title: Homepage
---
    <div>
        {% include page-home-slider-new.html %}
        {% include line-banner.html %}
        {% include browser-by-board.html %} 
        {% include focus-areas-diksha.html %}
        {% include learning-classes-diksha.html %}
        {% include diksha-numbers.html %}
        {% include mobile-app.html %}
    </div>
  


    {% contentfor mobileview %}
    <div>
        {% include line-banner.html %}
        {% include page-home-slider-new.html %}
        {% include browser-by-board.html %} 
        {% include focus-areas.html %}
        {% include learning-classes.html %}
        {% include page-about-tab-about.html %}
        
    </div>
    {% endcontentfor %}



