---
layout: home-layout
title: Home
---


<div id="scrollMainContent"></div>
{% include page-home-slider-new.html %}  
<div class="container">
    {% include explore-diksha.html %}  
    <h2 class="dk-info-home__sectiontitle">Browser By Board</h2>
    {% include browser-by-board.html %}   
    {% include home-mobile.html %}

<div class="diksha-number-container">
    <h2 class="dk-number__centertitle" >DIKSHA in Numbers</h2>
    <div class="switch-field-new">
        <input type="radio" id="radio-one" name="switch-two" value="usageMetrics" checked />
        <label for="radio-one" tabindex="0" data-translate="usageMetrics">{{site.data.text.usageMetrics}}</label>
        <input type="radio" id="radio-two" name="switch-two" value="creationMetrics" />
        <label for="radio-two" tabindex="0" data-translate="contributionMetrics">{{site.data.text.contributionMetrics}}</label>
        <input type="radio" id="radio-three" name="switch-two" value="courseMetrics" />
        <label for="radio-three" tabindex="0" data-translate="courseMetrics">{{site.data.text.courseMetrics}}</label>
    </div>
    <div class="sb-g relative5">
        <div class="sb-g-col-xs-12 sb-g-col-md-8 sb-g-col-lg-8 sb-g-col-xxxl-8 section-usageMetrics">
            <div class="dk-page-home-metrics-new text-left">{% include page-home-metrics-new.html %}</div>
        </div>
        <div class="sb-g-col-xs-12 sb-g-col-md-8 sb-g-col-lg-8 sb-g-col-xxxl-8 section-creationMetrics">
            <div class="dk-page-home-metrics-new text-left">{% include page-creation-metrics-new.html %}</div>
        </div>
        <div class="sb-g-col-xs-12 sb-g-col-md-8 sb-g-col-lg-8 sb-g-col-xxxl-8 section-courseMetrics">
            <div class="dk-page-home-metrics-new text-left">{% include page-courses-metrics-new.html %}</div>
        </div>
        <div class="sb-g-col-xs-12 sb-g-col-md-4 sb-g-col-lg-4 sb-g-col-xxxl-4">
            <div class="pt-32 pr-32">
                {% include page-india-metrics-new.html %}
            </div>
        </div>
    </div>
</div>
    
</div>








