---
layout: home-layout
title: Home
---
    <div id="scrollMainContent"></div>
    {% include hero-section.html %}
    {% include browser-by-board.html %}      
    {% include page-home-slider-new.html %}
    <div class="container">
        {% include learning-classes.html %}
    </div>
    {% include explore-ncrt.html %}
    {% include diksha-numbers.html %}
    {% include explore-vidyadaan.html %}
    <div class="container">
        <!-- {% include mobile-device-app.html %} -->
    </div>
    {% include diksha-mobile-app.html %}



