---
layout: home-layout
title: Homepage
---
    <div>
        <div class="modal fade bd-example-modal-lg" id="banner-modal-popup" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}onload-popup-image.gif" alt="pop-up-img" class="banner-popup-img">
                  <!-- <img src="assets/homepage/onload-popup-image.gif" alt="pop-up-img" class="banner-popup-img"> -->
                </div>
              </div>
            </div>
          </div>
        {% include page-home-slider-new.html %}
        {% include line-banner.html %}
        {% include browser-by-board.html %} 
        <div id="scrollMainContent"></div>
        {% include focus-areas-diksha.html %}
        {% include learning-classes-diksha.html %}
        {% include diksha-numbers.html %}
        <!-- {% include diksha-mobile-app.html %} -->
        {% include mobile-app.html %}
    </div>
    
    {% contentfor mobileview %}
    <div>
        {% include page-home-slider-new.html %}
        {% include line-banner.html %}
        {% include browser-by-board.html %} 
        <div id="scrollMainContent"></div>
        {% include focus-areas-diksha.html %}
        {% include learning-classes-diksha.html %}
        {% include diksha-numbers.html %}
        <!-- {% include diksha-mobile-app.html %} -->
        {% include mobile-app.html %}
    </div>
    {% endcontentfor %}



