---
layout: home-layout
permalink: /exploreasteacher/
title: Nistha Landing Page
---

<div>
    {% include nistha-lp-banner.html %}
    {% include nistha-steps.html %}
    {% include nistha-why.html %}
    {% include nistha-covers.html %}
    {% include nistha-certifications.html %}
    {% include nistha-testimonial.html %}
    <div id="scrollMainContent"></div>
    {% include nistha-diksha-classroom.html %}
</div>

{% contentfor mobileview %}
<div>
    {% include nistha-lp-banner.html %}
    {% include nistha-steps.html %}
    {% include nistha-why.html %}
    {% include nistha-covers.html %}
    {% include nistha-certifications.html %}
    {% include nistha-testimonial.html %}
    <div id="scrollMainContent"></div>
    {% include nistha-diksha-classroom.html %}
</div>
{% endcontentfor %}