<style>
  /****** START COMMON TITLE DESING******/
  .head-title {
    font-family: 'Outfit', sans-serif;
    /* display: flex; */
    justify-content: center;
    font-size: 2.5rem;
    margin-bottom: 3.125rem;
    font-weight: 600;
    text-align: center;
    }
    


    .misstion-visstion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.125rem 0;
    }
    .misstion-visstion  img{
        width: 100%;
    }
    .about {
    font-size: 1.125rem;
    line-height: 1.875rem;
    text-align: justify;
    margin: 1.25rem 0;
    }
    .mission p{
        height: 100%;
        font-size: 1.125rem;
        line-height: 1.875rem;
        text-align: justify;
    }
</style>
<div class="container">
    <div class="container-box">
        <div class="head-title">
            <span class="text" data-translate="aboutDikshaHeading">{{site.data.text.aboutDikshaHeading}}</span>
        </div>
        <div class="about" data-translate="aboutDescription" >
            {{site.data.text.aboutDescription}}
        </div>
        <div class="row d-flex">
            <div class="col-md-6 col-sm-12">
                <div class=" content misstion-visstion">
                    <img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/imgs/about/mission-vision.png" alt="vision">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="content">
                    <div class="  head-title">
                        <span class="text"  data-translate="missionVision"> {{site.data.text.missionVision}}</span>
                    </div>
                    <div class="mission">
                        <p  data-translate="missionVisionDiscp1">
                            {{site.data.text.missionVisionDiscp1}}
                        </p>
                        <p  data-translate="missionVisionDiscp2">
                            {{site.data.text.missionVisionDiscp2}}
                        </p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
        </div>
    