<style>
    .bg-yellow{
        background-image: url({{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/imgs/about/yellow.png);
        background-repeat: no-repeat;
        background-size: cover;

    }
    .bg-blue{
        background-image: url({{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/imgs/about/blue.png);
        background-repeat: no-repeat;
        background-size: cover;

    }
    .bg-red{
        background-image: url({{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/imgs/about/red.png);
        background-repeat: no-repeat;
        background-size: cover;

    }
    .dovument {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.875rem;
}

.pdf-doc {
    padding:1.875rem;
    width: 322px;
    margin: 1.875rem;
    border-radius: 0.75rem;
}
button.view-pdf {
    outline: none;
    border: 0;
    border-radius: 1.1875rem;
    padding: 0.125rem 0.6875rem;
   
}
button.view-pdf a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
}
.pdf-content {
    padding: 0.9375rem 0;
}
.btn-yellow{
    background-color: #B19834;
}
.btn-blue{
    background-color: #6969B3;
}
.btn-red{
    background-color: #B76A6A;
}
</style>

<div class="container">
    <div class="container-box">
        <div class=" content head-title">
            <span class="text" data-translate="aboutDocument" >  {{site.data.text.aboutDocument}} </span>
        </div>
        <div class="row document">
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex"> 
                <div class="pdf-doc bg-yellow">
                    <div class="pdf-deatils">
                        <div class="pdf">
                            <img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/imgs/about/pdf.png" alt="pdf">
                        </div>
                        <div class="pdf-content">DIKSHA - Learnings from India Experience</div>
                        <div class="pdf-action">
                            <button class="view-pdf btn-yellow">
                                <a href="https://obj.diksha.gov.in/ntp-content-production/homepage/prod/pdfdata/Secretary_DoSEL_Presentation_World_Bank_Webinar.pdf" target="_blank" data-translate="view"> {{site.data.text.view}}
                                    <span><img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/imgs/about/Arrow forward.png" ></span>
                                </a>
                            </button>
                        </div>
                    </div>  
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex">
                <div class="pdf-doc bg-blue ">
                    <div class="pdf-deatils">
                        <div class="pdf">
                            <img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/imgs/about/pdf.png" alt="pdf">
                        </div>
                        <div class="pdf-content">India Report Digital Education - 2020</div>
                        <div class="pdf-action">
                            <button class="view-pdf btn-blue">
                                 <a href="https://www.education.gov.in/sites/upload_files/mhrd/files/India_Report_Digital_Education_0.pdf" target="_blank" data-translate="view"> {{site.data.text.view}}
                                        <span><img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/imgs/about/Arrow forward.png"> </span>
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex">
                <div class="pdf-doc bg-red">
                    <div class="pdf-deatils">
                        <div class="pdf">
                            <img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/imgs/about/pdf.png" alt="pdf">
                        </div>
                        <div class="pdf-content">India Report Digital Education - 2021</div>
                        <div class="pdf-action">
                            <button class="view-pdf btn-red">
                                <a href="https://www.education.gov.in/sites/upload_files/mhrd/files/irde_21.pdf" target="_blank" data-translate="view"> {{site.data.text.view}}
                                    <span><img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/imgs/about/Arrow forward.png"> </span>
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex">
                <div class="pdf-doc bg-yellow">
                    <div class="pdf-deatils">
                        <div class="pdf">
                            <img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/imgs/about/pdf.png" alt="pdf">
                        </div>
                        <div class="pdf-content">NATIONAL TEACHER PLATFORM (Strategy and Approach)</div>
                        <div class="pdf-action">
                            <button class="view-pdf btn-yellow ">
                                <a href="https://diksha.gov.in/assets/download/National%20Teachers%20Platform-%20Strategy%20&%20Approach.pdf" target="_blank" data-translate="view"> {{site.data.text.view}}
                                    <span><img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/imgs/about/Arrow forward.png"> </span>
                                 </a>
                            </button>
                        </div>
                    </div>  
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex">
                <div class="pdf-doc bg-blue ">
                    <div class="pdf-deatils">
                        <div class="pdf">
                            <img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/imgs/about/pdf.png" alt="pdf">
                        </div>
                        <div class="pdf-content">PRAGYATA, Guidelines for Digital Education </div>
                        <div class="pdf-action">
                            <button class="view-pdf btn-blue">
                                <a href="https://www.education.gov.in/sites/upload_files/mhrd/files/pragyata-guidelines_0.pdf" target="_blank" data-translate="view"> {{site.data.text.view}}
                                    <span><img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/imgs/about/Arrow forward.png"> </span>
                                </a>
                                    
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex">
                <div class="pdf-doc bg-red">
                    <div class="pdf-deatils">
                        <div class="pdf">
                            <img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/imgs/about/pdf.png" alt="pdf">
                        </div>
                        <div class="pdf-content">Design and Architecture Framework for Education Ecosystem Registry</div>
                        <div class="pdf-action">
                            <button class="view-pdf btn-red">
                                <a href="https://www.education.gov.in/sites/upload_files/mhrd/files/upload_document/EER-v9.pdf" target="_blank" data-translate="view"> {{site.data.text.view}}
                                    <span><img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/imgs/about/Arrow forward.png"> </span>
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>