<style>
    /****** START COMMON TITLE DESING******/
.head-title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 27px;
    font-weight: 600;
    }
    .head-title .bottom-image {
    position: relative;
    }
    .head-title .bottom-image::after{
      content: " ";
      background-image: url(/images/img-bottom.png);
      width: 100%;
      height: 100%;
      bottom: -16px;
      left: 0px;
      position: absolute;
    }
    /******COMMON TITLE DESING******/

    
    .new-banner{
        width: 100%;
        background: rgb(150,74,218);
        background: linear-gradient(258deg, rgba(150,74,218,0.6362920168067228) 0%, rgba(150,74,218,1) 40%, rgba(40,24,95,1) 86%);

    }
    .about-caption{
        padding: 52px 0;
        color: #fff;
        
    }
    .about-caption .diksha-title{
        font-size: 48px;
        font-weight: 600px;
    } 
    .about-caption .diksha-desc{

    } 
</style>
<div class="new-banner">
    <div class="container">
        <div class="container-box">
            <div class="about-caption"> 
                <div class="diksha-title">About DIKSHA</div>
                <div class="diksha-desc">An initiative of the National Council of Educational Research and Training (Ministry of Education, Govt of India)</div>
            </div>
        </div>
    </div>
</div>