<style>
    .bg-yellow{
        background-image: url(../assets/imgs/about/yellow.png);
        background-repeat: no-repeat;

    }
    .bg-blue{
        background-image: url(../assets/imgs/about/blue.png);
        background-repeat: no-repeat;

    }
    .bg-red{
        background-image: url(../assets/imgs/about/red.png);
        background-repeat: no-repeat;

    }
    .dovument {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.pdf-doc {
    padding:30px;
    width: 322px;
    margin: 30px;
    border-radius: 12px;
}
button.view-pdf {
    outline: none;
    border: 0;
    border-radius: 19px;
    padding: 2px 11px;
    color: #fff;
}
.pdf-content {
    padding: 15px 0;
}
.btn-yellow{
    background-color: #B19834;
}
.btn-blue{
    background-color: #6969B3;
}
.btn-red{
    background-color: #B76A6A;
}
</style>

<div class="container">
    <div class="container-box">
        <div class=" content head-title">
            <div class="text"><span class="bottom-image">Documents</span> </div>
        </div>
        <div class="dovument">
            <div class="pdf-doc bg-yellow">
                <div class="pdf-deatils">
                    <div class="pdf">
                        <img src="../assets/imgs/about/pdf.png" alt="pdf">
                    </div>
                    <div class="pdf-content">DIKSHA - Learnings from India Experience</div>
                    <div class="pdf-action">
                        <button class="view-pdf btn-yellow">view
                            <span><img src="../assets/imgs/about/Arrow forward.png" ></span>
                        </button>
                    </div>
                </div>  
            </div>
            <div class="pdf-doc bg-blue ">
                <div class="pdf-deatils">
                    <div class="pdf">
                        <img src="../assets/imgs/about/pdf.png" alt="pdf">
                    </div>
                    <div class="pdf-content">India Report Digital Education - 2020</div>
                    <div class="pdf-action">
                        <button class="view-pdf btn-blue">view
                            <span><img src="../assets/imgs/about/Arrow forward.png"> </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="pdf-doc bg-red">
                <div class="pdf-deatils">
                    <div class="pdf">
                        <img src="../assets/imgs/about/pdf.png" alt="pdf">
                    </div>
                    <div class="pdf-content">India Report Digital Education - 2021</div>
                    <div class="pdf-action">
                        <button class="view-pdf btn-red">view
                            <span><img src="../assets/imgs/about/Arrow forward.png"> </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="pdf-doc bg-yellow">
                <div class="pdf-deatils">
                    <div class="pdf">
                        <img src="../assets/imgs/about/pdf.png" alt="pdf">
                    </div>
                    <div class="pdf-content">NATIONAL TEACHER PLATFORM (Strategy and Approach)</div>
                    <div class="pdf-action">
                        <button class="view-pdf btn-yellow ">view
                            <span><img src="../assets/imgs/about/Arrow forward.png"> </span>
                        </button>
                    </div>
                </div>  
            </div>
            <div class="pdf-doc bg-blue ">
                <div class="pdf-deatils">
                    <div class="pdf">
                        <img src="../assets/imgs/about/pdf.png" alt="pdf">
                    </div>
                    <div class="pdf-content">PRAGYATA, Guidelines for Digital Education </div>
                    <div class="pdf-action">
                        <button class="view-pdf btn-blue">view
                            <span><img src="../assets/imgs/about/Arrow forward.png"> </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="pdf-doc bg-red">
                <div class="pdf-deatils">
                    <div class="pdf">
                        <img src="../assets/imgs/about/pdf.png" alt="pdf">
                    </div>
                    <div class="pdf-content">Design and Architecture Framework for Education Ecosystem Registry</div>
                    <div class="pdf-action">
                        <button class="view-pdf btn-red">view
                            <span><img src="../assets/imgs/about/Arrow forward.png"> </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
</div>