
<style>
    .user-glance {
    margin: 42px 15%;
}
.user-card {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 0.125rem 0.875rem 0 rgba(0,0,0,0.1);
    font-size: 20px;
    line-height: 25px;
    border-radius: 5px;
    margin: 20px 5px;
    color: #1C1D1F;
}
.user-card .user-image img{
    height: 74px;
    width: 71px;
    
}
.user-name {
    padding: 0 23px;
}
</style>
<div class="container">
    <div class="container-box">
        <div class=" content head-title">
            <div class="text">DIKSHA <span class="bottom-image">at a Glance</span> </div>
        </div>
        <div class="user-glance">
            <div class="row">
                <div class="col-md-8">
                    <div class="row-eq-height">
                        <div class="user-desc">DIKSHA can be accessed by learners and teachers across the country and currently supports 36 Indian languages</div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="user-card">
                                    <div class="user-image">
                                        <img src="../assets/imgs/about/student.png" alt="student">
                                    </div>
                                    <div class="user-name">Student</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="user-card">
                                    <div class="user-image">
                                        <img src="../assets/imgs/about/teacher.png" alt="Teacher">
                                    </div>
                                    <div class="user-name">Teacher</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="user-card">
                                    <div class="user-image">
                                        <img src="../assets/imgs/about/parent.png" alt="Parent">
                                    </div>
                                    <div class="user-name">Parent</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="user-card">
                                    <div class="user-image">
                                        <img src="../assets/imgs/about/professional.png" alt="HT & Officials">
                                    </div>
                                    <div class="user-name">HT & Officials</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="user-card">
                                    <div class="user-image">
                                        <img src="../assets/imgs/about/other.png" alt="Other">
                                    </div>
                                    <div class="user-name">Other</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row-eq-height">
                        <img src="../assets/imgs/about/mobile-app.jpg" alt="mobile-app">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>