<div class="dk-browser-by-board-grid">   
<div class="card">
    <div class="d-flex flex-ai-center">
      <div class="inner-column1">
         <div class="d-flex dk-card-new__img">
            <img loading="lazy" decoding="async" src="/assets/diksha-mission/ncert.png" onerror="this.src='/assets/diksha-mission/ncert.png'" alt="NCERT logo">
         </div>
      </div>
      <div class="inner-column2 pl-8">
        <div class="fnormal text-left mb-0">NCERT</div>
        <div class="fnormal text-left mb-0">National Council of Education Research and Training</div>
      </div>    
    </div>    
  </div>
  <div class="card">
    <div class="d-flex flex-ai-center">
      <div class="inner-column1">
         <div class="d-flex dk-card-new__img">
            <img loading="lazy" decoding="async" src="/assets/diksha-mission/cbse.png" onerror="this.src='/assets/diksha-mission/cbse.png'" alt="CBSE logo">
         </div>
      </div>
      <div class="inner-column2 pl-8">
        <div class="fnormal text-left mb-0">CBSE</div>
        <div class="fnormal text-left mb-0">Explore content published by CBSE (Central Board of Secondary Education)</div>
      </div>    
    </div>    
  </div>
  <div class="card">
    <div class="d-flex flex-ai-center">
      <div class="inner-column1">
         <div class="d-flex dk-card-new__img">
            <img loading="lazy" decoding="async" src="/assets/diksha-mission/nios-new.png" onerror="this.src='/assets/diksha-mission/nios-new.png'" alt="NIOS logo">
         </div>
      </div>
      <div class="inner-column2 pl-8">
        <div class="fnormal text-left mb-0">NIOS</div>
        <div class="fnormal text-left mb-0">Explore content published by NIOS (The National Institute of Open Schooling)</div>
      </div>    
    </div>    
  </div>
  <div class="card">
    <div class="d-flex flex-ai-center">
      <div class="inner-column1">
         <!--<div class="d-flex dk-card-new__img">
            <img loading="lazy" decoding="async" src="/assets/diksha-mission/about-new.png" onerror="this.src='/assets/diksha-mission/about-new.png'" alt="logo indicating content from states/UTs on DIKSHA">
         </div>-->
      </div>
      <div class="inner-column2 pl-8">
        <div class="fnormal text-left mb-0">
          <div class="d-flex dk-card-about-new__img"> 
            <img  class="about-new" loading="lazy" decoding="async" src="/assets/diksha-mission/about-new.png" onerror="this.src='/assets/diksha-mission/about-new.png'" alt="logo indicating content from states/UTs on DIKSHA">
            <img  class="about-new1" loading="lazy" decoding="async" src="/assets/diksha-mission/about-new1.png" onerror="this.src='/assets/diksha-mission/about-new1.png'" alt="logo indicating content from states/UTs on DIKSHA">
            <img  class="about-new2" loading="lazy" decoding="async" src="/assets/diksha-mission/about-new2.png" onerror="this.src='/assets/diksha-mission/about-new2.png'" alt="logo indicating content from states/UTs on DIKSHA">
            <img  class="about-new3" loading="lazy" decoding="async" src="/assets/diksha-mission/about-new3.png" onerror="this.src='/assets/diksha-mission/about-new3.png'" alt="logo indicating content from states/UTs on DIKSHA">
          </div>
          </div>
        <div class="fnormal text-left mb-0">
          <select name="state" id="state" class="state-boards" tabindex="0" aria-label="{{ site.data.text.selectState }}" role="presentation" title="state name">
          <option value="Select State" selected>Select State</option>
        </select></div>
      </div>    
    </div>    
  </div>
  </div>