<style>
  .title-diksha-color{
    color:#024F9D;
  }
    .explore-study {
      padding: 50px 0;
      background-color: #F8F8F8;
    }
    .head-title {
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: 600;
    text-align: center;
    }
    .category_title {
      font-size: 1.5rem;
      margin-bottom: 0.625rem;

    }
    .dk-browser-by-board { 
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;
    }
    .dk-browser-by-board .item {
      margin: 30px 0;
      display: flex;
      box-shadow: 0 0.125rem 0.875rem 0 rgba(0,0,0,0.1);
      background-color: #fff;
      border-radius: 16px;
      height: 100%;
      border-radius: 16px;
      flex-direction: column;
      font-family: 'Lato', sans-serif;
      overflow: hidden;
      justify-content: space-between;
    }

    .dk-browser-by-board .item .item-desc{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .dk-browser-by-board .item .img-title .item-desc-title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 6px;
    padding-left: 10px;
    }
    .dk-browser-by-board .item .item-desc .item-desc-detail{
      /* padding: 0 25px; */
      padding-left: 20px;
      padding-right: 35px;
    }

    .dk-browser-by-board .item .img-title {
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
      width: 100%;
      font-size: 20px;
      font-weight: 700;
      padding: 20px;
    }


    .dk-browser-by-board .item .img-title .item-desc-title {
      /* justify-content: center; */
      align-items: center;
      display: flex;
    }

    .dk-browser-by-board .item .item-action{
      background-color: #024F9D;
      padding: 10px;
      color: #FFFFFF;
      width: 100%;
      text-align: center;
      margin-top: 20px;
      font-size: 18px;
    }

    .dk-browser-by-board .item .state-dropdown select {
      width: 100%;
      border-color: #33333382 !important;
      padding: 4px;
      border-radius: 6px;
      color: #434141;
      font-weight: 500;
      background-color: transparent;
    }
    .dk-browser-by-board .items .state-items{
      display: flex;
      flex-direction: column;
    }
    .dk-browser-by-board .item .state-items .group-items{
      display: flex;
      justify-content: center;
      width: 100%
    }

    .dk-browser-by-board .item .state-items .group-items .group-images .img {
      height: 60px;
      width: 60px;
    }
    .dk-browser-by-board .item .state-items  .group-items .group-images .text {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      background-color: #fff;
      font-size: 16px;
      color: #01202B;
      padding: 5px;
      font-weight: bold;
      line-height: 15px;
      letter-spacing: -0.5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .dk-browser-by-board .item .item-desc .items-deopdown {
      width: 100%;
      font-size: 12px !important;
    }

    .dk-browser-by-board .item .item-img .group-images {
      position: relative;
      margin-bottom: 10px;
      height: 63px;
      width: 100%;
    }
    .dk-browser-by-board .item .item-img .group-images .state_1{
      position: absolute;
      top: 6px;
      left: 29px;
      z-index: 1;
    }
    .dk-browser-by-board .item .item-img  .group-images .state_2{
      position: absolute;
      top: 5px;
      left: 48px;
      z-index: 2;
      height: 63px;
      width: 63px;
    }
    .dk-browser-by-board .item .item-img  .group-images .state_3{
      position: absolute;
      top: 6px;
      left: 71px;
      z-index: 3;
    }
    .dk-browser-by-board .item .item-img  .group-images .state_4{
      position: absolute;
      top: 6px;
      left: 100px;
      z-index: 3;
      box-shadow: 0 0.125rem 0.875rem 0 rgba(0,0,0,0.1);
      text-align: center;
    }
    .dk-browser-by-board .item .item-img .items-deopdown select{
      border: 1px solid #D5D5D5;
      padding: 5px;
      width: 200px;
      border-radius: 4px;
    } 
    .dk-browser-by-board a {
      margin: 0;
      text-decoration: none;
    }

    .state-boards :focus-visible {
    border: transparent;
    border-radius: 5px;
    outline: none;
    }
    @media (min-width: 768px) {
      .head-title{
        text-align: center;
      }
      
    }

    @media (min-width: 620px) {

    }



</style>
<div class="explore-study">
  <div class="head-title">
    <span class="text">{{site.data.text.view }}<span class="title-diksha-color">{{site.data.text.dikshatitle }}</span>{{site.data.text.digitalcontent }}</span>
  </div>
  <div class="container">
    <div class="container-box">
      <!-- <h2 class="category_title">Browser By Board</h2> -->
      <div class="row dk-browser-by-board">  
        {% for board in site.data.boards-new.items %}
        <div class="col-lg-3 col-md-6 col-sm-12 my-10">
            <a  href="#"  title="{{board-new.btntitle}}s" class="nonstate-explore" data-slug="{{board.slug}}" data-name="{{board.title}}"
                  data-translate-attr="{board-btntitle: ['title']}">
              <div class="item" >
                <div class="img-title">
                    <div class="item-img">
                      <img loading="lazy" decoding="async" src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/{{board.thumbnail}}"
                              onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/{{board.thumbnail}}'"
                              alt="{{board.title}} logo">
                  </div>
                  <div class="item-desc-title">{{board.title}}</div>
                </div>
                <div class="item-desc">
                  <div class="item-desc-detail">{{board.description}}</div>
                </div> 
                <div class="item-action">
                  <div class="view_more">{{site.data.text.viewMore}} <span class="ml-5"> <img src="../assets/homepage/view-more.png" alt="view-more"> </span>
                  </div>
                </div> 
              </div> 
            </a>    

        </div>
        {% endfor %}
          
        <div class="col-lg-3 col-md-6 col-sm-12 my-10">
            <div class="item">
                <div class="img-title">
                    <div class="item-img">
                      <img src="/assets/homepage/all-state.png" alt="UT-Borad">
                    </div>
                    <div class="title-dropdown">
                        <div class="item-desc-title">{{site.data.text.stateboard }}</div>
                        <div class="state-dropdown">
                          <select name="state" id="state" class="state-boards" tabindex="0" aria-label="{{ site.data.text.selectState }}" role="presentation" title="state name">
                            <option value="Select State" selected>Select State</option>
                          </select>
                        </div>
                    </div>
                </div>
                <div class="item-desc">
                  <div class="item-desc-detail">{{ site.data.text.stateboardDescription }}</div>
                  <div class="items-deopdown ">
                  </div>
                </div>
                <div class="item-action">
                  <div class="view_more state-explore">{{site.data.text.viewMore}}<span class="ml-5"> <img src="../assets/homepage/view-more.png" alt="view-more"> </span>
                  </div>
                </div> 
            </div>
        </div>
      </div>
    </div> 
  </div>
</div>
  




