<div class="modal fade data-dictionary-modal-lg" id="dictionaryModal" tabindex="-1" role="dialog" aria-labelledby="dataDictionaryModalLabel"
    aria-hidden="true">
    cardpage
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header p-30">
                <h3 class="modal-title" data-translate="datadictionary"> {{site.data.text.datadictionary}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body dictionary-table-data"></div>
            <div class="modal-footer">
                <button type="button" class="dictionary-download-button" data-translate="download">{{site.data.text.download}}</button>
            </div>
        </div>
    </div>
</div>