<div class="ui-breadcrumbs bg-yellow container-fluid">
    <ol class="list">
        <li>
            <a href="/data/" data-translate="dashboard">{{site.data.text.dashboard}}</a>
        </li>
        <span>></span>
        <li>
            <a href="/data/datasets/" class="active mid-crumb" data-translate="Datasets">{{site.data.text.Datasets}}</a>
        </li>
        <span class="isDetails">></span>
        <li class="isDetails">
            <a href="#" class="active" data-translate="Details">{{site.data.text.Details}}</a>
        </li>
        <span class="isUsefulLinks">></span>
        <li class="isUsefulLinks">
            <a href="#" class="active" data-translate="usefulLinks">{{site.data.text.usefulLinks}}</a>
        </li>
    </ol>
</div>