<!-- <h4 class="useful-links-heading px-15 mb-24">{{site.data.text.usefulLinks}}</h4>
<div class="container-fluid sb-g borders">
    {% for ul in site.data.usefullinks.items %}

    <div class="sb-g-col-xs-12 sb-g-col-md-12 sb-g-col-lg-12 sb-g-col-xl-12 sb-g-col-xxl-12 sb-g-col-xxxl-12">
            <div class="ul-card p-15">
                <div class="sb-g">
                    <div
                        class="sb-g-col-xs-12 sb-g-col-md-12 sb-g-col-lg-12 sb-g-col-xl-12 sb-g-col-xxl-12 sb-g-col-xxxl-12">
                        <a href="/data/datasets/useful-links/">
                        <h4 class="mb-16">{{ul.title}}</h4>
                        <p class="mb-16">{{ul.description}}</p>
                        </a>
                    </div>
                </div>
                {% if ul.link %}
                <div class="sb-g">
                    <div class="sb-g-col-xs-9 sb-g-col-md-9 sb-g-col-lg-9 sb-g-col-xl-9 sb-g-col-xxl-9 sb-g-col-xxxl-9">
                        <p class="links mb-0">{{ul.link}}</p>
                    </div>
                    <div
                        class="sb-g-col-xs-3 sb-g-col-md-3 sb-g-col-lg-3 sb-g-col-xl-3 sb-g-col-xxl-3 sb-g-col-xxxl-3 flex-box">
                        <a href="javascript:void(0);">
                            <img src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/diksha-mission/catalogue/copy.svg"
                                onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission/catalogue/copy.svg'"
                                class="icon" alt="Copy Image">
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
    </div>
    {% endfor %}
</div> -->