<style>
    .thumbnail-title {
        font-family: inherit;
        font-weight: 700;
        line-height: 1.2;
        color: #fff;
        font-size: 1.25rem;
        padding: 7px 0;
        text-align: center;
	}
	section.thumbnail-heading-featured {
		color: #fff;
		background-color: #64b2dc;
		margin: 0 -54px;
	}
</style>
<section class=" section-4 bg-lght featured-content-container feature-content-section" id="section4">
    <section class="thumbnail-heading-featured">
        <div class="thumbnail-title">Featured Content</div>
    </section>
        <div class="container relative mt-5">
            <div class="row video-player-div">
              <div class="col-sm-12 col-md-12 text-center">
                <div class="featured-content-video">
                  <div class="video-container">
                    <div class="video-player content-player" id="featuredContentPlayer">
                      <div class="phone-sensors">
                        <div class="sensor"></div>
                        <div class="speaker"></div>
                        <div class="sensor"></div>
                      </div>
                      <div class="play-button" id="featureContentPlay">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    <!-- </div> -->
    <script async defer src="assets/js/default/featured-content-video.js"></script>
</section>