<style>
    .thumbnail .item-wrap{
		padding: 3px;
    	border-radius: 4px;
		
	}
	.thumbnail .guideline{
		background-color: #D55F37;
	}

	.thumbnail .item {
		padding: 0px 56px;
		border: 1.5px solid #fff;
		display: flex;
		justify-content: center;
	}

	.thumbnail .item .box{
		/* background-color: #fff; */
		display: flex;
		width: 100%;
		padding: 14px 10px;
		font-weight: 500;
    	display: flex;
    	justify-content: center;
    	font-size: 22px;
		color: #fff;
	}

	.thumbnail .action {
		display: flex;
		justify-content: center;
	}
	.thumbnail .book-practice{
		background-color: #f8a445
	}
	.thumbnail .videos{
		background-color: #5D28B8;
	}
</style>
<section>
    <div class="container mt-4">
        <div class="row thumbnail">
            <div class="col-md-4 justify-content-center">
                <div class="item-wrap guideline">
                    <div class="item">
                        <div class="box ">
                            Documents
                        </div>
                    </div>
                </div>
                <div class="action mt-3">
                    <a class="btn text-light collapsed " style="background-color: #D55F37;" target="_blank" href="#">
                        <i class="far fa-hand-point-right"></i>&nbsp;<strong>Explore </strong>
                    </a>
                </div>
            </div>
            <div class="col-md-4 justify-content-center">
                <div class="item-wrap book-practice">
                    <div class="item">
                        <div class="box">
                            Salient Practices
                        </div>
                    </div>
                </div>
                <div class="action mt-3">
                    <a class="btn text-light collapsed " style="background-color: #f8a445;" target="_blank" href="#">
                        <i class="far fa-hand-point-right"></i>&nbsp;<strong>Explore </strong>
                    </a>
                </div>
            </div>
            <div class="col-md-4 justify-content-center">
                <div class="item-wrap videos">
                    <div class="item">
                        <div class="box ">
                            Disability Workshop
                        </div>
                    </div>
                </div>
                <div class="action mt-3">
                    <a class="btn text-light collapsed" style="background-color: #5D28B8;" target="_blank" href="#">
                        <i class="far fa-hand-point-right"></i>&nbsp;<strong>Explore </strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>