<style>
    .new-banner{
       width: 100%;
       background: rgb(150,74,218);
       background: linear-gradient(258deg, rgba(150,74,218,0.6362920168067228) 0%, rgba(150,74,218,1) 40%, rgba(40,24,95,1) 86%);

   }
   .about-caption{
       padding: 52px 0;
       color: #fff;
       
   }
   .about-caption .diksha-title{
       font-size: 48px;
       font-weight: 600px;
   } 
   .about-caption .diksha-desc{

   } 
</style>
<div class="new-banner">
   <div class="container">
       <div class="container-box">
           <div class="about-caption"> 
               <div class="diksha-title">Dashboard</div>
               <div class="diksha-desc">Various metrics across the country</div>
           </div>
       </div>
   </div>
</div>