<style>
    .diksha-ht-banner img{
        max-width: 100%;
        height: auto;
        width: 100%;
        min-height: 410px;
    }

    .diksha-ht-track-process {
        padding: 3rem 0;

    }
    .diksha-ht-track-process .nistha-sub-head{
        text-align: center;
        margin-bottom: 6rem;
    }
    .diksha-ht-track-process .nistha-sub-head h2{
        font-size: 40px;
        line-height: 33.6px;
        color: #434141;
        font-weight: 500;
        font-family: 'Outfit';
        position: relative;
        display: inline-block;
        padding: 0 10px;
    }
    .diksha-ht-track-process .nistha-sub-head h2::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #005DA3;
        bottom: -15px;
    }
    @media (max-width: 767.98px){
        .nistha-sub-head {
            padding: 0 5px;
        }
        .nistha-sub-head h2{
            font-size: 27px !important;
        }
        .diksha-ht-banner img{
            min-height: auto !important;
        }
    }

    .ht-banner-slider .carousel-indicators {
        bottom: 0 !important;
        background-color: transparent;
        padding: 10px;
    }

.ht-banner-slider .carousel-indicators li {
    /* width: .4375rem;
    height: .4375rem; */
    background: rgba(140, 140, 140, 1);
    margin-right: .6875rem;
    cursor: pointer;
    height: 6px;
    width: 16px;
    border: none;
    border-radius: 8px;
}
.ht-banner-slider .carousel-indicators li,.ht-banner-slider .carousel-indicators .active {
    border-radius: 16px
}

.ht-banner-slider .carousel-indicators .active {
    /* width: .75rem;
    height: .75rem; */
    height: 9px;
    width: 24px;
    background-color:#005DA3;
}
.ht-banner-slider img{
    max-width: 100%;
    height: auto;
    width: 100%;
    min-height: 410px;
}
@media (max-width: 767.98px){
    .ht-banner-slider img{
        min-height: auto !important;
    }
}
</style>
<div class="diksha-ht-banner">
  
        <div id="student-head" class="carousel slide ht-banner-slider" data-bs-ride="carousel">
            <div class="carousel-inner" title="">
                <div class="carousel-item carousel3-bg active" role="option">
                    <img loading="lazy" decoding="async" class="carousel-img-height" 
                        src="../assets/homepage/diksha-ht/head-teacher-slider1.jpg"
                        alt="slider1">
                </div>
                <div class="carousel-item carousel3-bg" role="option">
                        <img loading="lazy" decoding="async"  class="carousel-img-height"
                            src="../assets/homepage/diksha-ht/head-teacher-slider2.jpg"
                            alt="slider2" loading="lazy" decoding="async">
                </div>  
            </div>   
            <ol class="carousel-indicators">
                <li data-bs-target="#student-head" tabindex="0" data-bs-slide-to="0" aria-current="page" class="active"
                aria-controls="carousel-items" aria-label="slider1"></li>
                <li data-bs-target="#student-head" tabindex="0" data-bs-slide-to="1" aria-current="page" 
                aria-controls="carousel-items" aria-label="slider2"></li>  

            </ol>
            <a class="carousel-control-prev" href="#student-head" data-bs-target="#student-head" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </a>
              <a class="carousel-control-next" href="#student-head"  data-bs-target="#student-head" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </a>
        </div>
  
</div>
