<style>
    .eco-sys-img{
        max-width: 100%;
        height: auto;
    }
</style>
<div class="others-ecosystem-sec">
    <div class="nistha-sub-head">
        <h2>DIKSHA : A digital educational ecosystem for everyone</h2>
    </div>
    <div class="container">
        <div class="container-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="ecosystem-sec">
                        <img src="../assets/homepage/nistha-lp/others/ecosystem3.png" alt="ecosystem" class="eco-sys-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
