
<style>

    .bg-purple{
        background-image: url(../assets/homepage/diksha-student/bg-purple.png);
        background-repeat: no-repeat;
    }
    .border-purple{
        border-color:#7653A2;
    }
    .border-purple{
        color:#7653A2;
    }
    .feature-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
   align-items: center;
   /* margin-top: -60px; */
}

.students-feature-items {
    z-index: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100%;
    margin-left: -4.4%;
    justify-content: center;

    
}
/* .students-feature-items::before{
    content: "";
    background-image: url(../assets/homepage/diksha-student/pencil.png);
    background-repeat: no-repeat;

} */
.student-feature-detail {
    font-size: 20px;
    color: #fff;
    /* padding: 16px; */
    background-repeat: no-repeat;
    line-height: 35px;
    /* padding-right: 100px; */
    padding: 2% 6% 2% 4%;
    background-size: cover;
   
}
.bg-green {
    background-image: url(../assets/homepage/diksha-student/bg-green.png);
   

}
.bg-pink {
    background-image: url(../assets/homepage/diksha-student/bg-pink.png);
    
}
.bg-blue {
    background-image: url(../assets/homepage/diksha-student/bg-pink.png);
  

}
.bg-blue {
    background-image: url(../assets/homepage/diksha-student/bg-blue.png);
  

}
.bg-lightblue {
    background-image: url(../assets/homepage/diksha-student/bg-lightblue.png);
   

}
.bg-orange {
    background-image: url(../assets/homepage/diksha-student/bg-orange.png);
  

}
.student-feature-img {
    z-index: 9;
}

/* .student-feature-img img{
    width: 100%; 
} */
.student-feature-count {
    border: 11px solid;
    /* height: 100%; */
    width: 100px;
    /* height: 90%;  */
    position: absolute;
    right: -2%;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    font-size: 51px;
    align-items: center;
    /* font-weight: bold; */
    /* margin-left: -100%; */
}

.students-feature-item {
    display: flex;
    position: relative;
    /* margin: 20px 0; */
    /* align-items: center; */
    border-radius: 50%;
    margin-bottom: 20px;
}

.students-feature-item:last-child{
    margin-bottom: 0px;

}
.border-purple{
    border-color: #7653A2;
    color: #7653A2;

}
.border-pink{
    border-color: #E257E5;
    color: #E257E5;

}
.border-green{
    border-color: #219FAF;
    color: #219FAF;

}
.border-blue{
    border-color: #876AF7;
    color: #876AF7;

}
.border-lightblue{
    border-color: #62C3FF;
    color: #62C3FF;

}
.border-orange{
    border-color: #F89521;
    color: #F89521;

}
.diksha-student .nistha-sub-head{
    padding: 2rem;
}

 @media (max-width: 991px){  
    .diksha-student .nistha-sub-head{
        padding: 2rem;
        margin-bottom: 0;
    }
    .feature-section{
        width: 100%;
        margin-top: 0;
        padding: 2rem 0;
    }
    .students-feature-items{
        margin-left: 0;
    }
    .student-feature-detail {
        width: 90%;
        padding-right: 40px;
        background-size: cover;
        padding: 16px;
        font-size: 16px;
        line-height: 22px;
        padding-right: 33px !important;
        background-position: right;
    }
    .student-feature-img {
    display: none;
    }
    .students-feature-items{
        margin-left: 0;
        margin-top: 0;
    }   
    .student-feature-count{
        width: 78px;
        font-size: 33px;
        top: 0;
    } 
}
@media (max-width: 576px){  

    
    .student-feature-count {
    right: 0px;
    width: 66px;
    font-size: 33px;
    border: 5px solid;
     

} 
.students-feature-item{
    margin-bottom: 13px;
    align-items: center;
}
.student-feature-count {
    right: 0px;
    width: 66px;
    font-size: 33px;
    border: 5px solid;
}
.diksha-student .nistha-certif-tab.nistha-bluebg-tab{
    display: flex;
    flex-direction: column;

}
.student-feature-detail{
    padding: 10px;
    font-size: 13px;
    width: 85%;
    padding: 10px;
    font-size: 13px;
    line-height: 17px;
    padding-right: 28px ;
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

}
@media (max-width: 769px){
    .student-feature-count{
            right: 0;
        }
}
    @media (min-width: 769px) and (max-width: 991px){
            .student-feature-count{
            right: 8%;
        }
        .student-feature-detail{
            font-size: 16px;
        }
    }
@media (min-width: 769px) and (max-width: 1200px){
    .feature-section{
        width: 100%;
    }
}
@media (min-width: 992px) and (max-width: 1250px){
    .student-feature-detail{
        font-size: 18px;
    }
}
@media (min-width: 991px) and (max-width: 1599px){
    .students-feature-items{
    margin-top: -8%;
    }
}
@media (min-width: 1600px){
    .students-feature-items{
        margin-left: -8.4%;
    }
    .student-feature-detail{
        min-height: 125px;
        display: flex;
        align-items: center; 
    }
    .student-feature-count{
        right: 1%;
        top: 3px;
    }
}
</style>

<div class="nistha-step-sec sec-padding">
    <div class="nistha-sub-head">
        <h2>Key Features of DIKSHA for Students</h2>
    </div>
    <div class="container">
        <div class="container-box">
            <div class="feature-section">
                <div class="row">
                    <div class="col-md-2">
                        <div class="student-feature-img">
                            <img src="../assets/homepage/diksha-student/pencil1.png">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="students-feature-items">
                            <div class="students-feature-item row">
                                <div class="col-md-11">
                                    <div class="student-feature-detail bg-purple ">
                                        Scan QR codes in your textbook for easy access to the associated lessons on the platform.
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="student-feature-count border-purple"> 1 </div>
                                </div>   
                            </div>
                            <div class="students-feature-item row">
                                <div class="col-md-11">
                                    <div class="student-feature-detail bg-green">
                                        Students to do quick revisions and test his/her learning through self-assessment practice exercises.
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="student-feature-count border-green">2</div>
                                </div>
                               
                             
                            </div>
                            <div class="students-feature-item row">
                                <div class="col-md-11">
                                    <div class="student-feature-detail bg-pink">
                                        Availability of various types of e-learning resources like courses,
                                        textbook, quizzes, videos, interactive content & many more.
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="student-feature-count border-pink">3</div>
                                </div>  
                            </div>
                            <div class="students-feature-item row">
                                <div class="col-md-11">
                                    <div class="student-feature-detail bg-blue">
                                        Students can revise lessons that they learnt in class due to 24*7 availability of content.
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="student-feature-count border-blue">4 </div>
                                </div>
                                
                                
                            </div>
                            <div class="students-feature-item row">
                                <div class="col-md-11">
                                    <div class="student-feature-detail bg-lightblue">
                                        Students can download the content & save in their local device which can be used in offline mode also.
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="student-feature-count border-lightblue">5</div>
                                </div>
                                
                            </div>
                            <div class="students-feature-item row">
                                <div class="col-md-11">
                                    <div class="student-feature-detail bg-orange">
                                        Teaching and Learning for Children With Special Needs <br> (CWSN) is available.
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="student-feature-count border-orange">6 </div>
                                </div>
                                
                                
                            </div>
                        </div>  
                    </div>
                </div>
                
                        
            </div>
        </div>
    </div>
</div>