<style>
    .ht-teacher-img img{
        width: 100%;
    }
    .teacher-desc{
        padding-right: 50px;
    }
    .teacher-desc .diksha-sub-head {
        text-align: left;
        margin-bottom: 3rem;
    }
</style>

<div class="ht-student">
    <div class="row">     
        <div class="col-md-8">
            <div class="teacher-desc">
                <div class="diksha-sub-head">
                    <h2>For Teacher</h2>
                </div>
                <div class="ht-student-items">
                    <div class="ht-student-item border-orange">
                        <div class="ht-student-icon"><img src="../assets/homepage/diksha-ht/teacher1.png"></div>
                        <div class="ht-student-desc">Engaged students through innovative lesson delivery and creative content</div>
                    </div>
                    <div class="ht-student-item border-green">
                        <div class="ht-student-icon"><img src="../assets/homepage/diksha-ht/teacher2.png"></div>
                        <div class="ht-student-desc">Auto-management of tasks – attendance, reporting, scheduling and more</div>
                    </div>
                    <div class="ht-student-item border-purple">
                        <div class="ht-student-icon"><img src="../assets/homepage/diksha-ht/teacher3.png"></div>
                        <div class="ht-student-desc">Communicate with students anytime in one-to-one or one-to-many mode</div>
                    </div>
                    <div class="ht-student-item border-pink">
                        <div class="ht-student-icon"><img src="../assets/homepage/diksha-ht/teacher4.png"></div>
                        <div class="ht-student-desc">Enabling teachers to give attention to every student to ensure high performance</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4  d-flex align-items-center">
            <div class="ht-teacher-img">
                <img src="../assets/homepage/diksha-ht/teacher-ht.png" alt="stident-img">
            </div>
        </div>
    </div>
</div>