<style>
    .diksha-student-banner img{
        max-width: 100%;
        height: auto;
        width: 100%;
    }
  .nistha-sub-head h2 {
        font-size: 40px;
        line-height: 33.6px;
        color: #434141;
        font-weight: 500;
        font-family: 'Outfit';
        position: relative;
        display: inline-block;
        padding: 0 10px;
        line-height: 48px;
}
 .nistha-sub-head h2::after {
    content: '';
    position: absolute;
   
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #005DA3;
    bottom: -15px;
}
 .nistha-sub-head{
    text-align: center;
    margin-bottom: 3rem;       
}
</style>
<div class="diksha-student-banner">
    <div class="container-fluid">
        <div class="container-box">
            <div class="row">
                <div class="col-sm-12 p-0">
                    <img src="../assets/homepage/diksha-student/diksha-student-banner.png" alt="diksha-student-banner">
                </div>
            </div>
        </div>
    </div>
</div>
