<style>
    .ht-sub-head {
        display:flex ;
    }

    .sec-padding {
        padding: 40px 0;
    }

   
    .progress-items{
        display: flex;
    }

    .progress-desc {
    padding: 20px 33px;
    }
    .progress-img {
        margin-top: -23px;
    }

    .progress-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid;
        margin: 11px;
        border-radius: 17px;
    }
    .progress-img {
        margin-top: -15%;
        padding: 17px;
        border-radius: 50%;
    }
    .bg-orange{
        background-color: #F89521;
    }
    .border-orange{
        border-color:#F89521  !important ;
    }
    .bg-yellow {
        background-color: #FFD04F;
    }
    .border-yellow {
        border-color: #FFD04F  !important;
    }
    .bg-green {
        background-color: #219FAF ;
    }
    .border-green{
        border-color: #219FAF  !important;
    }
    .bg-blue{
        background-color: #0076FE;
    }
    .border-blue {
        border-color: #0076FE !important;
    }
    .bg-purple {
        background-color: #7653A2;
    }
    .border-purple {
        border-color: #7653A2  !important;
    }

    .border-pink {
        border-color: #F4929C !important;
    }
    @media (max-width: 576px){
        .student-desc {
            padding-left: 0 !important;
        }
        .teacher-desc {
            padding-right: 0 !important;
        }
        .diksha-ht-track-process {
            padding: 3rem 0 0 0 !important;
        }
    }
    @media (max-width: 768px){
        .progress-items {
            display: block;
        }
        .progress-item{
            margin-bottom: 3rem; 
        }
        .progress-img{
            margin-top: -9%;
        }
        .ht-student{
            padding: 20px 0px !important;
        }
    }
</style>
<div class="diksha-ht-track-process">
    <div class="nistha-sub-head">
        <h2>Track School Progress</h2>
    </div>
    <div class="container">
        <div class="container-box">
            <div class="progress-items">
                <div class="progress-item border-orange">
                    <div class="progress-img bg-orange">
                        <img src="../assets/homepage/diksha-ht/track-course.png" alt="track-course">
                    </div>
                    <div class="progress-desc">
                        Track Student attendance, grades, submissions and achievements
                    </div>
                </div>
                <div class="progress-item border-yellow">
                    <div class="progress-img bg-yellow">
                        <img src="../assets/homepage/diksha-ht/track-teacher.png" alt="track-teacher">
                    </div>
                    <div class="progress-desc">
                        Track Student attendance, grades, submissions and achievements
                    </div>
                </div>
                <div class="progress-item border-green">
                    <div class="progress-img bg-green">
                        <img src="../assets/homepage/diksha-ht/track-course.png" alt="track-course">
                    </div>
                    <div class="progress-desc">
                        Track Student attendance, grades, submissions and achievements
                    </div>
                </div>
                <div class="progress-item border-blue">
                    <div class="progress-img bg-blue">
                        <img src="../assets/homepage/diksha-ht/track-monitor.png" alt="track-monitor">
                    </div>
                    <div class="progress-desc">
                        Track Student attendance, grades, submissions and achievements
                    </div>
                </div>
                <div class="progress-item border-purple">
                    <div class="progress-img bg-purple">
                        <img src="../assets/homepage/diksha-ht/track-survay.png" alt="track-survay">
                    </div>
                    <div class="progress-desc">
                        Track Student attendance, grades, submissions and achievements
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>