<style>
    .sec-padding{
        padding: 40px 0; 
    }
    .nistha-sub-head{
        text-align: center;
        margin-bottom: 3rem;       
    }
    .nistha-sub-head h2{
        font-size: 40px;
        line-height: 33.6px;
        color: #434141;
        font-weight: 500;
        font-family: 'Outfit';
        position: relative;
        display: inline-block;
        padding: 0 10px;
    }
    .other-vidyadaan-sec {
        background: linear-gradient(91.64deg, #D7FFE0 -17.42%, rgba(217, 231, 239, 0) 108.05%);
        padding: 30px 0 15px 0;
    }
    .other-vidyadaan-sec .vidyadaan-desc {
        margin: 2.4375rem 0;
        font-size: 1.125rem;
    }
    button.participate-btn {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background-color: #117EC2;
        color: #ffffff;
        border: 1px solid #0C4E9E;
        border-radius: 4px;
        padding: 12px 24px 12px 24px;
    }
    .other-vidyadaan-sec img{
        max-width: 100%;
    }
    @media (max-width: 767.98px){
        .other-vidyadaan-sec img {
            max-width: 100%;
            height: auto;
        }
    }
</style>
<div class="others-cont-sec sec-padding">
    <div class="nistha-sub-head">
        <h2>Contributors</h2>
    </div>
    <div class="other-vidyadaan-sec">
        <div class="container">
            <div class="container-box">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="vidyadaan">
                            <div class="vidyadaan-img">
                                <img src="../assets/homepage/nistha-lp/others/Diksha-VidyaDaan-Logo.png" alt="vidyadaan-logo">
                            </div>
                            <div class="vidyadaan-desc">
                                A program of the nation, for the nation and by the nation for managing continuity of quality learning
                            </div>
                            <div class="vidyadaan-action">
                                <button type="button" tabindex="0" class="participate-btn">Participate</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="vidyadaan">
                            <img src="../assets/homepage/nistha-lp/others/explore.png" alt="vidyadaan">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
