<style>
  .diksha-dashbord{
    background-color:#F8F8F8;
    padding: 50px 0;
  }
  .view-dashboards{
    display: flex;
    justify-content: center;
    margin: 40px 0;

  }
  .view-dashboards button{
    font-size: 15px;
    background-color: #0C4E9E;
    color: #fff;
    padding: 8px 15px;
    border-radius: 4px;
    border-color: transparent;
  }
  .date-time {
    font-size: 16px;
    color: #6D6D6D;
  }
  .matrix-title {
    font-size: 23px;
    color: #005DA3;
    font-weight: 500;
    font-family: 'Outfit'
}
.matrix-title-desc {
    font-size: 16px;
    color: #6D6D6D;
}
.matrix-details {
    background-color: #fff;
    padding: 20px 15px;
    margin: 20px 0;
    box-shadow: 0 0.125rem 0.875rem 0 rgba(0,0,0,0.1);
    border-radius: 5px;
}
.martrics-cards {
    margin: 0 20px;
    height: 100%;
    width:  100%;
}
.data-matrix-number{
  color: #305082;
    font-size:25px;
   
    font-weight: bold;
}
.matrix-num {
    margin-right: 15px;
    font-family: 'Outfit';
}
.matrix-heading {
    min-height: 62px;
    /* height: 100% !important; */
}
.matrics-card {
    width: 100%;
}
.data-matrix-desc{
  color:#6D6D6D;
}

.sr-only{
  display: none;
}

.matrix-graph {
    display: flex;
}
.matrix-graph img {
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.matrix-details .matrix-details,
.matrix-details .data-matrix-desc{
  padding: 10px 0;

}
#recipeCarousel .carousel-inner{
  height: 240px;
}
#recipeCarousel .carousel-control-next-icon{
  background-image: url(../assets/homepage/arrow_back.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: none;

}
#recipeCarousel .carousel-control-prev-icon{
  background-image: url(../assets/homepage/arrow_prev.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: none;

}
#recipeCarousel .carousel-indicators {
    align-items: center;
    bottom: -29px;
}

#recipeCarousel .carousel-indicators .active {
  background-color: #005DA3;
  height: 9px;
  width: 24px;

}
#recipeCarousel .carousel-indicators li {
    margin: 10px 0px;
    height: 6px;
    width: 16px !important;
    background-color: #8C8C8C;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 1024px) {
  #recipeCarousel .carousel-inner{
  height: auto;
}
}
/*=============START SLIDER==================*/
@media (max-width: 768px) {
    #recipeCarousel .carousel-inner .carousel-item > div {
        display: none;
    }
    #recipeCarousel .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

#recipeCarousel .carousel-inner .carousel-item.active,
#recipeCarousel .carousel-inner .carousel-item-next,
#recipeCarousel.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    #recipeCarousel .carousel-inner .carousel-item-right.active,
    #recipeCarousel .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    #recipeCarousel .carousel-inner .carousel-item-left.active, 
    #recipeCarousel .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

#recipeCarousel .carousel-inner .carousel-item-right,
#recipeCarousel .carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

/*=============END SLIDER==================*/
</style>

<div class="diksha-dashbord">
  <div class="container">
    <div class="container-box">
      <div class="head-title">
        <span class="text">
          <span data-translate="diksha">
            {{ site.data.text.diksha }}
          </span> 
          <span class="title-diksha-color" data-translate="dashboard">{{ site.data.text.dashboard }}</span></span>
        <div class="date-time">                      
          <span data-translate="lastupdated">{{ site.data.text.lastupdated }}</span>: <span class="updatedOn"></span></div>
      </div>
     
      <div class="row">
      </div> 
        <div class="row mx-auto my-auto">
          <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
              <div class="carousel-inner w-100" role="listbox">
                  <div class="carousel-item active">
                    <div class="col-lg-4 col-md-6 col-sm-12 h-100 d-flex justify-content-center">
                      <div class="martrics-cards d-flex flex-column justify-content-between ">
                        <div class="matrics-card  ">
                          <div class="matrix-heading">
                            <div class="matrix-title" >
                              <span data-translate="usagemetrics">  {{site.data.text.usagemetrics}}</span>
                              <span>
                                <a href="" class="download-overall">
                                  <img src="../assets/homepage/download-report.png" alt="download-report"></span>
                                </a>
                              </span>
                            </div>
                            <div class="matrix-title-desc" data-translate="DIKSHAUsageTillDate">
                              {{site.data.text.DIKSHAUsageTillDate}}
                            </div>
                            
                          </div>
                          <div class="matrix-details d-flex justify-content-between">
                            <div class="matrix-num">
                              <div class="data-matrix-number"  title="{{ site.data.text.numberLearningActivities }}" data-translate-attr="{numberLearningActivities: ['title']}">
                                <span class="learning-sessions-count mr-8" id="learningSession">
                              </div>
                              <div class="data-matrix-desc">
                                <div class="data-lable" data-translate="LearningLessons">{{ site.data.text.LearningLessons }}</div>
                              </div>
                            </div>
                            <div class="matrix-graph">
                                <img src="../assets/homepage/graph.jpg" alt="graph">
                            </div>
            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-lg-4 col-md-6 col-sm-12 h-100 d-flex justify-content-center">
                      <div class="martrics-cards d-flex align-items-end">
                        <div class="matrics-card no-heading">
                          <div class="matrix-heading">
                          </div>
                          <div class="matrix-details d-flex justify-content-between">
                            <div class="matrix-num">
                              <div class="data-matrix-number" data-placement="bottom" title="{{ site.data.text.totalDIKSHAusage }}" data-translate-attr="{totalDIKSHAusage: ['title']}">
                                <span class="x-mins mr-8"></span>
                              </div>
                              <div class="data-matrix-desc">
                                <div class="data-lable" data-translate="hours">{{ site.data.text.hours }}</div>
                              </div>
            
                            </div>
                            <div class="matrix-graph">
                                <img src="../assets/homepage/graph2.jpg" alt="graph">
                            </div>
            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-lg-4 col-md-6 col-sm-12 h-100 d-flex justify-content-center">
                      <div class="martrics-cards d-flex flex-column justify-content-between">
                        <div class="matrics-card ">
                          <div class="matrix-heading">
                            <div class="matrix-title">
                              <span data-translate="contributionMetrics">{{site.data.text.contributionMetrics}}</span>
                            </div>
                            <div class="matrix-title-desc" data-translate="dikshaContentContribution">
                              {{site.data.text.dikshaContentContribution}}
                            </div>
                            
                          </div>
                          <div class="matrix-details d-flex justify-content-between">
                            <div class="matrix-num">
                              <div class="data-matrix-number" data-placement="bottom" title="{{ site.data.text.contributionsDiksha }}" data-translate-attr="{contributionsDiksha: ['title']}">
                                <span class="total-contributions-count mr-8" id="totalContributions"></span>
                              </div>
                              <div class="data-matrix-desc">
                                <div class="data-lable" data-translate="contributions">{{ site.data.text.contributions }}</div>
                              </div>
            
                            </div>
                            <div class="matrix-graph">
                                <img src="../assets/homepage/graph.jpg" alt="graph">
                            </div>
            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-lg-4 col-md-6 col-sm-12 h-100 d-flex justify-content-center">
                      <div class="martrics-cards  d-flex  justify-content-between">
                        <div class="matrics-card">
                          <div class="matrix-heading">
                          </div>
                          <div class="matrix-details d-flex justify-content-between">
                            <div class="matrix-num">
                              <div class="data-matrix-number" data-placement="bottom" title="{{ site.data.text.contributorsDiksha }}" data-translate-attr="{contributorsDiksha: ['title']}">
                                <span class="total-contributors-count mr-8" id="totalContributors"></span>
                              </div>
                              <div class="data-matrix-desc">
                                <div class="data-lable" data-translate="contributors">{{ site.data.text.contributors }} </div>
                              </div>
            
                            </div>
                            <div class="matrix-graph">
                                <img src="../assets/homepage/graph2.jpg" alt="graph">
                            </div>
            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-lg-4 col-md-6 col-sm-12 h-100 d-flex justify-content-center">
                      <div class="martrics-cards d-flex  justify-content-between">
                        <div class="matrics-card">
                          <div class="matrix-heading">
                            <div class="matrix-title" >
                              <span data-translate="courseMetrics">{{site.data.text.courseMetrics}}</span>
                              <span>
                                <a href="https://diksha.gov.in/data/reports/state_wise_course_data_public.csv" download
                                  class=""> 
                                  <img src="../assets/homepage/download-report.png" alt="download-report">
                              </a>
                              </span>
                            </div>
                            <div class="matrix-title-desc" data-translate="courseUsage">
                              {{site.data.text.courseUsage}}
                            </div>
                            
                          </div>
                          <div class="matrix-details d-flex justify-content-between">
                            <div class="matrix-num">
                              <div class="data-matrix-number" data-placement="bottom"  title="{{ site.data.text.coursesDiksha }}" data-translate-attr="{coursesDiksha: ['title']}">
                                <span class="total-courses-count mr-8"  id="totalCourses"></span> 
                              </div>
                              <div class="data-matrix-desc">
                                <div class="data-lable" data-translate="courses">{{site.data.text.courses}}</div>
                              </div>
            
                            </div>
                            <div class="matrix-graph">
                                <img src="../assets/homepage/graph.jpg" alt="graph">
                            </div>
            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-lg-4 col-md-6 col-sm-12 h-100 d-flex justify-content-center">
                      <div class="martrics-cards d-flex justify-content-between">
                        <div class="matrics-card no-heading">
                          <div class="matrix-heading">
                          </div>
                          <div class="matrix-details d-flex justify-content-between">
                            <div class="matrix-num">
                              <div class="data-matrix-number" aria-live="polite" data-toggle="tooltip" data-placement="bottom"
                              title="{{ site.data.text.EnrolmentsDiksha }}" data-translate-attr="{EnrolmentsDiksha: ['title']}">
                              <span class="total-enrolments-count mr-8" id="totalEnrolments"></span>
                              </div>
                              <div class="data-matrix-desc">
                                <div class="data-lable" data-translate="Enrolments">{{site.data.text.Enrolments}}</div>
                              </div>
            
                            </div>
                            <div class="matrix-graph">
                                <img src="../assets/homepage/graph2.jpg" alt="graph">
                            </div>
            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-lg-4 col-md-6 col-sm-12 h-100 d-flex justify-content-center">
                      <div class="martrics-cards d-flex justify-content-between">
                        <div class="matrics-card no-heading">
                          <div class="matrix-heading">
                          </div>
                          <div class="matrix-details d-flex justify-content-between">
                            <div class="matrix-num">
                              <div class="data-matrix-number" aria-live="polite" data-toggle="tooltip" data-placement="bottom" 
                              title="{{ site.data.text.CompletionsDiksha }}" data-translate-attr="{CompletionsDiksha: ['title']}">
                              <span class="total-completions-count mr-8"  id="totalCompletions"></span> 
                              </div>
                              <div class="data-matrix-desc">
                                <div class="data-lable" data-translate="completions">{{site.data.text.completions}}</div>
                              </div>
            
                            </div>
                            <div class="matrix-graph">
                                <img src="../assets/homepage/graph2.jpg" alt="graph">
                            </div>
            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <ol class="carousel-indicators">      
                <li data-target="#recipeCarousel" tabindex="0" data-slide-to="0" aria-current="page" class="active"
                aria-controls="carousel-items" aria-label=""></li>
                <li data-target="#recipeCarousel" tabindex="0" data-slide-to="1" aria-current="page" 
                aria-controls="carousel-items" aria-label=""></li>
                <li data-target="#recipeCarousel" tabindex="0" data-slide-to="2" aria-current="page" 
                aria-controls="carousel-items" aria-label=""></li>
                <li data-target="#recipeCarousel" tabindex="0" data-slide-to="3" aria-current="page" 
                aria-controls="carousel-items" aria-label=""></li>
                <li data-target="#recipeCarousel" tabindex="0" data-slide-to="4" aria-current="page" 
                aria-controls="carousel-items" aria-label=""></li>
                <li data-target="#recipeCarousel" tabindex="0" data-slide-to="5" aria-current="page" 
                aria-controls="carousel-items" aria-label=""></li>
                <li data-target="#recipeCarousel" tabindex="0" data-slide-to="6" aria-current="page" 
                aria-controls="carousel-items" aria-label=""></li>
            </ol>
              <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
          </div>
        </div>
      
    </div>
  </div>
  <div class="view-dashboards">  
    <button tabindex="0" class="view-dashboard" category="usage" data-translate="btnViewDashboard">{{ site.data.text.btnViewDashboard }}</a> </button>
  </div>
</div>
