<style>


.student-desc .diksha-sub-head{
        text-align: left;
        margin-bottom: 3rem;
    }
    .diksha-sub-head h2{
        font-size: 40px;
        line-height: 33.6px;
        color: #434141;
        font-weight: 500;
        font-family: 'Outfit';
        position: relative;
        display: inline-block;
        padding: 0 10px;
    }
     .diksha-sub-head h2::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #005DA3;
        bottom: -15px;
    }
    @media (max-width: 767.98px){
        .diksha-sub-head {
            padding: 0 5px;
        }
        .diksha-sub-head h2{
            font-size: 27px !important;
        }
    }

    .ht-student {
        padding: 56px 0px;
        display: flex;
        justify-content: center;
    }
    .ht-student-img img {
        width: 100%;
    }
    .student-desc {
    padding-left: 50px;
}
.ht-student-item {
    display: flex;
    padding: 13px;
    border: 1px solid;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
}

.ht-student-icon {
    margin-right: 10px;
}
.student-teacher .diksha-sub-head{
    margin-bottom: 3rem;
}
</style>
<div class="ht-student">
    <div class="row">
        <div class="col-md-4 d-flex align-items-center">
            <div class="ht-student-img">
                <img src="../assets/homepage/diksha-ht/student-ht.png" alt="stident-img">
            </div>
        </div>
        <div class="col-md-8">
            <div class="student-desc">
                <div class="diksha-sub-head">
                    <h2>For Students</h2>
                </div>
                <div class="ht-student-items ">
                    <div class="ht-student-item border-orange">
                        <div class="ht-student-icon"><img src="../assets/homepage/diksha-ht/student1.png"></div>
                        <div class="ht-student-desc">Personalized learning paths for holistic development and improved results</div>
                    </div>
                    <div class="ht-student-item border-green">
                        <div class="ht-student-icon"><img src="../assets/homepage/diksha-ht/student2.png"></div>
                        <div class="ht-student-desc">Personalized learning paths for holistic development and improved results</div>
                    </div>
                    <div class="ht-student-item border-purple">
                        <div class="ht-student-icon"><img src="../assets/homepage/diksha-ht/student3.png"></div>
                        <div class="ht-student-desc">Personalized learning paths for holistic development and improved results</div>
                    </div>
                    <div class="ht-student-item border-pink">
                        <div class="ht-student-icon"><img src="../assets/homepage/diksha-ht/student4.png"></div>
                        <div class="ht-student-desc">Personalized learning paths for holistic development and improved results</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>