<style>
    .parent-pedagogy-sec img{
        margin-bottom: 3rem;
        max-width: 100%;
        height: auto;
    }
</style>
<div class="parent-pedagogy-sec">
    <div class="nistha-sub-head">
        <h2>Pedagogical structure and the curriculum framework</h2>
    </div>
    <div class="container">
        <div class="container-box">
            <div class="row justify-content-center text-center">
                <div class="col-sm-12">
                    <img src="../assets/homepage/nistha-lp/parents/pedagogy.png" alt="pedagogy" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    
</div>
