
<style>
  /* .head-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin: 27px;
  }
  .head-title .bottom-image {
  position: relative;
  }
  .head-title .bottom-image::after{
    content: " ";
    background-image: url(/images/img-bottom.png);
    width: 100%;
    height: 100%;
    bottom: -16px;
    left: 0px;
    position: absolute;
  } */

  .diksha-number-bg{
    background-image: url(../images/diksha-number-bg.png);
    background-repeat: no-repeat;

  }
    .number-wrapper {
        /* background-color: #F5FBFF; */
        padding: 50px;
        /* border: 2px solid #D9FFE5; */
        border-radius: 51px;
        padding: 138px 78px;
        position: relative;
        z-index: 9999;
    /* background: radial-gradient(circle, rgb(4 89 141 / 6%) 12%, rgb(217 255 229 / 23%) 87%) */
   

    }
        
    .dashboard-data {
      background-color: #fff;
      /* margin-top: 30px; */
      padding: 20px;
      box-shadow: 0 0.125rem 0.875rem 0 rgba(0,0,0,0.1);
      border-radius: 12px;
      margin: 30px 20px;
      height: 392px;
      
  }
  .dashboard-card {
      display: flex;
      align-items: center;
      margin: 20px;
      margin: 36px 20px;
      
  }
  .dashboard-title {
      display: flex;
      justify-content: center;
      font-size: 23px;
      font-weight: bold;
      color: #0C4E9E;
  }
  .card-logo {
      margin-right: 16px;
  }
  .data-number {
      font-size: 30px;
      color: #343082;
  }
  .data-title{
    color: #6D6D6D;
    font-size: 16px;

}
  .diksha-numbers {
    margin: 60px 0;
  }
  .view-dashboards{
    display: flex;
    justify-content: center;

  
  }
  .view-dashboards button{
    font-size: 15px;
    background-color: #0C4E9E;
    color: #fff;
    padding: 8px 15px;
    border-radius: 4px;
    border-color: transparent;
    
  }
  .icon.icon1 {
    position: absolute;
    right: 0;
    top: -53px;
}
</style>

<div class="diksha-numbers">
  <div class="head-title">
    <!-- <div class="text">DIKSHA in  <span class="bottom-image">Numbers</span> </div> -->
    <span class="text">DIKSHA in Numbers<span class="bottom-image"><img src="../images/img-bottom.png"></span></span>
  </div>
  <!-- <div class="titledec">
    Know the impact of our platform through these key statistics. Each number represents a </br>transformed life, an empowered mind, and a brighter future.
  </div> -->
  <div class="container">     
      <div class="container-box">
        <div class="diksha-number-bg">
          <div class="number-wrapper">
            <div class="row row-eq-height">
              <section class="col-md-4  col-sm-6" >
                <div class="dashboard-title">{{site.data.text.usageMetrics}}</div>
                <div class="dashboard-data">
                  <div class="dashboard-card">
                    <div class="card-logo">
                      <img src="../assets/imgs/dashboard/learning-sessions.png" alt="live learing Sessions">
                    </div>
                    <div class="card-data">
                      <div class="data-number" 
                      title="{{ site.data.text.numberLearningActivities }}" data-translate-attr="{numberLearningActivities: ['title']}">
                      <span class="learning-sessions mr-8" id="learningSession"></div>
                      <div class="data-title" >{{ site.data.text.LearningLessons }}</div>
                    </div>
                  </div>
                  <div class="dashboard-card">
                    <div class="card-logo">
                      <img src="../assets/imgs/dashboard/usage-minuts.png" alt="usage minus">
                    </div>
                    <div class="card-data">
                      <div class="data-number" data-placement="bottom"
                          title="{{ site.data.text.totalDIKSHAusage }}" data-translate-attr="{totalDIKSHAusage: ['title']}">
                          <span class="x-mins mr-8"></span>
                    </div>
                      <div class="data-title">{{ site.data.text.minutes }}</div>
                    </div>
                  </div>
                  <div class="dashboard-card">
                    <div class="card-logo">
                      <img src="../assets/imgs/dashboard/app-availiblity.png" alt="live learing Sessions">
                    </div>
                    <div class="card-data">
                      <div class="data-number">100% </div>
                      <div class="data-title">Application Availability</div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="col-md-4 col-sm-6  ">
                <div class="dashboard-title">{{site.data.text.courseMetrics}}</div>
                <div class="dashboard-data">
                  <div class="dashboard-card">
                    <div class="card-logo">
                      <img src="../assets/imgs/dashboard/enrolments.png" alt="Enrolments">
                    </div>
                    <div class="card-data">
                      <div class="data-number" aria-live="polite" data-toggle="tooltip" data-placement="bottom"
                      title="{{ site.data.text.EnrolmentsDiksha }}" data-translate-attr="{EnrolmentsDiksha: ['title']}"><span class="total-enrolments mr-8"
                        id="totalEnrolments"></span>
                      </div>
                      <div class="data-title">{{ site.data.text.Enrolments }}</div>
                    </div>
                  </div>
                  <div class="dashboard-card">
                    <div class="card-logo">
                      <img src="../assets/imgs/dashboard/Courses.png" alt="Courses">
                    </div>
                    <div class="card-data">
                      <div class="data-number"data-placement="bottom"  title="{{ site.data.text.coursesDiksha }}" data-translate-attr="{coursesDiksha: ['title']}">
                        <span class="total-courses mr-8"  id="totalCourses"></span>  </div>
                      <div class="data-title">{{ site.data.text.courses }}</div>
                    </div>
                  </div>
                  <div class="dashboard-card">
                    <div class="card-logo">
                      <img src="../assets/imgs/dashboard/course-completions.png" alt="Course Completions">
                    </div>
                    <div class="card-data">
                      <div class="data-number" aria-live="polite" data-toggle="tooltip" data-placement="bottom" title="{{ site.data.text.CompletionsDiksha }}" data-translate-attr="{CompletionsDiksha: ['title']}">
                        <span class="total-completions mr-8"  id="totalCompletions"></span> 
                      </div>
                      <div class="data-title">{{ site.data.text.completions }}</div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="col-md-4  col-sm-6">
                <div class="dashboard-title">{{site.data.text.contributionMetrics}}</div>
                <div class="dashboard-data">
                  <div class="dashboard-card">
                    <div class="card-logo">
                      <img src="../assets/imgs/dashboard/Contributions.png" alt="Contributions">
                    </div>
                    <div class="card-data">
                      <div class="data-number"  data-placement="bottom" title="{{ site.data.text.contributionsDiksha }}" data-translate-attr="{contributionsDiksha: ['title']}">
                            <span class="total-contributions mr-8" id="totalContributions"></span>
                         </div>
                      <div class="data-title">{{ site.data.text.contributions }}</div>
                    </div>
                  </div>
                  <div class="dashboard-card">
                    <div class="card-logo">
                      <img src="../assets/imgs/dashboard/usage-live-session.png" alt="Contributors">
                    </div>
                    <div class="card-data">
                      <div class="data-number" data-placement="bottom"
                      title="{{ site.data.text.contributorsDiksha }}" data-translate-attr="{contributorsDiksha: ['title']}">
                      <span class="total-contributors mr-8" id="totalContributors"></span></div>
                      <div class="data-title">{{ site.data.text.contributors }}</div>
                    </div>
                  </div>
                 
                  <div class="dashboard-card">
                    <div class="card-logo">
                      <!-- <img src="../assets/imgs/dashboard/usage-live-session.png" alt="Contributors"> -->
                    </div>
                    <div class="card-data">
                      <!-- <div class="data-number">11,624 </div> -->
                      <!-- <div class="data-title">Contributors</div> -->
                    </div>
                  </div>
                 
                </div>
              </section>
            </div>
            <div class="view-dashboards">  
              <button class="view-dashboard">{{ site.data.text.btnViewDashboard }}</a> </button>
            </div>
          </div>
        </div>
       
       
      </div>
    
  </div>
</div>


 