<style>

.mobile-app{
    margin: 50px 0;
    background-image: url(../images/bg-rectangle.png);
    background-repeat: no-repeat;
    background-position: right center;

}
.mobile-app-title{
    font-weight: bold;
}
.mobile-app-title .diksha{
    text-transform: uppercase;
    color: #0A589A;
}
.mobile-app-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
}
 .app-download {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
}
.scan-img{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #0A589A;
    align-items: center;
}

.app-download .app-img {
    display: flex;
    flex-direction: column;
}
.app-download .border-line {
       /* height: 100%; */
       border: 1px solid #888888;
    margin: 16px 40px;
    width: 1px

} 

</style>
<div class="mobile-app">
    <div class="container">
        <div class="container-box mobile-app-wrapper">
            <div class="mobile-app-left">
                <div class="mobile-app-title">
                    Download the <span class="diksha">DIKSHA</span> <br> Mobile App Today!
                    <div class="app-download">
                        <div class="scan-img">
                            <img src="../images/mobile_app_scanner.png" alt="mobile-app-scanner">
                            <span>Scan to Download</span>
                        </div>
                        <div class="border-line"></div>
                        <div class="app-img">
                            <span class="google-play">
                                <img src="../images/google-play-app-store.png" alt="google-play">
                            </span>
                            <span class="app-store">
                                <img src="../images/google-play-app-store-apple.png" alt="apple-store">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-app-right">
                <img src="../images/mobile_App.png" alt="mobile-app">
            </div>
        </div>
    </div>
</div>