<style>
    .diksha-parent-banner img{
        max-width: 100%;
        height: auto;
        width: 100%;
    }
</style>
<div class="diksha-student-banner">
    <div id="parent-lp-slider" class="carousel slide ht-banner-slider" data-bs-ride="carousel">
        <div class="carousel-inner" title="">
            <div class="carousel-item carousel3-bg active" role="option">
                <img loading="lazy" decoding="async" class="carousel-img-height" 
                    src="../assets/homepage/nistha-lp/parents/banner1.png"
                    alt="slider1">
            </div>
            <div class="carousel-item carousel3-bg" role="option">
                <a href="https://ejaaduipitara.ncert.gov.in/" target="_blank">
                    <img loading="lazy" decoding="async"  class="carousel-img-height"
                    src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}banner/jadui-pitara-new.jpg"
                        alt="slider2" loading="lazy" decoding="async">
                </a>
            </div> 
        </div>  
        <ol class="carousel-indicators">
            <li data-bs-target="#parent-lp-slider" tabindex="0" data-bs-slide-to="0" aria-current="page" class="active"
            aria-controls="carousel-items" aria-label="slider1"></li>
            <li data-bs-target="#parent-lp-slider" tabindex="0" data-bs-slide-to="1" aria-current="page" 
            aria-controls="carousel-items" aria-label="slider2"></li> 

        </ol>
        <a class="carousel-control-prev" href="#parent-lp-slider" data-bs-target="#parent-lp-slider" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" href="#parent-lp-slider"  data-bs-target="#parent-lp-slider" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
    </div>
</div>
<!-- <div class="diksha-parent-banner">
    <div class="container-fluid">
        <div class="container-box">
            <div class="row">
                <div class="col-sm-12 p-0">
                    <img src="../assets/homepage/nistha-lp/parents/banner.png" alt="banner">
                </div>
            </div>
        </div>
    </div>
</div> -->
