<div class="dk-country-flag"><img loading="lazy" decoding="async" data-translate-attr="{govofIndia: ['title','alt']}" title="{{ site.data.text.govofIndia }}"
        src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/diksha-mission/Flag_of_India.svg"
        onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/Flag_of_India.svg'"
        width="32" alt="{{ site.data.text.govofIndia }}" />
    <span data-translate="govofIndia">{{ site.data.text.govofIndia }}</span></div>
<div class="d-flex flex-ai-center head-tail-right-side">
    <div class="pull-right dk-top-head-ul">
        <ul>
            <li class="skip-content-link"><a href="javascript: scrollMainContent();"
                    title="{{ site.data.text.skipMainContent }}" data-translate="skipMainContent" data-translate-attr="{skipMainContent: ['title']}">{{ site.data.text.skipMainContent }}</a></li>
            <li class="mx-4">|</li>
            <li class="screen-reader-link"><a href="{{site.baseurl}}/screenreaderaccess.html"
                    class="{% if page.url contains 'screenreaderaccess' %}active{% endif %}"
                    title="{{ site.data.text.ScreenReaderAccess }}" data-translate="ScreenReaderAccess" data-translate-attr="{ScreenReaderAccess: ['title']}">{{ site.data.text.ScreenReaderAccess }}</a></li>
            <li class="mx-4">|</li>
            <li class="sitemap-link "><a class="{% if page.url contains 'sitemap' %}active{% endif %}"
                    href="{{site.baseurl}}/sitemap.html"
                    title="{{ site.data.text.sitemap }}" data-translate="sitemap" data-translate-attr="{sitemap: ['title']}">{{ site.data.text.sitemap }}</a></li>
            <li class="mx-4">|</li>
        </ul>
        <ul>
            <li>
                <div class="fontResize-container d-flex flex-ai-center pull-right">
                    <span class="fxsmall computer only mr-8 hide hidden"><span class="hide hidden">(<span
                                id="currentFont"></span>)</span></span>
                    <button type="button" class="fontResizeBtn fontResizeBtn_A-" title="Decrease Font Size"
                        id="DecreaseFontSize" onclick="DecreaseFontSize();">A-</button>
                    <button type="button" class="fontResizeBtn fontResizeBtn_A" title="Reset to Default"
                        onclick="ResetFontSize();" id="ResetFontSize">A</button>
                    <button type="button" class="fontResizeBtn fontResizeBtn_A+" title="Increase Font Size"
                        onclick="IncreaseFontSize();" id="IncreaseFontSize">A+</button>
                </div>
            </li>
            <li class="mx-4">|</li>
            <li><button id="dark-mode-toggle" class="dark-mode-toggle" title="Dark mode/Normal mode">
                    <svg width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 496">
                        <path fill="var(--white)"
                            d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z"
                            transform="translate(-8 -8)" /></svg>
                </button></li>
        </ul>
    </div>
</div>