<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0 mb-30 lg-show">
            <a href="https://ed.ted.com/earth-school?utm_source=Diksha&utm_medium=webpage&utm_campaign=earth-school">
                <img src="assets/imgs/environmentbanner/large.png" alt="Environment Banner 1">
            </a>
        </div>
        <a href="https://ed.ted.com/earth-school?utm_source=Diksha&utm_medium=webpage&utm_campaign=earth-school" class="sm-show">
            <div class="col-12 p-0 sm-show">
                <img src="assets/imgs/environmentbanner/one.png" alt="Environment Banner Part - 1">
            </div>
            <div class="col-12 p-0 mb-30 sm-show">
                <img src="assets/imgs/environmentbanner/two.png" alt="Environment Banner Part - 2">
            </div>
        </a>
    </div>
    <div class="row">
        <div class="col-12 p-0">
            <a href="http://moef.gov.in/division/environment-divisions/environment-educationee/publications/">
                <img src="assets/imgs/environmentbanner/banner.png" alt="Environment Banner 2">
            </a>
        </div>
    </div>
</div>