<style>
    .diksha-explore .wrapper {
    margin: 20px 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 12px;
}

.diksha-explore .wrapper .diksha-title {
    color: #005DA3;
    font-size: 60px;
    font-weight: bold;
}
    .diksha-explore .wrapper .diksha-subtitle{
        font-size: 24px;
        color: #434141;
    }

.diksha-explore .wrapper .diksha-action {

}
.diksha-explore .wrapper .diksha-action button {
    border: 0;
    background-color: #005DA3;
    color: #fff;
    padding: 10px 19px;
    border-radius: 6px;
    font-size: 28px;
}
.diksha-explore .wrapper p {
    color: #8E8C8A;

}


</style>

    <div class="diksha-explore">
        <div class="wrapper">
            <div class="diksha-title">DIKSHA</div>
            <div class="diksha-subtitle pb-8">(DIGITAL INFRASTRUCTURE FOR KNOWLEDGE SHARING)</div>
            <div class="diksha-desc py-6">An initiative of the National Council of Educational Research and Training (Ministry of Education, Govt of India)</div>
            <div class="diksha-action py-10">
                <button class="sb-btn-explore-diksha">Explore DIKSHA</button> 
            </div>
            <p class="">Explore DIKSHA's world of open digital content</p>
        </div>
    </div>

