<style>
    .explore-ncrt {
        background: url(/images/hero-shape2.png);
        /* background: linear-gradient(90deg, rgba(248,212,159,0.4768032212885154) 0%, rgba(248,212,159,0.947391456582633) 31%, rgba(248,212,159,1) 100%); */
        /* background-image: url(/images/hero-shape2.png.png); */
        background:linear-gradient(90deg, rgba(248,212,159,0.19389005602240894) 0%, rgba(248,212,159,0.947391456582633) 35%, rgba(248,212,156,1) 100%);
        background-repeat: no-repeat;
        background-position: left top;
    }
    .explore-ncrt .ncrt-section {
        display: flex;
        padding: 0 50px;
        justify-content: center;
    }
    .explore-ncrt .ncrt-description{
        display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 0 58px; */
    /* margin-right: 82px; */
    /* text-align: justify; */
    margin: 0 69px;
    }
    .explore-ncrt .ncrt-description .ncrt-title{
        font-size: 40px;
        color: #434141;
    }
    .explore-ncrt .ncrt-description .ncrt-desc{
        color: #21242C;
        font-size: 18px;
    }
    .explore-ncrt .ncrt-description .ncrt-action {

    }
    .ncrt-image img {
    height: 300px;
    }
    .ncrt-image {
    padding: 35px 0;
    }
</style>

<div class="explore-ncrt">
    <div class="container">
        <div class="container-box">
            <div class="ncrt-section">
                <div class="ncrt-description">
                    <div class="ncrt-title">Explore NCERT </div>
                    <div class="ncrt-desc">Access a wide range of study material provided by NCERT, including textbooks, videos, and more. Explore the comprehensive collection of educational resources curated by NCERT to support your learning journey</div>
                    <div class="ncrt-action">
                        <div class="action-btn">
                            <a href="">Explore</a></div>
                        </div>
                        
                </div>
                <div class="ncrt-image">
                    <img src="../images/explore_diksha.png" alt="">
                </div>
            </div>
           
        </div>
        

    </div>
</div>