<style>
    .focus-area-diksha{
        padding: 50px 0;
        background-color: #ECF6FF;
    }
    .focus-items{
        font-family: 'Outfit', sans-serif;
        display: flex;
        flex-wrap: wrap;
    }
    .focus-item{
        background-color: #fff;
        box-shadow: 0 0.125rem 0.875rem 0 rgba(0,0,0,0.1);
        display:flex;
        margin: 20px;
        border-radius: 15px;
        padding: 20px;
        width: 420px;
        color: #202124;
        padding-bottom: 50px;
    }
    
    .focus-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    .focus-desc .focus-heading{
        font-size: 24px;
        font-weight: 600;
    }
    .focus-desc .focus-details {
    padding-right: 18px;
}
</style>


<div>
    <div class="focus-area-diksha">
        <div class="head-title">
            <span class="text">Focus Areas of <span class="title-diksha-color">DIKSHA</span></span>
        </div>
        <dic class="container">
            <div class="container-box">
                <div id="focus-area" class="carousel focus-area" data-ride="carousel">
                    <div class="carousel-inner" title="banner-carousel">
                        <div class="carousel-item carousel3-bg " role="option">
                            <div class="focus-item">
                                <div class="focus-desc">
                                    <div class="focus-heading">
                                        Nipun Bharat 
                                    </div>
                                    <div class="focus-details">
                                        National Initiative for Proficiency in Reading with Understanding and Numeracy
                                        <span class="read-more">
                                            Read More 
                                        </span>
                                    </div>
                                </div>
                                <div class="focus-img">
                                    <img src="../assets/homepage/focus-area/nipun-bharat.png" alt="nipun bharat">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item carousel3-bg " role="option">
                            <div class="focus-item">
                                <div class="focus-desc">
                                    <div class="focus-heading">
                                        Nipun Bharat 
                                    </div>
                                    <div class="focus-details">
                                        National Initiative for Proficiency in Reading with Understanding and Numeracy
                                        <span class="read-more">
                                            Read More 
                                        </span>
                                    </div>
                                </div>
                                <div class="focus-img">
                                    <img src="../assets/homepage/focus-area/nipun-bharat.png" alt="nipun bharat">
                                </div>
                            </div>
                        </div> 
                        <div class="carousel-item carousel3-bg" role="option">
                            <div class="focus-item">
                                <div class="focus-desc">
                                    <div class="focus-heading">
                                        Nipun Bharat 
                                    </div>
                                    <div class="focus-details">
                                        National Initiative for Proficiency in Reading with Understanding and Numeracy
                                        <span class="read-more">
                                            Read More 
                                        </span>
                                    </div>
                                </div>
                                <div class="focus-img">
                                    <img src="../assets/homepage/focus-area/nipun-bharat.png" alt="nipun bharat">
                                </div>
                            </div>
                       
                        </div>
                        <div class="carousel-item carousel3-bg" role="option">
                           
                        </div>
                    </div>   
                    <ol class="carousel-indicators">      
                        <li data-target="#focus-area" tabindex="0" data-slide-to="0" aria-current="page" 
                        aria-controls="carousel-items" aria-label="CWSN"></li>
                        <li data-target="#focus-area" tabindex="0" data-slide-to="1" aria-current="page"
                        aria-controls="carousel-items" aria-label="man ki baat"></li>
                        <li data-target="focus-area" tabindex="0" data-slide-to="2" aria-current="page" 
                        aria-controls="carousel-items" aria-label="jadoo pitara"></li>
                        <li data-target="#focus-area" tabindex="0" data-slide-to="3" aria-current="page"
                        aria-controls="carousel-items" aria-label="G 20"></li>
                    </ol>
                
                     <!-- Left and right controls -->
                 <!--<a class="left carousel-control" href="#homePageSlide" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    
                   </a>
                   <a class="right carousel-control" href="#homePageSlide" role="button" data-slide="next">
                    
                     <span class="carousel-control-next-icon"></span>
                   </a>-->
                </div>
                <!-- <div class="focus-items">
                    <div class="focus-item">
                        <div class="focus-desc">
                            <div class="focus-heading">
                                Nipun Bharat 
                            </div>
                            <div class="focus-details">
                                National Initiative for Proficiency in Reading with Understanding and Numeracy
                                <span class="read-more">
                                    Read More 
                                </span>
                            </div>
                        </div>
                        <div class="focus-img">
                            <img src="../assets/homepage/focus-area/nipun-bharat.png" alt="nipun bharat">
                        </div>
                    </div>
                    <div class="focus-item">
                        <div class="focus-desc">
                            <div class="focus-heading">
                                Bhasha Sangam
                            </div>
                            <div class="focus-details">
                                National Initiative to teach basic sentences of everyday usage in 22 Indian languages 
                                <span class="read-more">
                                    <a href="">
                                        Read More 
                                    </a>
                                    
                                </span>
                            </div>
                        </div>
                        <div class="focus-img">
                            <img src="../assets/homepage/focus-area/bhasha-sangam.png" alt="nipun bharat">
                        </div>
                    </div>
                    <div class="focus-item">
                        <div class="focus-desc">
                            <div class="focus-heading">
                                Jaadui Pitara 
                            </div>
                            <div class="focus-details">
                                To impart foundational literacy and numeracy, critical life skills for Citizens
                                <span class="read-more">
                                    Read More 
                                </span>
                            </div>
                        </div>
                        <div class="focus-img">
                            <img src="../assets/homepage/focus-area/jadui-pitara.png" alt="nipun bharat">
                        </div>
                    </div>
                    <div class="focus-item">
                        <div class="focus-desc">
                            <div class="focus-heading">
                                Nipun Bharat 
                            </div>
                            <div class="focus-details">
                                National Initiative for Proficiency in Reading with Understanding and Numeracy
                                <span class="read-more">
                                    Read More 
                                </span>
                            </div>
                        </div>
                        <div class="focus-img">
                            <img src="../assets/homepage/focus-area/bhasha-sangam.png" alt="nipun bharat">
                        </div>
                    </div>
                </div> -->
            </div>
        </dic>
    </div>
    
</div>

