<style>
    .focus-area-diksha{
        padding: 3.125rem 0;
        background-color: #ECF6FF;
    }
    .focus-item{
        background-color: #fff;
        box-shadow: 0 0.125rem 0.875rem 0 rgba(0,0,0,0.1);
        display:flex;
        margin: 0.625rem;
        border-radius: 0.9375rem;
        padding: 0.625rem;
        color: #202124;
        padding-bottom: 3.125rem;
        justify-content: space-between;
        cursor: pointer;
        height: 270px;
        max-height: 290px !important;
    } 
    .focus-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    .focus-desc .focus-heading{
        font-size: 1.5rem;
        font-weight: 600;
        position: relative;
    }
    .focus-desc .focus-details {
        padding-right: 1.125rem;
        padding-top: 10px;
    }
    .read-more {
        color: #024F9D;
        font-size: 0.875rem;
        font-weight: bold;
    }
    .read-more span {
        padding: 0 0.3125rem;
    }
    .focus-heading .focus-border-bottom {
        position: absolute;
        left: 0;
        height: 7px;
        width: 30%;
        background-color: #024F9D;
        border-radius: 10px;
    }
    .focus-item:hover {
        background-color: hsl(43.2deg 98.43% 75.1%);
    }
    .focus-area-carousel .carousel-control-prev,
    .focus-area-carousel .carousel-control-next{
        display: none;
    }
    .focus-area-carousel .carousel-item.active>:nth-child(2) .focus-item{
        background-color: hsl(43.2deg 98.43% 75.1%);
    }
    .focus-area-carousel .carousel-indicators{
        bottom: -25px !important;
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }
    .focus-area-carousel .carousel-indicators [data-bs-target]{
        background-color: #8C8C8C;
        height: 6px;
        width: 16px;
        margin: 3px;
        border-radius: 10px !important;
        border: 0 !important;
    }
    .focus-area-carousel .carousel-indicators [data-bs-target].active{
        height: 9px;
        width: 24px;
        background-color: #024F9D;
    }
    @media (max-width: 767px) {
	    .focus-area-carousel .carousel-inner .carousel-item > div {
			display: none;
		}
        .focus-area-carousel .carousel-inner .carousel-item > div:first-child {
			display: block;
		}
	}
	.focus-area-carousel .carousel-inner .carousel-item.active,
    .focus-area-carousel .carousel-inner .carousel-item-next,
    .focus-area-carousel .carousel-inner .carousel-item-prev {
		display: flex;
	}
    @media (max-width: 576px){
        .focus-area-carousel .carousel-control-prev,
        .focus-area-carousel .carousel-control-next{
            display: block;
            top: 45%;
            opacity: 1 !important;
        }
        .focus-area-carousel .carousel-control-prev{
            left: -10%;
        }
        .focus-area-carousel .carousel-control-next{
            right: -10%;
        }
        .focus-area-carousel .carousel-control-prev-icon,
        .focus-area-carousel .carousel-control-next-icon {
            background-color: #024F9D;
            height: 20px;
            width: 20px;
            padding: 7px;
            color: #ffffff;
        }
    }
    @media (max-width: 350px){
        .focus-item{
            height: auto;
            max-height: unset !important ;
        }
    }
</style>
<div class="focus-area-diksha">
    <div class="container">
        <div class="head-title">
            <span class="text" data-translate="focusArea" >{{site.data.text.focusArea}}</span>
            <span class="title-diksha-color"  data-translate="diksha">{{site.data.text.diksha}}</span>
        </div>
    </div>
    <div class="container">
        <div class="container-box">
            <div id="focusAreaCarousel" class="focus-area-carousel focus-areas carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#focusAreaCarousel" tabindex="0" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#focusAreaCarousel" tabindex="0" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#focusAreaCarousel" tabindex="0" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#focusAreaCarousel" tabindex="0" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#focusAreaCarousel" tabindex="0" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#focusAreaCarousel" tabindex="0" data-bs-slide-to="5" aria-label="Slide 6"></button>
                  </div>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="col-md-6 col-xl-4">
                            <div class="focus-item" onclick="window.open('/fln.html', '_blank')">
                                <div class="focus-desc">
                                    <div class="focus-heading">
                                        <span data-translate="nipunBharat">{{site.data.text.nipunBharat}}</span>
                                        <div class="focus-border-bottom">
                                        </div>
                                    </div>
                                    <div class="focus-details">
                                        <span data-translate="nipunBharatDesc"> {{site.data.text.nipunBharatDesc}}</span>
                                        <br>
                                        <span class="read-more">
                                            <a href="/fln.html"  target="_blank">
                                                <span data-translate="explore">{{site.data.text.explore}}</span>
                                                <span>
                                                    <img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/homepage/raed-more.png" alt="read more" class="read-more-img">
                                                </span>
                                            </a>
                                        
                                        </span>
                                    </div>
                                </div>
                                <div class="focus-img">
                                    <img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/homepage/focus-area/nipun-bharat.png" alt="nipun bharat">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-6 col-xl-4">
                            <div class="focus-item" onclick="window.open('https://bit.ly/BhashaSangam', '_blank')">
                                <div class="focus-desc">
                                    <div class="focus-heading">
    
                                        <span data-translate="bhasaSangam">{{site.data.text.bhasaSangam}}</span>
                                        <div class="focus-border-bottom">
                                        </div>
                                    </div>
                                    <div class="focus-details">
                                        <span data-translate="bhasaSangamDesc">{{site.data.text.bhasaSangamDesc}}</span>
                                        <br>
                                        <span class="read-more">
                                            <a href="https://bit.ly/BhashaSangam"  target="_blank">
                                                <span data-translate="explore">  {{site.data.text.explore}} </span>
                                                <span>
                                                    <img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/homepage/raed-more.png" alt="read more" class="read-more-img">
                                                </span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div class="focus-img">
                                    <img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/homepage/focus-area/bhasha-sangam.png" alt="nipun bharat">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-6 col-xl-4">
                            <div class="focus-item" onclick="window.open('https://ejaaduipitara.ncert.gov.in/', '_blank')">
                                <div class="focus-desc">
                                    <div class="focus-heading">
                                        <span data-translate="jaduiPitara">{{site.data.text.jaduiPitara}}</span>
                                        <div class="focus-border-bottom">
                                        </div>
                                    </div>
                                    <div class="focus-details">
                                        <span data-translate="jaduiPitaraDesc">{{site.data.text.jaduiPitaraDesc}}</span>
                                        <br>
                                        <span class="read-more">
                                            <a href="https://ejaaduipitara.ncert.gov.in/"  target="_blank">
    
                                            <span data-translate="explore"> {{site.data.text.explore}} </span>
                                                <span>
                                                    <img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/homepage/raed-more.png" alt="read more" class="read-more-img">
                                                </span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div class="focus-img">
                                    <img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/homepage/focus-area/jadui-pitara.png" alt="nipun bharat">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-6 col-xl-4">
                            <div class="focus-item" onclick="window.open('/adult-education.html', '_blank')">
                                <div class="focus-desc">
                                    <div class="focus-heading">
                                        <span data-translate="adultEducation">{{site.data.text.adultEducation}}</span>
                                        <div class="focus-border-bottom">
                                        </div>
                                    </div>
                                    <div class="focus-details" >
                                        <span data-translate="adultEducationDesc">{{site.data.text.adultEducationDesc}}</span>
                                        <br> <span class="read-more">
                                            <a href="/adult-education.html"  target="_blank">
                                                <span data-translate="explore">  {{site.data.text.explore}} </span>
                                                <span>
                                                    <img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/homepage/raed-more.png" alt="read more" class="read-more-img">
                                                </span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div class="focus-img">
                                    <img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/homepage/focus-area/adult-education.png" alt="nipun bharat">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-6 col-xl-4">
                            <div class="focus-item" onclick="window.open('/virtuallabs.html', '_blank')">
                                <div class="focus-desc">
                                    <div class="focus-heading">
                                        <span data-translate="virtualLab">{{site.data.text.virtualLab}}</span>
                                        <div class="focus-border-bottom">
                                        </div>
                                    </div>
                                    <div class="focus-details">
                                        <span data-translate="virtualLabDesc">{{site.data.text.virtualLabDesc}}</span>
                                    
                                        <br> <span class="read-more">
                                            <a href="/virtuallabs.html"  target="_blank" >
                                                <span data-translate="explore">  {{site.data.text.explore}} </span>
                                                <span>
                                                    <img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/homepage/raed-more.png" alt="read more" class="read-more-img">
                                                </span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div class="focus-img">
                                    <img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/homepage/focus-area/vietual-lab.png" alt="nipun bharat">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-6 col-xl-4">
                            <div class="focus-item" onclick="window.open('/vocational-education.html', '_blank')">
                                <div class="focus-desc">
                                    <div class="focus-heading">
                                        <span data-translate="vocationEducation">{{site.data.text.vocationEducation}}</span>
                                        <div class="focus-border-bottom">
                                        </div>
                                    </div>
                                    <div class="focus-details">
                                        <span data-translate="vocationEducationDesc"> {{site.data.text.vocationEducationDesc}}</span>
                                        <br> <span class="read-more">
                                            <a href="/vocational-education.html"  target="_blank">
                                                <span data-translate="explore">  {{site.data.text.explore}} </span>
                                                <span>
                                                    <img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/homepage/raed-more-blue.svg" alt="read more" class="read-more-img">
                                                </span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div class="focus-img">
                                    <img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/homepage/focus-area/vocation-education.png" alt="nipun bharat">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#focusAreaCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#focusAreaCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>		
    </div>
</div>