<div class="section-footer bg-black {% if !(page.url contains 'verticals' or page.url contains 'keymilestones' or page.url contains 'partners' or page.url contains 'help' or page.url contains 'term-of-use') %} {% else %}landingPage-footer{% endif %}"
    id="sectionFooter">
    <div class="container">
        <div class="row links-container">
            <div class="col-sm-12 col-md-12 col-lg-4 footer-link-div pb-3">
                <div class="contact-div">
                    <div class="contact-txt">
                        <label class="d-block hide">
                            Contact for queries: <a class="btn btn-link footer-link px-0" href="mailto: support@teamdiksha.org"
                                title="support@teamdiksha.org"> support@teamdiksha.org</a>  
                        </label>
                    </div>
                </div>
                <!-- <a class="btn btn-link footer-link p-0 d-block" href="{{site.baseurl}}/verticals/profile-registry/"
                    title="DIKSHA Verticals">
                    DIKSHA Verticals
                </a> -->
                <!-- <a class="btn btn-link footer-link p-0 pt-3 d-block" href="{{site.baseurl}}/help/getting-started/explore-diksha/index.html" title="Help Center">
                    Help Center
                </a>
                <a class="btn btn-link footer-link p-0 pt-3 d-block" href="{{site.baseurl}}/partners/" title="Partners">
                    Partners
                </a> -->
            </div>
            <!--<div class="col-sm-12 col-md-12 col-lg-4 pb-3">
                <div class="footer-app-details">
                    <div class="txt ">
                        <label>DIKSHA for Mobile</label>
                    </div>
                    <div class="app-img">
                        <a id="installapp-mobile" class="btn btn-link js-interActEvent">
                            <img class="img-fluid" src="{{site.baseurl}}/assets/imgs/google_playstore.png"  title="Google Playstore" alt="Google Playstore"></a>
                    </div>
                </div>

            </div>-->
            <div class="col-sm-12 col-md-12 col-lg-4 pb-3 ml-auto">
                <div class="contact-div">
                    <!-- <div class="contact-txt">
                        <label class="d-block hide">
                            Contact for queries: <br /><a class="btn btn-link footer-link px-0" href="mailto:diksha-support@ncte-India.org"
                                title="diksha-support@ncte-india.org">diksha-support@ncte-india.org</a>
                        </label>
                    </div> -->
                    <div class="terms-of-use-txt">
                        <div>
                            <a class="btn btn-link footer-link d-inline-block px-0" href="/assets/download/National Teachers Platform- Strategy & Approach.pdf" title="View DIKSHA Strategy and Approach paper">
                                View DIKSHA Strategy and Approach paper
                            </a>
                        </div>
                        <div>
                        <a class="btn btn-link d-inline-block px-0" target="_self" href="/term-of-use.html" title="Terms of Use">
                            Terms and Policies
                        </a>
                        <span>&nbsp;|&nbsp;</span>
                        <span class="dk-copyright-text">&copy; 2022, DIKSHA</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
