<style>
     .new-banner{
       width: 100%;
        background: url({{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/homepage/caption-bg.png), linear-gradient(74deg, rgba(2,79,157,1) 0%, rgba(75,72,228,0.8827906162464986) 100%);
        background-position: right;
        background-repeat: no-repeat;

    }
    .about-caption{
        padding: 52px 0;
        color: #fff;
        font-family: 'Outfit', sans-serif;
        
    }
    .about-caption .diksha-title{
        font-size: 48px;
        font-weight: 600px;
    } 
    .about-caption .diksha-desc{
        font-size: 18px;

    } 
</style>


<div class="new-banner">
    <div class="container">
        <div class="container-box">
            <div class="about-caption"> 
                <div class="diksha-title" data-translate="getapp">{{site.data.text.getapp}}</div>
                <div class="diksha-desc" data-translate="getAppDesc">{{ site.data.text.getAppDesc }}</div>
            </div>
        </div>
    </div>
</div>