<style>
    html {
        font-family: 'Lato', sans-serif;
        font-family: 'Outfit', sans-serif;
    }
    p {
        font-family: 'Lato', sans-serif;
    }
    .container .container-box{
        width: 90%;
        margin: 0 auto;
    }
    .brand-top-header{
        background-color: #20242A;
        color: #EBEBEB;
        font-size: 0.75rem;
    }
    .brand-top-header .container {
        width: 96% !important;
        max-width: 96% !important;
        margin: 0 auto;
    }
    .brand-top-header .container .top-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0px;
    }
    .brand-top-header div.dk-top-head-ul {
        display: flex;
    }
    .brand-top-header div.dk-top-head-ul ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .brand-top-header div.dk-top-head-ul ul li {
        text-align: center;
    }
    .brand-top-header div.dk-top-head-ul ul li a {
        color: #EBEBEB;
        text-decoration: none;
    }
    nav.main-top-header{
        padding: 0.625px 0;
    }
    .main-top-header .mainHeader{
        display: flex;
        align-items: center;
        padding: 0.938rem 0;
    }
    .main-top-header .mainHeader .nav-action{
        display: flex;
        align-items: center;
        color: #434141;
        text-transform: uppercase;
        font-size:1rem;
        justify-content: center;
        /* font-weight: bold; */
    }
    .navMenu a {
        padding: 0 0.8125rem;
        /* font-weight: bold; */
        letter-spacing: 0.0063rem;
        color: #434141;
        /* font-size:0.875rem ; */
        font-family: 1rem;
    }

    a.navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -2.0625rem;
    }
    .navbar-brand .vidyadan{
        padding: 0 0.625px;
    }

    .mainHeader .nav-explore {
        display: flex;
        justify-content: flex-end;
    }

    .mainHeader .nav-explore .nav-exp-active {
        border: 0;
        background-color: #024F9D;
        padding: 0.5375rem 0.75rem;
        border-radius: 0.25rem;
        color: #FFFFFF;
        cursor: pointer;
        /* font-weight: bold; */
        text-transform: uppercase;
        margin: 0 0.938rem;
    }
    .mainHeader .nav-explore .nav-exp {
        border: 0;
        padding: 0.5375rem 0.75rem;
        border-radius: 0.25rem;
        color: #005DA3;
        cursor: pointer;
        border: 0.0625px solid #005DA3;
        text-transform: uppercase;
        font-weight: bold;
    }
   .main-top-header .sb-btn-explore-diksha{
        border-radius: 0;
        background-color: transparent;
        border-color: transparent;
        /* margin: 0 0.625rem; */
        margin: 0;
   }

   .padding-0{
    margin: 0;
    padding: 0;

   }
    @media (max-width: 1024) {
        .dropdown-wrapper {
            justify-content: center;
        }
        .dropdown-wrapper ul{
            top: 100%;
        }
    }
    /* For Tablet View */
    @media (max-width: 768px){
        .container .container-box {
            width: 100%;
            margin: 0 auto;
        }
        .logo-action {
            display: flex;
            justify-content: center;
        }
        .mainHeader .nav-explore {
            display: flex;
            justify-content: center;
        }

    }

    /* For Mobile Phones Portrait or Landscape View */
    @media (max-width: 640px) {
        
    }

    /* For Mobile Portrait View */
    @media (max-width: 425px){

    }
</style>
<div class="brand-top-header">
    <div class="container">
        <div class="container-box">
            {% include new-accessbility-bar.html %}
        </div>
    </div>
</div>
<div class="dk-primary-navigation">
    <div class="container ">
        <div class="container-box">
            <nav class="main-top-header" >
                <div class="mainHeader row">
                        <div class="col-lg-2 col-md-12 col-sm-12">
                            <div  class="logo-action">
                                <a class="navbar-brand py-0" href="/#">
                                    <!-- <span><img src="../images/ashok-stambh.png" alt="ashok-stambh"></span> -->
                                    <span><img src="../images/diksha.png" alt="Diksha-logo"></span>
                                    <!-- <span class="vidyadan"><img src="../images/vidyadan.png" alt="vidyadan-logo"></span> -->
                                    <!-- <span class="gtwenty"><img src="../images/G20_India_2023_logo 1.png" alt="g20-logo"></span>  -->
                                </a>
                            </div>
                        </div>
                        <div class=" col-lg-6 col-md-12 col-sm-12">
                            <div  class="nav-action">
                                {% include page-primary-menu-new.html %}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 padding-0">
                            <div class="nav-explore">
                                <div class="sb-btn-explore-diksha">
                                    <a class="nav-exp-active " href="">Explore DIKSHA</a>
                                </div>
                               
                                <div class="">
                                    <a class="nav-exp" href="https://diksha.gov.in/auth/realms/sunbird/protocol/openid-connect/auth?client_id=portal&state=b7b29470-2b44-4cfd-858a-757128fe0238&redirect_uri=https%3A%2F%2Fdiksha.gov.in%2Fresources%3Fboard%3DCBSE%26medium%3DHindi%26gradeLevel%3DSecondary%26%26id%3Dnios_fw%26selectedTab%3Dtextbook%26auth_callback%3D1&scope=openid&response_type=code&version=4" target="_blank">Login</a>
                                </div>
                                
                            </div> 
                        </div>
                </div>
            </nav>
        </div>
    </div>
</div> 
