<div class="mobile-section">
    <div class="sb-g">
    <div class="sb-g-col-xs-12 sb-g-col-md-12 sb-g-col-lg-6 sb-g-col-xxxl-8">
        <div class="px-24 dk-footer__img" tabindex="0"><img loading="lazy" 
decoding="async" src="{{site.data.tenantAssetPath[site.environment].
baseCdnUrl}}/diksha-mission/footer-mobile.svg" onerror="this.src='{{site.data.
tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/footer-mobile.
svg'" width="100%" alt="" role="presentation"></div>
    </div>
    <div class="sb-g-col-xs-12 sb-g-col-md-12 sb-g-col-lg-6 sb-g-col-xxxl-8">
        <div class="px-24 dk-footer__info">
            <h3 class="title h4-dik-heading" data-translate="DIKSHAforMobile">{{ site.
data.text.DIKSHAforMobile }}</h3>
            <p class="description" data-translate="DIKSHAforMobileDescription">{{ site.
data.text.DIKSHAforMobileDescription }}</p>
            <a href="#" class="get-it-on-googleplay" tabindex="0"><img loading="lazy" 
decoding="async" src="{{site.data.tenantAssetPath[site.environment].
baseCdnUrl}}/diksha-mission/googleplay.svg" onerror="this.src='{{site.data.
tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/googleplay.
svg'" width="160" alt="Get it from google play"></a>
            <a href="#" class="get-it-on-googleplay" tabindex="0"><img loading="lazy"
                decoding="async" src="{{site.data.tenantAssetPath[site.environment].
                baseCdnUrl}}/diksha-mission/googleplay.svg" onerror="this.src='{{site.data.
                tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/googleplay.
                svg'" width="160" alt="Get it from google play"></a>
        </div>
    </div>
</div>