<div class="hidden-lg-up">
    <div class="box flex">
         <img loading="lazy" decoding="async"  src="assets/imgs/VidyaDaan.png" alt="VidyaDaan Logo">
         <img loading="lazy" decoding="async"  src="assets/imgs/divider.png" class="divider" alt="divider image">
        <div class="vidyadaan-content">
             <span>
                 <label>A program of the nation, for the nation and by the nation to ensure continuity of quality
                     learning</label>
                <p>This national program is a call to the nation, particularly individuals & organizations across the
                     country to contribute e-learning resources in the education domain to ensure that quality learning
                     continues for learners across India.</p>
             </span>
             <!-- <span>
                 <img src="assets/imgs/PM.png" alt="Hon'ble Prime Minister - Shri. Narendra Modi">
             </span> -->
        </div>
    </div>
 </div>
 <div class="hidden-lg-down">
    <div class="box flex">
        <div class="flex-even">
             <img loading="lazy" decoding="async"  src="assets/imgs/VidyaDaan.png" alt="VidyaDaan Logo">
             <!-- <img src="assets/imgs/PM.png" class="PMpic" alt="Hon'ble Prime Minister - Shri. Narendra Modi"> -->
        </div>
        <div class="vidyadaan-content">
             <span>
                 <label>A program of the nation, for the nation and by the nation to ensure continuity of quality learning</label>
                <p>This national program is a call to the nation, particularly individuals & organizations across the
                     country to contribute e-learning resources in the education domain to ensure that quality learning
                     continues for learners across India.</p>
             </span>
        </div>
    </div>
 </div>
 <a href="https://vdn.diksha.gov.in/?utm_source=DIKSHA&utm_medium=landing_page" class="participate-button">
     <button type="button" class="participate">PARTICIPATE</button>
 </a>