<div class="container home-banner-content">
    <div class="row title-txt">
        <div class="col-sm-12 col-md-12 title text-center">
            <h1 class="m-0">
                DIKSHA
            </h1>
        </div>
        <div class="col-sm-12 col-md-12 title-description text-center">
            <p class="tagBold m-0">
                Platform for School Education
            </p>
            <p class="m-0 tag">
                An initiative of National Council of Educational Research and Training (Ministry of Education, Govt of India)
            </p>
        
        </div>
        <!-- <div class="col-sm-12 col-md-12 app-logo text-center pb-5 pt-3 px-0">
            <a id="installapp-mobile" class="btn btn-link js-interActEvent">
                <img class="img-fluid" src="./assets/imgs/google_playstore.png">
            </a>
        </div> -->
    </div>
</div>
<!-- <div class="row homeBannerImg">
    <div class="col-md-12">
        <div class="img-div home-banner-bg text-center">
            <div class="img">
                <img class="img-fluid" src="../assets/imgs/scanner/diksha_scan_home_w_1400.png" alt="Diksha" title="Diksha">
            </div>
        </div>
    </div>
</div>
<iframe width="100%" height="100%" src="./bannerImage/banner-image.html" class="homeBanner" onload="showHomeBanner()"></iframe> -->
<div class="home-banner-Img">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <img class="img-fluid" src="/assets/imgs/bannerBookImg.png" alt="Book image">
            </div>
        </div>
    </div>
    <div class="iframe-div" id="homeBannerIframe">
        <!--<iframe width="100%" height="100%" src="/assets/bannerImage/banner-image.html"></iframe>-->
    </div>

</div>