<!-- <img class="img-fluid vertical-img" src="./assets/imgs/VerticalMask1440.png" alt="Vertical Mask"> -->
<div class="container vertical-container pb-5">
    <div class="row vertical-title pb-5">
        <div class="col-sm-12 text-center">
            <h2>DIKSHA Verticals</h2>
        </div>
    </div>
    <div class="row pb-5 d-none d-md-flex">
        <div class="col-md-12 col-lg-5">
            <div class="vertical-selection-div">
                <div class="selector-div d-inline-block active" id="verticals0">
                    <a href="javascript:void(0)" class="m-0">
                        Teaching and Learning Content
                    </a>
                </div>
                <div class="selector-div d-inline-block" id="verticals1">
                    <a href="javascript:void(0)" class="m-0">
                        Content Creation Platform
                    </a>
                </div>
                <div class="selector-div d-inline-block" id="verticals2">
                    <div>
                        <a href="javascript:void(0)" class="m-0">
                            Teacher Professional Development
                        </a>
                    </div>
                </div>
                <div class="selector-div d-inline-block" id="verticals3">
                    <div>
                        <a href="javascript:void(0)" class="m-0">
                            School Leadership Development
                        </a>
                    </div>
                </div>
                <div class="selector-div d-inline-block" id="verticals4">
                    <div>
                        <a href="javascript:void(0)" class="m-0">
                            Assessment
                        </a>
                    </div>
                </div>
                <div class="selector-div d-inline-block" id="verticals5">
                    <a href="javascript:void(0)" class="m-0">
                        Innovation & Innovative Pedagogy
                    </a>
                </div>
                <div class="selector-div" id="verticals6">
                    <a href="javascript:void(0)" class="m-0">
                        Teacher Profile and Registry
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-7 pt-5">
            <div id="verticalSectionSlides" class="carousel slide px-5 ml-3 pt-5" data-ride="carousel">
                <div class="slides-container pt-3">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="slide-title py-4">
                                <label>Teaching and Learning Content</label>
                            </div>
                            <div class="slide-discription">
                                <p>
                                    Curriculum linked resources for teachers and students in an interactive and
                                    engaging format
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="slide-title py-4">
                                <label>Content Creation Platform</label>
                            </div>
                            <div class="slide-discription">
                                <p>
                                    Tools and platforms for creating and uploading content
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="slide-title py-4">
                                <label>Teacher Professional Development</label>
                            </div>
                            <div class="slide-discription">
                                <p>
                                    Contextualized digital courses for supporting teachers in their professional
                                    development
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="slide-title py-4">
                                <label>School Leadership Development</label>
                            </div>
                            <div class="slide-discription">
                                <p>
                                    Repository of relevant courses to help principals, vice-principals and head of
                                    schools improve their leadership skills
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="slide-title py-4">
                                <label>Assessments</label>
                            </div>
                            <div class="slide-discription">
                                <p>
                                    Resources and tools for teachers, students for school-level assessments
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="slide-title py-4">
                                <label>Innovation & Innovative Pedagogy</label>
                            </div>
                            <div class="slide-discription">
                                <p>
                                    Sharing of best practices and experiences amongst teacher community through case
                                    studies, research papers and innovative pedagogical practices
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="slide-title py-4">
                                <label>Teacher Profile and Registry</label>
                            </div>
                            <div class="slide-discription">
                                <p>
                                    Functionality to create State-level DIKSHA user profiles, with users having the flexibility to on-board anonymously, using their preferred log in credentials as well as by State
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="slide-footer py-5">
                        <a class="btn btn-diksha" href="{{site.baseurl}}/verticals/profile-registry/" title="Explore Verticals">
                            Explore Verticals
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex d-sm-flex d-md-none text-center verticals-mobile pb-4">
        <div class="col-sm-12">
            <div id="verticalsMobile" class="carousel slide px-3" data-ride="carousel">
                <div class="slides-container">
                    <ol class="carousel-indicators">
                        <li data-target="#verticalsMobile" data-slide-to="0" class="active"></li>
                        <li data-target="#verticalsMobile" data-slide-to="1"></li>
                        <li data-target="#verticalsMobile" data-slide-to="2"></li>
                        <li data-target="#verticalsMobile" data-slide-to="3"></li>
                        <li data-target="#verticalsMobile" data-slide-to="4"></li>
                        <li data-target="#verticalsMobile" data-slide-to="5"></li>
                        <li data-target="#verticalsMobile" data-slide-to="6"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="slide-title py-4">
                                <label>Teacher Profile and Registry</label>
                            </div>
                            <div class="slide-discription">
                                <p>
                                    State level functionalities for creations of DIKSHA profile verticals with users
                                    having the flexibility to on-board anonymously, using their preferred logins as
                                    well by states
                                </p>
                            </div>
                            <!-- <div class="slide-footer pt-3">
                                <a class="btn btn-diksha" href="{{site.baseurl}}/verticals/profile-registry/" title="Explore Verticals">
                                    Explore Verticals
                                </a>
                            </div> -->
                        </div>
                        <div class="carousel-item ">
                            <div class="slide-title py-4">
                                <label>Teaching and Learning Content</label>
                            </div>
                            <div class="slide-discription">
                                <p>
                                    Curriculum linked resources for teachers and students in an interactive and
                                    engaging format
                                </p>
                            </div>
                            <!-- <div class="slide-footer pt-4">
                                <a class="btn btn-diksha" href="{{site.baseurl}}/verticals/profile-registry/" title="Explore Verticals">
                                    Explore Verticals
                                </a>
                            </div> -->
                        </div>
                        <div class="carousel-item">
                            <div class="slide-title py-4">
                                <label>Content Creation Platform</label>
                            </div>
                            <div class="slide-discription">
                                <p>
                                    Tools and platforms for creating and uploading content
                                </p>
                            </div>
                            <!-- <div class="slide-footer pt-4">
                                <a class="btn btn-diksha" href="{{site.baseurl}}/verticals/profile-registry/" title="Explore Verticals">
                                    Explore Verticals
                                </a>
                            </div> -->
                        </div>
                        <div class="carousel-item">
                            <div class="slide-title py-4">
                                <label>Teacher Professional Development</label>
                            </div>
                            <div class="slide-discription">
                                <p>
                                    Contextualized digital courses for supporting teachers in their professional
                                    development
                                </p>
                            </div>
                            <!-- <div class="slide-footer pt-4">
                                <a class="btn btn-diksha" href="{{site.baseurl}}/verticals/profile-registry/" title="Explore Verticals">
                                    Explore Verticals
                                </a> 
                            </div>-->
                        </div>
                        <div class="carousel-item">
                            <div class="slide-title py-4">
                                <label>School Leadership Development</label>
                            </div>
                            <div class="slide-discription">
                                <p>
                                    Repository of relevant courses to help principals, vice-principals and head of
                                    schools improve their leadership skills
                                </p>
                            </div>
                            <!-- <div class="slide-footer pt-4">
                                <a class="btn btn-diksha" href="{{site.baseurl}}/verticals/profile-registry/" title="Explore Verticals">
                                    Explore Verticals
                                </a>
                            </div> -->
                        </div>
                        <div class="carousel-item">
                            <div class="slide-title py-4">
                                <label>Assessment</label>
                            </div>
                            <div class="slide-discription">
                                <p>
                                    Resources and tools for teachers, students and school level assessments
                                </p>
                            </div>
                            <!-- <div class="slide-footer pt-4">
                                <a class="btn btn-diksha" href="{{site.baseurl}}/verticals/profile-registry/" title="Explore Verticals">
                                    Explore Verticals
                                </a>
                            </div> -->
                        </div>
                        <div class="carousel-item">
                            <div class="slide-title py-4">
                                <label>Innovation & Innovative Pedagogy</label>
                            </div>
                            <div class="slide-discription">
                                <p>
                                    Sharing of best practices and experiences amongst teacher community through case
                                    studies, research papers and innovative pedagogical practices
                                </p>
                            </div>
                            <!-- <div class="slide-footer pt-4">
                                <a class="btn btn-diksha" href="{{site.baseurl}}/verticals/profile-registry/" title="Explore Verticals">
                                    Explore Verticals
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>