<div class="container3">
    <div class="container1">
        <div class="container pt-5">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-title">In Focus</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container2">
        <div class="card-container row" id="inFocusCardContainer">
            <div class="col px-0">
                <div class="card-content">
                    <div class="card-title mb-0">
                        <label>More than Three lakh users downloading</label>
                    </div>
                    <div class="card-description">
                        <p>
                            The online content of the revamped syllabus for Class I, VI, IX and XI per day, the state
                            government’s move to digitize the school syllabus has become a huge hit.
                        </p>
                    </div>
                    <div class="card-media-name">
                        <label>Times of India</label>
                    </div>
                </div>
            </div>
            <div class="col px-0">
                <div class="card-content">
                    <div class="card-title mb-0">
                        <label>Government launches DIKSHA Portal for teachers</label>
                    </div>
                    <div class="card-description">
                        <p>
                            The Union Ministry of Human Resource and Development (HRD) has launched the DIKSHA portal - https://diksha.gov.in - National Digital Infrastructure for Teachers. This portal will equip teachers across the nation using advanced digital technology.
                        </p>
                    </div>
                    <div class="card-media-name">
                        <label>Daily Hunt</label>
                    </div>
                </div>
            </div>
            <div class="col px-0">
                <div class="card-content">
                    <div class="card-title mb-0">
                        <label>School Textbooks to sport digital links to download videos and other relevant information</label>
                    </div>
                    <div class="card-description">
                        <p>
                            The Board of Intermediate Education (BIE) is coming up with QR Codes in textbooks to assist students to go beyond classroom teaching.
                        </p>
                    </div>
                    <div class="card-media-name">
                        <label>Indian Express</label>
                    </div>
                </div>
            </div>
            <div class="col px-0">
                <div class="card-content">
                    <div class="card-title mb-0">
                        <label>Students studying in regional languages also use this app</label>
                    </div>
                    <div class="card-description">
                        <p>
                            Content is created by around 250 teachers across the state, who teach various languages. The idea was formulated to take students beyond the lesson through relatable content.
                        </p>
                    </div>
                    <div class="card-media-name">
                        <label>LatestLY</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container4">
    <div class="dikshaMobile-container">
        <div class="container p-5">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-9 text-content">
                            <div class="title">
                                <label>DIKSHA for Mobile</label>
                            </div>
                            <div class="discription">
                                <p>
                                    The DIKSHA platform offers teachers, students and parents engaging
                                    learning material relevant to the prescribed school curriculum.
                                    Download the DIKSHA app and scan QR code in your textbooks for easy
                                    access
                                    to your lessons.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-3 pt-3">
                            <div class="app-logo">
                                <a id="installapp-mobile" class="btn btn-link js-interActEvent" target="_blank" rel="noopener">
                                    <img src="./assets/imgs/google_playstore.png" class="img-fluid" alt="Google Playstore"
                                        title="Google Playstore"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>