<h5 class="text-center pb-3">DIKSHA Verticals</h5>
<div class="vertical-selection-div">
    <div class="selector-div d-inline-block" id="verticals0" }>
        <a href="#" class="m-0">
            Teaching and Learning content
        </a>
    </div>
    <div class="selector-div d-inline-block" id="verticals1">
        <a href="#" class="m-0">
            Content creation platform for teachers
        </a>
    </div>
    <div class="selector-div d-inline-block" id="verticals2">
        <div>
            <a href="#" class="m-0">
                Teacher perfessional development
            </a>
        </div>
    </div>
    <div class="selector-div d-inline-block" id="verticals3">
        <div>
            <a href="{{site.baseurl}}/verticals/school-leadership/" class="m-0">
                School Leadership development
            </a>
        </div>
    </div>
    <div class="selector-div d-inline-block" id="verticals4">
        <div>
            <a href="{{site.baseurl}}/verticals/assessment/" class="m-0">
                Assessments
            </a>
        </div>
    </div>
    <div class="selector-div d-inline-block" id="verticals5">
        <a href="#" class="m-0">
            Innovations
        </a>
    </div>
    <div class="selector-div" id="verticals6">
        <a href="#" class="m-0">
            State teacher registry
        </a>
    </div>

</div>