<div class="nav flex-column vertical-nav-bar d-none d-md-block">
    <label class="px-3 pt-5">DIKSHA</label>
    <h5 class="px-3">Key Milestones</h5>
    <a class="nav-link {% if page.url contains 'state-onboarded' %} active {% endif %}" href="{{site.baseurl}}/keymilestones/state-onboarded/"
        title="States Onboarded">States/UTs onboarded</a>
    <a class="nav-link {% if page.url contains 'textbook-printed' %} active {% endif %}" href="{{site.baseurl}}/keymilestones/textbook-printed/"
        title="Textbooks printed by 2019">Textbooks printed by 2019</a>
    <a class="nav-link {% if page.url contains 'digital-content' %} active {% endif %}" href="{{site.baseurl}}/keymilestones/digital-content/"
        title="Digital content published">Digital content published</a>
    <!-- <a class="nav-link" href="javascript:void(0)" title="Devices using DIKSHA">Devices using DIKSHA</a>
    <a class="nav-link" href="javascript:void(0)" title="Learning experiences">Learning experiences</a>
    <a class="nav-link" href="javascript:void(0)" title="Hours on DIKSHA">Hours on DIKSHA</a> -->
</div>