<style>
    .learning-class {
        margin:50px 0;
    }
    .learing-items{
     font-family: 'Lato', sans-serif;
        background-image: url(../assets/homepage/leaning-bg.png);
        background-repeat: no-repeat;
    border: 1px solid;
    padding: 30px 20px;
    background-position: bottom left;
    margin: 20px 13px;
    border-radius: 10px;
        color: #202124;

    }
    .student-learning img {
        max-width: 100%;
    }

    .student-learning {
        position: relative;
    }
    .student-learning .gif-section {
        position: absolute;
        top: -63px;
    left: -53px;
    width: 100%;
    }
    .class-details {
    margin-top: 49px;
}


.leaning-heading {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}
.leaning-heading .title {
    font-size: 18px;
    font-weight: bold;
    padding-left: 23px;
}
.border-green {
    border-color: #0ABE8E;
}
.border-yellow{
    border-color: #FFAD3A;
}
.border-orange{
    border-color: #FA5D29;
}
.border-blue{
    border-color: #6A9BFF;
}
</style>


        <div class="learning-class">
            <div class="head-title">
                <span class="text"><span class="title-diksha-color">Comprehensive Learning</span> for Foundational to Secondary</span>
            </div>
            <div class="container">
                <div class="container-box">
                    <div class="class-details">
                        <div class="row">
                            <div class="col-md-5 cal-sm-12">
                                <div class="student-learning ">
                                    <img src="../assets/homepage/learning-section.png" alt="leaning section">

                                    <div class="gif-section">
                                        <img src="../assets/homepage/education.gif" alt="gif">
                                    </div>

                                    
                                </div>
                            </div>
                         
                            <div class="col-md-7 cal-sm-12">
                                <div class="row">
                                    <div class="col-md-6 cal-sm-12">
                                        <div class="learing-items border-green ">
                                            <div class="leaning-heading">
                                                <div class="image">
                                                    <img src="../assets/homepage/coverage.png" alt="leaning classes">
                                                </div>
                                                <div class="title">
                                                    Complete K-12 Coverage 
                                                </div>
                                            </div>
                                            <div class="learning-descp">
                                                Access complete K-12 study material covering all boards, classes and subjects
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6 cal-sm-12">
                                        <div class="learing-items border-yellow ">
                                            <div class="leaning-heading">
                                                <div class="image">
                                                    <img src="../assets/homepage/material.png" alt="leaning classes">
                                                </div>
                                                <div class="title">
                                                    Interactive Study Material
                                                </div>
                                            </div>
                                            <div class="learning-descp">
                                                Media-rich visually engaging 2D, 3D videos in accordance with the  syllabus
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6 cal-sm-12">
                                        <div class="learing-items border-orange ">
                                            <div class="leaning-heading">
                                                <div class="image">
                                                    <img src="../assets/homepage/practice.png" alt="leaning classes">
                                                </div>
                                                <div class="title">
                                                    Unlimited Practice Content
                                                </div>
                                            </div>
                                            <div class="learning-descp">
                                                Access practice content such as NCERT solutions and trending content
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 cal-sm-12">
                                        <div class="learing-items border-blue">
                                            <div class="leaning-heading">
                                                <div class="image">
                                                    <img src="../assets/homepage/quiz.png" alt="leaning classes">
                                                </div>
                                                <div class="title">
                                                    Participate in Quizzes 
                                                </div>
                                            </div>
                                            <div class="learning-descp">
                                                Quizzes makes learning fun and help students perform better.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                    </div>
         </div>
    </div>
</div>
