<style>
    .leraning-section {
    display: flex;
    justify-content: center ;
    margin: 50px 0;
}
.learning-class {
    flex-direction: column;
    display: flex;
    width: 16%;
}

    .learning-card {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.learning-card title {
    font-size: 24px;
    margin: 15px 0;
}


</style>
<div class="lerning-classes">
    <div class="head-title">
        <div class="text">Comprehensive Learning for <span class="bottom-image"> KG - 12 Classes</span></div>
      </div>
    <div class="container">
        <div class="container-box">
            <div class="leraning-section">
                <div class="learning-class">
                    <div class="learning-card">
                        <span>
                            <img src="../images/Complete_K-12_Coverage.png" alt="complete">
                        </span>
                        <span>Complete K-12 Coverage</span>
                        <span>Access complete K-12 study material covering all boards, classes and subjects</span>
                     </div>
                    <div class="learning-card">
                        <span>
                            <img src="../images/Complete_K-12_Coverage.png" alt="complete">
                        </span>
                        <span>Complete K-12 Coverage</span>
                        <span>Access complete K-12 study material covering all boards, classes and subjects</span>
                     </div>
                </div>
                <div class="">
                    <span><img src="../images/learning.png" alt=""></span>
                </div>
                <div class="learning-class">
                    <div class="learning-card">
                        <span>
                            <img src="../images/Complete_K-12_Coverage.png" alt="complete">
                        </span>
                        <span class="title">Complete K-12 Coverage</span>
                        <span>Access complete K-12 study material covering all boards, classes and subjects</span>
                     </div>
                    <div class="learning-card">
                        <span>
                            <img src="../images/Complete_K-12_Coverage.png" alt="complete">
                        </span>
                        <span>Complete K-12 Coverage</span>
                        <span>Access complete K-12 study material covering all boards, classes and subjects</span>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>