<style>
    .homepage-heading {
    display: flex;
    font-size: 1.125rem;
    justify-content: center;
    background-color: #FCF2BD;
    padding: 0.875rem;
    color: #434141;
    line-height: 1.361rem;
    /* border-bottom: 1px solid #fff; */
    /* font-weight: bold; */
    }
    @media (max-width: 575.98px) { 
        .homepage-heading{
            padding: 5px 14px;
            font-size: 0.875rem;
        }
    }
</style>
<div class="homepage-heading" data-translate="dikshaDescription">
    {{ site.data.text.dikshaDescription }}
</div>