<div class="container">

    <div class="section-2">
        <div class="milestone-div">
            <div class="milestone-text">
                <h2 class="m-0">
                    DIKSHA Key Milestones
                </h2>
            </div>
        </div>
    </div>
    <div class="milestone-image-section">
        <a href="{{site.baseurl}}/keymilestones/state-onboarded/" class="row mobile-path-1 js-interActEvent-keymilestones" id="keymilestones-textbookPrintedMobile">
            <div class="col text-right pt-4 pb-3 mlstone-content-center item-end">
                <h6 id="stateOnboardMobile"></h6>
                <p>States/UTs onboarded</p>
            </div>
            <div class="col text-left pt-4 pb-3"><span class="mile-stone-icon india-map-icon"></span></div>
        </a>
        <a href="{{site.baseurl}}/keymilestones/textbook-printed/" class="row mobile-path-2 js-interActEvent-keymilestones" id="keymilestones-textbookPrintedMobile">
            <div class="col text-right pt-3 pb-3 mlstone-content-center item-end"><span class="mile-stone-icon textbooks-icon"></span></div>
            <div class="col text-left pt-3 pb-3">
                <h6 id="textBookPrintedMobile"></h6>
                <p>Textbooks to be printed by <span id="yearIdTextbookMobile"></span> for <span id="boardIDTextbookMobile"></span>
                    boards</p>
            </div>
        </a>
        <a href="{{site.baseurl}}/keymilestones/digital-content/" class="row mobile-path-3 js-interActEvent-keymilestones" id="keymilestones-digitalContentMobile">
            <div class="col text-right pt-3 pb-3">
                <h6 id="digitalContentMobile"></h6>
                <p>Digital Content Published by <span id="noOfTeachersMobile"></span> teachers, in <span id="noOfLanguagesMobile"></span>
                    languages</p>
            </div>
            <div class="col text-left pt-3 pb-3 mlstone-content-center item-start"><span class="mile-stone-icon digital-content-icon"></span></div>
        </a>
        <a href="javascript:void(0);" class="row mobile-path-4">
            <div class="col text-right pt-3 pb-3"><span class="mile-stone-icon multi-device-icon"></span></div>
            <div class="col text-left pt-3 pb-3 mlstone-content-center item-start">
                <h6 id="noOfDevicesMobile"></h6>
                <p>Devices using Diksha</p>
            </div>
        </a>
        <a href="javascript:void(0);" class="row mobile-path-5">
            <div class="col text-right pt-3 pb-3 mlstone-content-center item-end">
                <h6 id="learningExpMobile"></h6>
                <p>Learning experiences</p>
            </div>
            <div class="col text-left pt-3 pb-3"><span class="mile-stone-icon learning-experience-icon"></span></div>
        </a>
        <a href="javascript:void(0);" class="row mobile-path-6">
            <div class="col text-right pt-3 pb-4"><span class="mile-stone-icon hours-diksha-icon"></span></div>
            <div class="col text-left pt-3 pb-4 mlstone-content-center item-start">
                <h6 id="hoursOnDikshaMobile"></h6>
                <p>Hours on DIKSHA</p>
            </div>
        </a>
    </div>
</div>