<style>
    .device-details {
    display: flex;
    padding: 50px 20px;
    align-items: center;
    }
    .device-details .device-image img {
        height: 300px;

    }
    .device-details .device-image {
        margin-right: 50px;
    }
   .device-details  .device-playstore .device-action {
    display: flex;
}
.title {
    font-size: 44px;
    font-weight: bold;
}
.device-playstore {
    margin-left: 50px;
}
.description {
    text-align: justify;
}
.device-action {
    display: flex;
}
.apple-device{
    margin-right: 20px;
}
</style>

<section class="container">
    <div class="mobile-device">
        <div class="wrapper">
            <div class="device-details">
                <div class="device-image">
                    <img src="../images/Website.jpg" alt="">
                </div>
    
                <div class="device-playstore">
                    <div class="title">DIKSHA for Mobile</div>
                    <div class="description mb-8">
                        The DIKSHA platform offers engaging learning material, 
                        relevant to the prescribed school curriculum, to teachers, 
                        students and parents. Download the DIKSHA app and scan QR 
                        codes in your textbooks for easy access to all your lessons. 
                        {Android 5.1 and above , Requires iOS 11.0 or later}
                    </div>
                    <div class="device-action my-6">
                        <div class="apple-device">
                            <img src="../images/google-play-app-store-apple.png" alt="">
                        </div>
                        <div class="android-device">
                            <img src="../images/google-play-app-store.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>