<style>

    .mobile-app{
        margin: 50px 0;
        /* background-image: url(../images/bg-rectangle.png); */
        background-repeat: no-repeat;
        background-position: right center;
    
    }
    .mobile-app-title{
        font-weight: bold;
        text-align: center;
    }
    .mobile-app-title .diksha{
        text-transform: uppercase;
        color: #0A589A;
    }
    .mobile-app-wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 40px;
    }
     .app-download {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    .scan-img{
        display: flex;
        flex-direction: column;
        font-size: 12px;
        color: #0A589A;
        align-items: center;
    }
    
    .app-download .app-img {
        display: flex;
        flex-direction: column;
    }
    .app-download .border-line {
            /* height: 100%; */
            border: 1px solid #888888;
        /* margin: 16px 40px; */
        width: 1px;
        margin-bottom: 15%;
        margin: 0 30px;
    
    } 
    .play-store-link {
        background-color: #EAEEFF;
        padding: 15px;
        margin: 20px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;
    }
    .app-details {
        margin: 0 50px;
    }
    .download-app-link {
        margin-bottom: 50px;
    }
    .play-store-link a{
        text-decoration: none;
        color: inherit;
    }
    
    .mobile-app .mobile-app-left img{
        width: 105px
    }
    .mobile-app .mobile-app-right img {
        width: 80%;
    
    } 
    .mobile-app .mobile-app-right {
        display: flex;
        justify-content: end;
    }
    </style>
    <div class="mobile-app">
        <div class="container">
            <div class="container-box ">
                <div class="row mobile-app-wrapper">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="mobile-app-right">
                            <img src="../assets/homepage/mobile-app.png" alt="mobile-app">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="mobile-app-left">
                            <div class="mobile-app-title">
                                <span  data-translate="download">{{site.data.text.download}}</span>
                                 <span class="diksha" data-translate="diksha"> {{site.data.text.diksha}} </span> <br> <span data-translate="mobileApp">{{site.data.text.mobileApp}}</span>
                                <div class="app-download">
                                    <div class="scan-img">
                                        <img src="../assets/homepage/google-playstore.png" alt="mobile-app-paly-store-scanner" class="app-scanner">
                                        <span class="my-3" data-translate="scanDownload">{{site.data.text.scanDownload}}</span>
                                        <span class="app-icon ">
                                            <a href="https://play.google.com/store/apps/details?id=in.gov.diksha.app" target="_blank">
                                                <img src="../assets/imgs/get-app/play-store.png" alt="paly store">
                                            </a>
                                        </span>
                                    </div>
                                    <div class="border-line"></div>
                                    <div class="scan-img">
                                        <img src="../assets/homepage/app-store.png" alt="mobile-app-app-store-scanner" class="app-scanner">
                                        <span class="my-3" data-translate="scanDownload">{{site.data.text.scanDownload}}</span>
                                        <span class="app-icon">
                                            <a href="https://apps.apple.com/in/app/diksha/id1587874277" target="_blank">
                                                <img src="../assets/imgs/get-app/apple-store.png" alt="apple store">
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="download-app-link">
        <div class="container">
            <div class="container-box">
                <div class="row play-store-link">
                    <div class="col-md-1"> <img src="../assets/imgs/get-app/play-store-icon.png" alt="play-store-icon"></span></div>
                    <div class="col-md-3" data-translate="downloadLinkAndroid">{{site.data.text.downloadLinkAndroid}}</div>
                    <div class="col-md-8">
                        <a href="https://play.google.com/store/apps/details?id=in.gov.diksha.app" target="_blank" class="applink" data-translate="clickHere">
                            {{site.data.text.clickHere}}
                        </a>
                    </div>
                </div>
                <div class="row play-store-link">
                    <div class="col-md-1"> <img src="../assets/imgs/get-app/apple-store-icon.png" alt="apple-store-icon"></span></div>
                    <div class="col-md-3" data-translate="downloadLinkIos">{{site.data.text.downloadLinkIos}}</div>
                    <div class="col-md-8">
                        <a href="https://apps.apple.com/in/app/diksha/id1587874277" target="_blank" class="applink" data-translate="clickHere">
                            {{site.data.text.clickHere}}
                        </a>
                    </div>
                </div>
    
            </div>
        </div>
    
    </div> -->