<style>

.mobile-app-title{
    font-weight: bold;
    text-align: center;
}
.mobile-app-title .diksha{
    text-transform: uppercase;
    color: #0A589A;
}
.mobile-app-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
}
 .app-download {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.scan-img{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #0A589A;
    align-items: center;
    justify-content: center;
}

.app-download .app-img {
    display: flex;
    flex-direction: column;
}
.app-download .border-line {
        
        border: 1px solid #888888;
        width: 1px;
        margin: 10px 30px;
    
} 
.mobile-app-diksha {
    background-color: #FFFFFF;
    padding: 50px 0;
}
.play-store-link {
    background-color: #EAEEFF;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.app-details {
    margin: 0 50px;
}
.download-app-link {
    margin-bottom: 50px;
}
.play-store-link a{
    text-decoration: none;
    color: inherit;
}
.mobile-app-diksha .mobile-app-left img{
    width: 100%;
}
</style>
<div class="mobile-app-diksha">
    <div class="container">
        <div class="container-box">
            <div class="mobile-app-wrapper row">
                <div class="col-lg-6 col-md-12 col-sm-12  mobile-app-left ">
                    <img src="../assets/homepage/mobile-app.png" alt="mobile-app">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 mobile-app-right">
                    <div class="mobile-app-title">
                        <span  data-translate="download">{{site.data.text.download}}</span>
                        <span class="diksha" data-translate="diksha"> {{site.data.text.diksha}} </span> <br> <span data-translate="mobileApp">{{site.data.text.mobileApp}}</span>
                        <div class="app-download">
                            <div class="scan-img">
                                <img src="../images/mobile_app_scanner.png" alt="mobile-app-scanner">
                                <span  data-translate="scanDownload">{{site.data.text.scanDownload}}</span>
                            </div>
                            <div class="border-line"></div>
                            <div class="scan-img">
                                <span class="app-icon my-5">
                                    <a href="https://play.google.com/store/apps/details?id=in.gov.diksha.app" target="_blank">
                                        <img src="../assets/imgs/get-app/play-store.png" alt="paly store">
                                    </a>
                                </span>
                                <span class="app-icon my-5">
                                    <a href="https://apps.apple.com/in/app/diksha/id1587874277" target="_blank">
                                        <img src="../assets/imgs/get-app/apple-store.png" alt="apple store">
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
          
        </div>
    </div>
</div>
