<style>
    .nistha-lp-banner{
        background-color: #ECF6FF;
        padding: 60px 0;
    }
    .nistha-main-head {
        margin-bottom: 2rem;
    }
    .nistha-main-head h1{
        font-size: 50px;
        font-family: 'Outfit';
        color: #434141;
        line-height: 58px;
        font-weight: 500;
    }
    .nistha-banner-desc p {
        color: #919191;
        font-weight: 500;
        line-height: 33.6px;
    }
    .nistha-banner-desc p span{
        font-weight: 700;
    }
    .lp-login-btn{
        border: 0;
        background-color: #005DA3;
        padding: 0.5375rem 0.75rem;
        border-radius: 0.25rem;
        color: #FFFFFF;
        cursor: pointer;
        text-transform: capitalize;
    }
    .lp-login-btn:hover{
        color: #ffffff !important;
    }
    .banner-course-detail {
		position: relative;
        margin-left: 4rem;
	}
	.banner-course-detail .course-data.box1{
		right: 10%;
    	top: 5%;
	}
    .banner-course-detail .course-data.box2{
        top: 59%;
        left: -18%;
	}
    .banner-course-detail .course-data.box3{
        bottom: -3%;
        left: 5%;
	}
    .banner-course-detail .course-data.box4{
        right: -3%;
        bottom: 21%;
	}
	.banner-course-detail .course-data {
		align-items: center;
		display: flex;
		border: 1px solid #005DA3;
		border-radius: 6px;
		background-color: #fff;
        position: absolute;
	}
	.banner-course-detail .course-icons {
		background-color: #005DA3;
		height: 48px;
		width: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-top-left-radius: 6px;
    	border-bottom-left-radius: 6px;
	}
	.banner-course-detail .course-text{
		color: #005DA3;
		font-size: 18px;
		line-height: 30px;
		font-weight: 500;
		background-color: #FFFFFF;
		padding: 0 7px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
	}
    .banner-course-detail .banner-img-fluid {
        max-width: 100%;
        height: auto;
    }
    @media (max-width: 576px){
        .nistha-lp-banner{
            text-align: center;
        }
        .banner-course-detail .course-icons{
            height: 33px;
            width: 33px;
        }
        .banner-course-detail .course-text{
            font-size: 12px;
        }
        .banner-course-detail .course-data.box1{
		    right: 0%;
            top: 0%;
	    }
        .banner-course-detail .course-data.box2{
            top: 25%;
            left: -28%;
        }
        .banner-course-detail .course-data.box3{
            bottom: 0%;
            left: -28%;
        }
        .banner-course-detail .course-data.box4{
            right: -3%;
            bottom: 21%;
        }
    }
    @media (min-width:576px) and (max-width: 768px){
        .banner-course-detail .course-data.box2 {
            top: 59%;
            left: -13%;
        }
    }
    @media (max-width: 768px){
        .nistha-main-head h1{
            font-size: 35px;
        }
        .nistha-main-head {
            margin-bottom: 1rem;
        }
        .login-btn-div{
            margin-bottom: 2rem;
        }
        .nistha-lp-banner{
            padding: 20px 0 50px 0;
        }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) { 
        .banner-course-detail .course-data.box1 {
            right: 0%;
            top: 0%;
        }
     }
</style>
<div class="nistha-lp-banner">
    <div class="container">
        <div class="container-box">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="nistha-main-head">
                        <h1>Empowering Minds, Shaping Futures</h1>
                    </div>
                    <div class="nistha-banner-desc">
                        <p><span>The National Initiative for School Heads and Teachers Holistic Advancement (NISHTHA) </span> is a flagship teacher training program launched by the Ministry of Education,
                            Government of India, with the aim <span> of improving the quality of school education by enhancing the knowledge and skills of teachers.</span></p>
                    </div>
                    <div class="login-btn-div">
                        <a href="https://dev-mylearn.diksha.gov.in/diksha/login.php" target="_blank" class="lp-login-btn">Login to NISHTHA</a>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="banner-course-detail">
                        <img src="../assets/homepage/nistha-lp/banner/img.png" alt="" class="banner-img-fluid">
                        <div class="course-data box1">
                            <div class="course-icons">
                                <img src="../assets/homepage/nistha-lp/banner/certificate1.svg" alt="certificate">
                            </div>
                            <div class="course-text">1M Certification</div>
                        </div>
                        <div class="course-data box2">
                            <div class="course-icons">
                                <img src="../assets/homepage/nistha-lp/banner/course1.svg" alt="course">
                            </div>
                            <div class="course-text">53 Courses</div>
                        </div>
                        <div class="course-data box3">
                            <div class="course-icons">
                                <img src="../assets/homepage/nistha-lp/banner/enroll1.svg" alt="enroll">
                            </div>
                            <div class="course-text">2.38M Enrollments</div>
                        </div>
                        <div class="course-data box4">
                            <div class="course-icons">
                                <img src="../assets/homepage/nistha-lp/banner/complete1.svg" alt="complete">
                            </div>
                            <div class="course-text">1.22M Course Completion</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
