<style>
    .sec-padding{
        padding: 40px 0; 
    }
    .why-nistha-wrap{
        display: flex;
        align-items: center;
        border: 1px solid #C2C7D0;
        position: relative;
        border-radius: 150px;
        /* height: 80px; */
        /* width: 435px; */
        margin-bottom: 2.5rem;
        width: 100%;
    }
   .ncard-flex-height{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .why-nistha-wrap .why-count{
        margin-right: -21px;
    }
    .why-nistha-wrap .why-count span {
        color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 27px;
        height: 27px;
        margin-left: -20px;
        margin-right: 15px;
        font-size: 18px;
        line-height: 23.4px;
        font-weight: 600;
    }
    .why-count.right-side {
        margin-right: -28px;
    }
    .why-nistha-wrap .why-count.right-side span{
        margin-left: 0;
        margin-right: 0;
    }
    .why-nistha-wrap .why-count span.orange{
        background-color: #ED8122;
    }
    .why-nistha-wrap .why-count span.green{
        background-color: #0D6C58;
    }
    .why-nistha-wrap .why-count span.maroon{
        background-color: #7F1C42;
    }
    .why-nistha-wrap .why-count span.purple{
        background-color: #7C3B85;
    }
    .why-nistha-wrap .why-count span.blue{
        background-color: #3065AD;
    }
    .why-nistha-wrap  .why-detail-left{
        margin-right: 4rem;
        margin-left: 10px;
    }
    .why-nistha-wrap  .why-detail-right{
        margin-left: 4.25rem;
        width: 100%;
    }
    .why-nistha-wrap p{
        font-size: 14px;
        line-height: 18.2px;
        letter-spacing: -0.1px;
        font-weight: 500;
        margin-bottom: 0;
    }
    .why-nistha-wrap .logo-box {
        position: absolute;
        right: -10%;
    }
    .why-nistha-wrap .logo-box.left {
        position: absolute;
        left: -10%;
        right: auto;
    }
    /* .step-center-img{
        max-width: 256px;
    } */
    .step-center-img img{
        max-width: 256px;
    }
    .wrap-mb-0{
        margin-bottom: 0;
    }
    @media (max-width: 576px) {
        .why-nistha-wrap{
            width: 100%;
            height: auto;
        }
        .why-nistha-wrap .why-count span{
            margin-left: -27px;
        }
        .why-nistha-wrap .why-count.right-side {
            margin-right: -27px;
        }
        .why-nistha-wrap .why-detail-left {
            margin-right: 4.8rem;
            margin-left: 10px;
        }
        .why-nistha-wrap .why-detail-right {
            margin-left: 4.8rem;
        }
        .why-nistha-wrap p{
            font-size: 12px !important;
        }
        .why-nistha-wrap .logo-box img {
            max-width: 75%;
        }
        .why-nistha-wrap .logo-box.left {
            left: -1%;
        }
        .why-nistha-wrap{
            width: 100%;
            height: auto;
        }
        .px-mob-0{
            padding: 0;
        }
    }
    @media (max-width: 375px){
        .why-nistha-wrap{
            width: 100%;
            height: auto;
        }
        .why-nistha-wrap .why-count span {
            margin-left: -32px;
        }
        .why-nistha-wrap .why-count.right-side {
            margin-right: -32px;
        }
        .left-ellipse img {
            height: 92px;
        }
        .why-nistha-wrap p {
            font-size: 11px !important;
        }
        .why-nistha-wrap .why-detail-right{
            margin-left: 4.5rem;
        }
    }
    @media (min-width:768px) and (max-width: 1199.98px){
        .why-nistha-wrap .logo-box.left{
            left: -6% !important;
        }
        .why-nistha-wrap .logo-box {
            right: -6% !important;
        }
        .why-nistha-wrap.right-side{
            margin-left: 15%;
        }
    }
    @media (max-width: 1199.98px) { 
        .wrap-mb-0 {
            margin-bottom: 0;
        }
     }
     @media (min-width: 1200px) { 
        .ml-lg-2 {
            margin-left: 2rem;
        }
        .step-img-wrap{
            width: 300px;
            margin-left: 12px;
        }
     }
     @media (min-width: 576px) and (max-width: 768px){
        .why-nistha-wrap .logo-box {
            right: -6% !important;
        }
        .why-nistha-wrap .logo-box.left {
            left: -6%;
        }
        .why-nistha-wrap .why-detail-right {
            margin-left: 4.8rem;
        }
        .why-nistha-wrap .why-detail-left {
            margin-right: 4.5rem;
        }
    }
    @media  (min-width: 1900px){
        .why-nistha-wrap .logo-box {
            right: -5%;
        }
        .why-nistha-wrap .logo-box.left {
            left: -7%;
        }
    }
</style>
<div class="why-nistha-sec sec-padding">
    <div class="nistha-sub-head">
        <h2>Need for Teacher Training Program</h2>
    </div>
    <div class="container">
        <div class="container-box">
            <div class="row justify-content-center">
                        
                <div class="col-md-8 col-xl-4 px-mob-0 px-xl-0">
                    <div class="why-nistha-wrap ml-lg-2">
                        <div class="left-ellipse">
                            <img src="../assets/homepage/nistha-lp/why/orange-ellipse.png" alt="">
                        </div>
                        <div class="why-count">
                            <span class="orange">1</span>
                        </div>
                        <!-- <span class="why-count orange">1</span> -->
                        <div class="why-detail-left">
                            <p>To improve the quality of Indian school education through Integrated Teacher Training Program.</p>
                        </div>
                        <div class="logo-box">
                            <img src="../assets/homepage/nistha-lp/why/i1.png" alt="image">
                        </div>
                    </div>
                    <div class="why-nistha-wrap">
                        <div class="left-ellipse">
                            <img src="../assets/homepage/nistha-lp/why/green-ellipse.png" alt="">
                        </div>
                        <div class="why-count">
                            <span class="green">2</span>
                        </div>
                        <!-- <span class="why-count green">2</span> -->
                        <div class="why-detail-left">
                            <p>To develop competencies among all elementary school teachers and principals.</p>
                        </div>
                        <div class="logo-box">
                            <img src="../assets/homepage/nistha-lp/why/i2.png" alt="image">
                        </div>
                    </div>
                    <div class="why-nistha-wrap wrap-mb-0 ml-lg-2">
                        <div class="left-ellipse">
                            <img src="../assets/homepage/nistha-lp/why/maroon-ellipse.png" alt="">
                        </div>
                        <div class="why-count">
                            <span class="maroon">3</span>
                        </div>
                        <!-- <span class="why-count maroon">3</span> -->
                        <div class="why-detail-left">
                            <p>To inform teachers and school principals about new school education initiatives.</p>
                        </div>
                        <div class="logo-box">
                            <img src="../assets/homepage/nistha-lp/why/i3.png" alt="image">
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-xl-4 ncard-flex-height step-img-wrap">
                    <div class="step-center-img">
                        <img src="../assets/homepage/nistha-lp/why/center-img.png" alt="">
                    </div>
                </div>
                <div class="col-md-8 col-xl-4 px-mob-0 ncard-flex-height px-xl-0">
                    <div class="why-nistha-wrap right-side">
                        <div class="logo-box left">
                            <img src="../assets/homepage/nistha-lp/why/i4.png" alt="image">
                        </div>
                        <div class="why-detail-right">
                            <p>To address the issue of uninspired and demoralized Indianteachers, it is proposed that the teaching profession be completely overhauledusing innovative teaching techniques.</p>
                        </div>
                        <div class="why-count right-side">
                            <span class="purple">4</span>
                        </div>
                        
                        <div class="left-ellipse">
                            <img src="../assets/homepage/nistha-lp/why/purple-ellipse.png" alt="">
                        </div>
                    </div>
                    <div class="why-nistha-wrap right-side wrap-mb-0">
                        <div class="logo-box left">
                            <img src="../assets/homepage/nistha-lp/why/i5.png" alt="image">
                        </div>
                        <div class="why-detail-right">
                            <p>To improve the quality of Indian school education through Integrated Teacher Training Program.</p>
                        </div>
                        <div class="why-count right-side">
                            <span class="blue">5</span>
                        </div>
                        <!-- <span class="why-count blue">5</span> -->
                        <div class="left-ellipse">
                            <img src="../assets/homepage/nistha-lp/why/blue-ellipse.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
