<style>
    .nistha-classroom-sec{
        background-color: #F8F8F8;
        margin-top: 40px;
    }
    .sec-padding{
        padding: 40px 0; 
    }
    .nistha-desc p{
        line-height: 33.6px;
    }
    @media (max-width: 576px){
        .nistha-classroom-sec {
            text-align: center;
            margin-top: 60px;
        }
    }
</style>
<div class="nistha-classroom-sec sec-padding">
    <div class="nistha-sub-head">
        <h2>DIKSHA Classroom</h2>
    </div>
    <div class="container">
        <div class="container-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="nistha-desc">
                        <p>Teachers have the opportunity to harness DIKSHA as a multifaceted instrument to elevate their teaching methodologies and enrich the educational journey within their classrooms. With access to DIKSHA's extensive collection of educational resources, spanning multimedia content and interactive activities, educators can enhance their curriculum by integrating compelling and pertinent materials tailored to their students' unique requirements and educational goals. DIKSHA hosts a diverse range of content developed by esteemed entities such as NCERT, various educational boards, Khan Academy, Toon Masti, and others, offering teachers a rich array of resources to draw from. Furthermore, teachers now have the capability to seamlessly share content from DIKSHA directly onto their Google Classroom platforms, further augmenting their teaching arsenal and streamlining instructional processes.</p>
                    </div>
                    <div class="text-center">
                        <a class="lp-login-btn explore-nistha-btn">Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
