<div class="usage-metrics-content">
    <div class="mb-24">
        <h2 class="usage-label" tabindex="0" data-translate="courseMetrics">{{ site.data.text.courseMetrics }}</h2>
        <p class="mt-4 diksha-app-text mb-16" tabindex="0" data-translate="courseMetricsDescription">{{ site.data.text.courseMetricsDescription }}</p>
        <button type="button" tabindex="0"
            class="sb-btn sb-btn-normal sb-btn-outline-primary sb-btn-radius px-16 view-dashboard-redirect" category="course" data-translate="btnViewDashboard">{{ site.data.text.btnViewDashboard }}</button>
    </div>
</div>
<div class="usage-metrics-content">
    <div class="my-16 dk-usagetilldate sb-h6" role="heading" aria-level="3" data-translate="courseUsage">{{ site.data.text.courseUsage }}</div>
    <div>
        <div tabindex="0" class="usage-label d-inline-flex" data-toggle="tooltip" data-placement="bottom"
            title="{{ site.data.text.coursesDiksha }}" data-translate-attr="{coursesDiksha: ['title']}"><span class="total-courses mr-8"
                id="totalCourses"></span> <img loading="lazy" decoding="async"  
                src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}diksha-mission/whatisthis.svg"
                onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/whatisthis.svg'"
                alt="{{ site.data.text.coursesDiksha }}" data-translate-attr="{coursesDiksha: ['alt']}" /></div>
        <div class="fsmall diksha-app-text" data-translate="courses">{{ site.data.text.courses }}</div>
    </div>

    <div class=" my-24">
        <div tabindex="0" class="usage-label d-inline-flex" data-toggle="tooltip" data-placement="bottom"
            title="{{ site.data.text.EnrolmentsDiksha }}" data-translate-attr="{EnrolmentsDiksha: ['title']}"><span class="total-enrolments mr-8" id="totalEnrolments"></span> <img loading="lazy" decoding="async"  
                src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}diksha-mission/whatisthis.svg"
                onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/whatisthis.svg'"
                alt="{{ site.data.text.EnrolmentsDiksha }}" data-translate-attr="{EnrolmentsDiksha: ['alt']}" /></div>
        <div class="fsmall diksha-app-text" data-translate="Enrolments">{{ site.data.text.Enrolments }}</div>
    </div>
    <div>
        <div tabindex="0" class="usage-label d-inline-flex" data-toggle="tooltip" data-placement="bottom"
            title="{{ site.data.text.CompletionsDiksha }}" data-translate-attr="{CompletionsDiksha: ['title']}"><span class="total-completions mr-8"
                id="totalCompletions"></span> <img loading="lazy" decoding="async"  
                src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}diksha-mission/whatisthis.svg"
                onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/whatisthis.svg'"
                alt="{{ site.data.text.CompletionsDiksha }}" data-translate-attr="{CompletionsDiksha: ['alt']}" /></div>
        <div class="fsmall diksha-app-text" data-translate="completions">{{ site.data.text.completions }}</div>
    </div>
</div>