<section class="dk-info px-24">
  <h1 class="dk-info__title" data-translate="diksha">{{ site.data.text.diksha }}</h1>
  <h2 class="dk-info__subtitle" data-translate="dikshamoto">{{ site.data.text.dikshamoto }}</h2>
  <p class="dk-info__para" data-translate="dikshaDescription">{{ site.data.text.dikshaDescription }}</p>
  <div class="border-container">
    <button type="button" tabindex="0" class="sb-btn sb-btn-md sb-btn-secondary w-100 text-uppercase sb-btn-explore-diksha" data-translate="btnExploreDiksha">{{ site.data.text.btnExploreDiksha }}</button>
  </div>
  <p class="mt-16" data-translate="ExploreDikshaContent">{{ site.data.text.ExploreDikshaContent }}</p>
</section>