<div class="sb-g diksha-contribute-main-section">
    <div class="sb-g-col-xs-12 sb-g-col-md-6 sb-g-col-lg-6 sb-g-col-xxxl-8">
        <div class="diksha-contribute">
            <img loading="lazy" decoding="async"  src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}diksha-mission/Diksha-VidyaDaan-Logo.png" 
                onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/Diksha-VidyaDaan-Logo.png'" alt="Vidya daan share for your care" class="vidya-daan-logo ml-16 d-flex">
            <div class="diksha-contribute__text py-24 text-left" data-translate="VidyaDaanIntro">
                {{ site.data.text.VidyaDaanIntro }}
            </div>
            <div class="d-flex">
                <button type="button" tabindex="0" class="sb-btn sb-btn-normal sb-btn-sm sb-btn-outline-primary sb-btn-radius px-24 participate-contribute" data-translate="btnParticipate">{{ site.data.text.btnParticipate }}</button>
            </div>
        </div>
    </div>
    <div class="sb-g-col-xs-12 sb-g-col-md-6 sb-g-col-lg-6 sb-g-col-xxxl-8">
        <div class="diksha-contribute d-flex flex-jc-center">
            <img loading="lazy" decoding="async"  src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}diksha-mission/World-cloud.png" 
                onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/World-cloud.png'" alt="VidyaDaan" class="world-cloud-img">
        </div>
    </div>
</div>

<div class="sb-g diksha-contribute__vidyaDaan">
    <div class="sb-g-col-xs-12 sb-g-col-md-12 sb-g-col-lg-12 sb-g-col-xxxl-16">
        <div class="p-32">
            <h2 class="diksha-contribute__vidyaDaan__title text-left" data-translate="AboutVidyaDaan">{{ site.data.text.AboutVidyaDaan }}</h2>
            <div class="diksha-contribute__vidyaDaan__content text-left">
                <p data-translate="AboutVidyaDaanDescription">{{ site.data.text.AboutVidyaDaanDescription }}</p>
                <p class="pt-0 mb-0" data-translate="AboutVidyaDaanMoreDescription">{{ site.data.text.AboutVidyaDaanMoreDescription }}</p>
            </div>
        </div>
    </div>
</div>

<div class="diksha-contribute__types">
    <h3 class="diksha-contribute__types__title text-center pt-32" data-translate="VidyaDaanTypes">{{ site.data.text.VidyaDaanTypes }}</h3>
    <div class="diksha-contribute__types__section">
        <div class="diksha-contribute__types__section__info">
            <img loading="lazy" decoding="async"  src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}diksha-mission/explanationvideos.png" onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/explanationvideos.png'" data-translate-attr="{ExplanationVideos:}" alt="" role="presentation">
            <div class="diksha-contribute__types__section__title" data-translate="ExplanationVideos">{{ site.data.text.ExplanationVideos }}</div>
        </div>
        <div class="diksha-contribute__types__section__info">
            <img loading="lazy" decoding="async"  src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}diksha-mission/practicequestions.png" onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/practicequestions.png'" data-translate-attr="{PracticeQuestions:}" alt="" role="presentation">
            <div class="diksha-contribute__types__section__title" data-translate="PracticeQuestions">{{ site.data.text.PracticeQuestions }}</div>
        </div>
     </div>
     <div class="diksha-contribute__types__section">
        <div class="diksha-contribute__types__section__info">
            <img loading="lazy" decoding="async"  src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}diksha-mission/teachingvideos.png" onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/teachingvideos.png'" data-translate-attr="{TeachingVideos:}" alt="" role="presentation">
            <div class="diksha-contribute__types__section__title" data-translate="TeachingVideos">{{ site.data.text.TeachingVideos }}</div>
        </div>
        <div class="diksha-contribute__types__section__info">
            <img loading="lazy" decoding="async"  src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}diksha-mission/externallearning.png" onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/externallearning.png'" data-translate-attr="{ExperierntialLearningVideos:}" alt="" role="presentation">
            <div class="diksha-contribute__types__section__title" data-translate="ExperierntialLearningVideos">{{ site.data.text.ExperierntialLearningVideos }}</div>
        </div>
        <div class="diksha-contribute__types__section__info">
            <img loading="lazy" decoding="async"  src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}diksha-mission/lessonplans.png" onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/lessonplans.png'" data-translate-attr="{LessonPlans:}" alt="" role="presentation">
            <div class="diksha-contribute__types__section__title" data-translate="LessonPlans">{{ site.data.text.LessonPlans }}</div>
        </div>
      </div>
</div>
<!-- card for horizontal -->

<!-- <div class="container">
<div class="row">
    <h3 class="diksha-contribute__types__title text-center pt-32" data-translate="Our Content Partners">Our Content Partners</h3>
    <p class="diksha_contribute_para">Our content partners range from smal NGOs to national organizations that have provided thousands of quality learning content for the nation's learners.</p>
    <div class="diksha-contribute-cards-list">
        <div class="diksha-contribute-card-section">
            <a href="/explore/1?organisationId=0135650207958876169&selectedTab=all&showClose=false&isInside=NTP%20PMU&returnTo=home&title=frmelmnts.lbl.exploretitle&description=frmelmnts.lbl.exploredescription">
        <div class="diksha-contribute-card" style="box-shadow: 0 2px 2px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 10%), 0 6px 6px rgb(0 0 0 / 10%), 0 8px 8px rgb(0 0 0 / 10%)">
            <img src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/diksha-mission/central_souare_found.png" onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/central_souare_found.png'" data-translate-attr="{LessonPlans:}" alt="" role="presentation">
           
        </div></a> <p>Central Square Foundation</p></div>
       
        <div class="diksha-contribute-card-section">
            <a href="/explore/1?organisationId=01356501903310848014&selectedTab=all&showClose=false&isInside=Think%20Tac&returnTo=home&title=frmelmnts.lbl.exploretitle&description=frmelmnts.lbl.exploredescription">
        <div class="diksha-contribute-card" style="box-shadow: 0 2px 2px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 10%), 0 6px 6px rgb(0 0 0 / 10%), 0 8px 8px rgb(0 0 0 / 10%)">
            <img src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/diksha-mission/thinktac.png" onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/thinktac.png'" data-translate-attr="{LessonPlans:}" alt="" role="presentation">
          
        </div></a> <p>ThinkTac</p></div>
       
        <div class="diksha-contribute-card-section">
            <a href="/explore/1?organisationId=816d88c6-6481-4e6f-a9fb-c5596be93d02&selectedTab=all&showClose=false&isInside=Sri%20Sathy%20Sai%20Vidya%20Vahini&returnTo=home&title=frmelmnts.lbl.exploretitle&description=frmelmnts.lbl.exploredescription">
        <div class="diksha-contribute-card" style="box-shadow: 0 2px 2px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 10%), 0 6px 6px rgb(0 0 0 / 10%), 0 8px 8px rgb(0 0 0 / 10%)">
            <img src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/diksha-mission/vidhya_vahini.png" onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/vidhya_vahini.png'" data-translate-attr="{LessonPlans:}" alt="" role="presentation">
          
        </div> </a> <p>Sri Sathya Sai Vidya Vahini</p></div>
      
       
    </div>
    <div class="contribute-content-partner-footer">
    <button type="button" tabindex="0" class="sb-btn sb-btn-normal sb-btn-sm sb-btn-outline-primary sb-btn-radius px-24 participate-contribute" data-translate="btnshowmore">SHOW MORE</button>
</div></div>
</div> -->





