<style>
.homepage-slides .carousel-indicators {
    width:100%;
    bottom: 0 !important;
    background-color: transparent;
    padding: 10px;
}

.homepage-slides .carousel-indicators li {
    /* width: .4375rem;
    height: .4375rem; */
    background: rgba(140, 140, 140, 1);
    margin-right: .6875rem;
    cursor: pointer;
    height: 6px;
    width: 16px;
    border: none;
    border-radius: 8px;
}
.homepage-slides .carousel-indicators li,.homepage-slides .carousel-indicators .active {
    border-radius: 16px
}

.homepage-slides .carousel-indicators .active {
    /* width: .75rem;
    height: .75rem; */
    height: 9px;
    width: 24px;
    background-color:#fff
}

#homePageSlide .carousel-control-next-icon {
    background-image: url({{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/homepage/arrow-back-slider.png);
    background-repeat: no-repeat;
    opacity: 1 !important;
}
#homePageSlide .carousel-control-prev-icon {
    background-image: url({{site.data.tenantAssetPath[site.environment].cdnUrl}}assets/homepage/arrow-prev-slider.png);
    background-repeat: no-repeat;
    opacity: 1 !important;
    
}
#homePageSlide .carousel-control-next-icon,
#homePageSlide .carousel-control-prev-icon {

    height: 2.8em !important;
    width: 1.8rem;
    opacity: 1 !important;
}

/* #homePageSlide .carousel-item {
    animation: 0.5s slide-left;
}

@keyframes slide-left {
  from {
    margin-left: 75%;
  }
  to {
    margin-left: 0%;
  }
}

#homePageSlide .carousel-item:first-child {
    animation: 0s;
} */
.carousel-control-prev,
.carousel-control-next {
    /* opacity: 1 !important; */
    opacity: 0.2 !important;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
    /* opacity: 1 !important; */
    opacity: 1 !important;
}
.new-home-page-slider{
    height: 444px;
}
.new-home-page-slider .carousel-item img{
    height: 100%;
}
@media (max-width: 1024px) {
    .new-home-page-slider  {
    height: 100%;
    }
}

</style>
<div class="modal fade bd-example-modal-lg" id="banner-modal-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div>
            <img src="assets/homepage/popup/popup-logo.png" alt="popup-logo">
          </div>
         
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="popup_deatils">
            राष्ट्रीय ई-पुस्तकालय, ज्ञान और कल्पना का अपार भंडार है। एंड्रॉइड और आईओएस एप्लिकेशन डाउनलोड करें और 22 भारतीय भाषाओं में किताबें पढ़ें <br>
            <span> Andriod :  <a href="https://bit.ly/Android-Rashtriya-e-Pustakalaya" target="_blank"> https://bit.ly/Android-Rashtriya-e-Pustakalaya</a></span> <br>
            <span> IOS :  <a href="https://bit.ly/iOS-Rashtriya-e-Pustakalaya" target="_blank"> https://bit.ly/iOS-Rashtriya-e-Pustakalaya</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="new-home-page-slider">
    <div id="homePageSlide" class="carousel slide homepage-slides" data-bs-ride="carousel">
        <div class="carousel-inner" title="">
            <div class="carousel-item carousel3-bg active" role="option">
                <img loading="lazy" decoding="async" class="carousel-img-height" 
                    src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}banner/banner-diksha.jpg"
                    alt="DIKSHA One nation one digital platform">
            </div>
            <div class="carousel-item carousel3-bg" role="option">
                <a >
                    <img loading="lazy" decoding="async"  class="carousel-img-height"
                        src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}banner/Rashtriya-e-pustakalaya.jpg"
                        alt="Rashtriya-e-pustakalaya" loading="lazy" decoding="async">
                </a>
            </div> 
            <div class="carousel-item carousel3-bg" role="option">
                <a href="https://ejaaduipitara.ncert.gov.in/" target="_blank">
                    <img loading="lazy" decoding="async"  class="carousel-img-height"
                        src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}banner/jadui-pitara-new.jpg"
                        alt="jadui-pitara" loading="lazy" decoding="async">
                </a>
            </div> 
            <div class="carousel-item carousel3-bg " role="option">
                <a href="/fln.html" target="_blank">
                    <img loading="lazy" decoding="async"  class="carousel-img-height"
                        src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}banner/nipun-bharat-new.jpg"
                        alt="nipun-bharat" loading="lazy" decoding="async">
                </a>
            </div> 
            <div class="carousel-item carousel3-bg " role="option">
                <a href="/vocational-education.html" target="_blank">
                    <img loading="lazy" decoding="async"  class="carousel-img-height"
                        src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}banner/vocational-education-new.jpg"
                        alt="vocational-education" loading="lazy" decoding="async">
                </a>
            </div> 
            <div class="carousel-item carousel3-bg " role="option">
                <a href="https://bit.ly/BhashaSangam" target="_blank">
                    <img loading="lazy" decoding="async"  class="carousel-img-height"
                        src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}banner/bhasha-sangam-new.jpg"
                        alt="bhasha-sangam" loading="lazy" decoding="async">
                </a>
            </div> 
            <div class="carousel-item carousel3-bg " role="option">
                <a href="/virtuallabs.html" target="_blank">
                    <img loading="lazy" decoding="async"  class="carousel-img-height"
                        src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}banner/virual-lab-new.jpg"
                        alt="virual-lab" loading="lazy" decoding="async">
                </a>
            </div> 
            <div class="carousel-item carousel3-bg " role="option">
                <a href="/adult-education.html" target="_blank">
                    <img loading="lazy" decoding="async"  class="carousel-img-height"
                    src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}banner/education-for-all.jpg"
                    alt="education-fo-all" loading="lazy" decoding="async">
                </a>
            </div> 
        </div>   
        <ol class="carousel-indicators">
            <li data-bs-target="#homePageSlide" tabindex="0" data-bs-slide-to="0" aria-current="page" class="active"
            aria-controls="carousel-items" aria-label="DIKSHA One nation one digital platform"></li>
            <li data-bs-target="#homePageSlide" tabindex="0" data-bs-slide-to="1" aria-current="page" 
            aria-controls="carousel-items" aria-label="Rashtriya-e-pustakalaya"></li>  
            <li data-bs-target="#homePageSlide" tabindex="0" data-bs-slide-to="2" aria-current="page" 
            aria-controls="carousel-items" aria-label="jadui-pitara"></li>  
            <li data-bs-target="#homePageSlide" tabindex="0" data-bs-slide-to="3" aria-current="page" 
            aria-controls="carousel-items" aria-label="nipun-bharat"></li>
            
            <li data-bs-target="#homePageSlide" tabindex="0" data-bs-slide-to="4" aria-current="page" 
            aria-controls="carousel-items" aria-label="vocational-education"></li>
            <li data-bs-target="#homePageSlide" tabindex="0" data-bs-slide-to="5" aria-current="page" 
            aria-controls="carousel-items" aria-label="bhasha sangam"></li>
            <li data-bs-target="#homePageSlide" tabindex="0" data-bs-slide-to="6" aria-current="page" 
            aria-controls="carousel-items" aria-label="virtual lab"></li>
            <li data-bs-target="#homePageSlide" tabindex="0" data-bs-slide-to="7" aria-current="page" 
            aria-controls="carousel-items" aria-label="adult-education"></li>
        </ol>
        <a class="carousel-control-prev" href="#homePageSlide" data-bs-target="#homePageSlide" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" href="#homePageSlide"  data-bs-target="#homePageSlide" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
    </div>
</div>
