<div id="homePageSlide" class="carousel homepage-slides" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item carousel3-bg active" role="option">
            <a href="https://bit.ly/3sK21b9" target="_blank">
                <img loading="lazy" decoding="async" class="carousel-img-height" 
                src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/imgs/vivo-ignite-banner.jpeg"
                onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/imgs/vivo-ignite-banner.jpeg'"
                alt="vivoIgnite award">
            </a>
        </div>
        <!-- <div class="carousel-item carousel3-bg" role="option">
            <img loading="lazy" decoding="async" class="carousel-img-height" 
                src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/Banner_Swachhata_Hi_Seva-english.jpg"
                alt="DIKSHA One nation one digital platform">
        </div> -->
        
        <!-- <div class="carousel-item carousel3-bg " role="option">
            <img loading="lazy" decoding="async" class="carousel-img-height" 
                src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/Banner_Swachhata_Hi_Seva-hindi.jpg"
                alt="DIKSHA One nation one digital platform">
        </div> -->
        
        <div class="carousel-item carousel3-bg " role="option">
            <img loading="lazy" decoding="async" class="carousel-img-height" 
                src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/imgs/dikshaonenation.png"
                onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/imgs\/dikshaonenation.png'"
                alt="DIKSHA One nation one digital platform">
        </div>
        <!-- <div class="carousel-item carousel3-bg " role="option">
            <a href="/cwsn.html" target="_blank">
                <img loading="lazy" decoding="async" class="carousel-img-height"
                    src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/cwsn.jpg"
                    alt="CWSN">
                <div class="row flexbox-row">
                    <div class="col">
                        <button class="FLN-explore pointer" style="cursor: pointer;"
                            onclick="window.open('/cwsn.html', '_blank');"><span><img loading="lazy" decoding="async"
                                    src="/assets/bannerImage/explore.png" alt="explore-button"></span><span>Explore</span></button>
                    </div>
                </div>
            </a>
        </div> -->
        <div class="carousel-item carousel3-bg " role="option">
            <a href="/jadoo/index.html" target="_blank">
                <img loading="lazy" decoding="async" class="carousel-img-height"
                src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/jadui-pitara.jpg"
                alt="jadoo ka pitara">
                <div class="row flexbox-row">
                    <div class="col">
                        <button class="FLN-explore pointer"
                            onclick="window.open('/jadoo/index.html', '_blank');"><span><img
                                    src="/assets/bannerImage/explore.png" alt="explore-button"></span><span>Explore</span></button>
                    </div>
                </div>
            </a>
        </div>
        <!-- <div class="carousel-item carousel3-bg" role="option">
            <img loading="lazy" decoding="async" class="carousel-img-height"
            src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/g20.jpg"
            alt="G 20">
        </div> -->
        <div class="carousel-item carousel3-bg " role="option">
            <a href="/fln.html" target="_blank">
                <img loading="lazy" decoding="async"  class="carousel-img-height"
                    src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/b1.jpg"
                    alt="FLN explore" loading="lazy" decoding="async">
                <div class="row flexbox-row">
                    <div class="col">
                        <button class="FLN-explore pointer" onclick="window.open('/fln.html', '_blank');"><span><img loading="lazy" decoding="async"
                                    src="/assets/bannerImage/explore.png" alt="explore-button"></span><span>Explore</span></button>
                    </div>
                </div>
            </a>
        </div>
       
        <div class="carousel-item carousel3-bg" role="option">
            <a href="/adult-education.html" target="_blank">
                <img loading="lazy" decoding="async" class="carousel-img-height"
                    src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/c1.jpg"
                    alt="Adult Education and Life Long Learnings Explore">
                <div class="row flexbox-row">
                    <div class="col">
                        <button class="FLN-explore pointer" style="cursor: pointer;"
                            onclick="window.open('/adult-education.html', '_blank');"><span><img loading="lazy" decoding="async"
                                    src="/assets/bannerImage/explore.png" alt="explore-button"></span><span>Explore</span></button>
                    </div>
                </div>
            </a>
        </div>
       
        <div class="carousel-item carousel3-bg" role="option">
            <a href="https://bit.ly/BhashaSangam" target="_blank">
                <img loading="lazy" decoding="async" class="carousel-img-height" 
                    src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/imgs/Bhasha-Sangam-web-banner.jpg"
                    alt="The Banner is for basha sangam ek bharat shreshtha bharat">
                <div class="row flexbox-row">
                    <div class="col">
                        <button class="FLN-explore pointer"
                            onclick="window.open('https://bit.ly/BhashaSangam', '_blank');"><span><img loading="lazy" decoding="async"
                                    src="/assets/bannerImage/explore.png" alt="explore-button"></span><span>Explore</span></button>
                    </div>
                </div>
            </a>
        </div>
        <div class="carousel-item carousel3-bg" role="option">
            <a href="/vocational-education.html" target="_blank">
                <img loading="lazy" decoding="async" class="carousel-img-height"
                src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/Homepage_Banner.jpg"
                alt="Vocational Education explore">
                <div class="row flexbox-row">
                    <div class="col">
                        <button class="FLN-explore pointer"
                            onclick="window.open('/vocational-education.html', '_blank');"><span><img loading="lazy" decoding="async"
                                    src="/assets/bannerImage/explore.png" alt="explore-button"></span><span>Explore</span></button>
                    </div>
                </div>
            </a>
        </div>
    
        <div class="carousel-item carousel3-bg" role="option">
            <a href="/virtuallabs.html" target="_blank">
                <img loading="lazy" decoding="async" class="carousel-img-height"
                src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/virtualdikhome.jpg"
                alt="Vocational Education explore">
                <div class="row flexbox-row">
                    <div class="col">
                        <button class="FLN-explore pointer"
                            onclick="window.open('/virtuallabs.html', '_blank');"><span><img loading="lazy" decoding="async"
                                    src="/assets/bannerImage/explore.png" alt="explore-button"></span><span>Explore</span></button>
                    </div>
                </div>
            </a>
        </div>
        <!-- <div class="carousel-item carousel3-bg" role="option">
            <a href="https://microimp.ndear.gov.in/" target="_blank">
                <img loading="lazy" decoding="async" class="carousel-img-height"
                src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/Vamva.jpg"
                alt="Vocational Education explore">
                <div class="row flexbox-row">
                    <div class="col">
                        <button class="FLN-explore pointer"
                            onclick="window.open('https://microimp.ndear.gov.in/', '_blank');"><span><img
                                    src="/assets/bannerImage/explore.png" alt="explore-button"></span><span>Explore</span></button>
                    </div>
                </div>
            </a>
        </div> -->
    </div>
    <ol class="carousel-indicators">
        <li data-target="#homePageSlide" tabindex="0" data-slide-to="0" aria-current="page" class="active"
        aria-controls="carousel-items" aria-label="vivoIgnite award"></li>
        <!-- <li data-target="#homePageSlide" tabindex="0" data-slide-to="1" aria-current="page" 
            aria-controls="carousel-items" aria-label="new-education-policy-english"></li>
        <li data-target="#homePageSlide" tabindex="0" data-slide-to="2" aria-current="page" 
            aria-controls="carousel-items" aria-label="new-education-policy-hindi"></li> -->
        <li data-target="#homePageSlide" tabindex="0" data-slide-to="1" aria-current="page" 
            aria-controls="carousel-items" aria-label="Fundational Literacy and Numeracy"></li>
            <!-- <li data-target="#homePageSlide" tabindex="0" data-slide-to="4" aria-current="page"
            aria-controls="carousel-items" aria-label="CWSN"></li> -->
        <li data-target="#homePageSlide" tabindex="0" data-slide-to="2" aria-current="page" 
        aria-controls="carousel-items" aria-label="jadoo pitara"></li>
        <!-- <li data-target="#homePageSlide" tabindex="0" data-slide-to="5" aria-current="page"
        aria-controls="carousel-items" aria-label="G 20"></li> -->
        <li data-target="#homePageSlide" tabindex="0" data-slide-to="3" aria-current="page"
            aria-controls="carousel-items" aria-label="Adult Education and Life Long Learnings"></li>
        <li data-target="#homePageSlide" tabindex="0" data-slide-to="4" aria-current="page"
            aria-controls="carousel-items" aria-label="DIKSHA"></li>
        <li data-target="#homePageSlide" tabindex="0" data-slide-to="5" aria-current="page"
            aria-controls="carousel-items" aria-label="Basha Sangam"></li>
            <li data-target="#homePageSlide" tabindex="0" data-slide-to="6" aria-current="page"
            aria-controls="carousel-items" aria-label="vocational-education"></li>
            <li data-target="#homePageSlide" tabindex="0" data-slide-to="7" aria-current="page"
            aria-controls="carousel-items" aria-label="virtual lab landing page on DIKSHA"></li>
            <!-- <li data-target="#homePageSlide" tabindex="0" data-slide-to="10" aria-current="page"
            aria-controls="carousel-items" aria-label="Vidya Amrit Mahotsav"></li> -->
    </ol>
</div>