<div class="usage-metrics-content">
  <div class="my-16 dk-usagetilldate sb-h6" role="heading" aria-level="3" data-translate="DIKSHAUsageTillDate">{{ site.data.text.DIKSHAUsageTillDate }}</div>
  <div>
    <div class="usage-label d-inline-flex" tabindex="0" data-toggle="tooltip" data-placement="bottom"
    title="{{ site.data.text.numberLearningActivities }}" data-translate-attr="{numberLearningActivities: ['title']}"><span class="learning-sessions mr-8" id="learningSession"></span> <img loading="lazy" decoding="async"  
        src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}diksha-mission/whatisthis.svg" role="tooltip" onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/whatisthis.svg'" alt="{{ site.data.text.numberLearningActivities }}" data-translate-attr="{numberLearningActivities: ['alt']}"/></div>
    <div class="fsmall diksha-app-text" data-translate="LearningLessons">{{ site.data.text.LearningLessons }}</div>
  </div>

  <div class=" my-24 minutes-of-usage">
    <div class="usage-label d-inline-flex" aria-live="polite" tabindex="0" data-toggle="tooltip" data-placement="bottom"
      title="{{ site.data.text.totalDIKSHAusage }}" data-translate-attr="{totalDIKSHAusage: ['title']}"><span class="x-mins mr-8"></span> <img loading="lazy" decoding="async"  
        src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}diksha-mission/whatisthis.svg" role="tooltip" onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/whatisthis.svg'" alt="{{ site.data.text.totalDIKSHAusage }}" data-translate-attr="{totalDIKSHAusage: ['alt']}"/></div>
    <div class="fsmall diksha-app-text" data-translate="minutes">{{ site.data.text.minutes }}</div>
  </div>
  <div class=" my-24 minutes-of-usage">
    <div class="usage-label d-inline-flex" aria-live="polite" tabindex="0" data-toggle="tooltip" data-placement="bottom"
      title="{{ site.data.text.applicationAvailability }}" data-translate-attr="{applicationAvailability: ['title']}"><span class="mr-8">100%</span> <img loading="lazy" decoding="async"  
        src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}diksha-mission/whatisthis.svg" role="tooltip" onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/whatisthis.svg'" alt="{{ site.data.text.applicationAvailability }}" data-translate-attr="{applicationAvailability: ['alt']}"/></div>
    <div class="fsmall diksha-app-text" data-translate="application">{{ site.data.text.application }}</div>
  </div>
</div>