
  <div class="usage-metrics-content">
    <div class="mb-24" >
      <h2 class="usage-label" data-translate="usageMetrics">{{ site.data.text.usageMetrics }}</h2>
      <p class="mt-4 diksha-app-text mb-16" data-translate="viewUsagepattern">{{ site.data.text.viewUsagepattern }}</p>
      <button type="button" tabindex="0" class="sb-btn sb-btn-normal sb-btn-outline-primary sb-btn-radius px-16 view-dashboard" category="usage" data-translate="btnViewDashboard">{{ site.data.text.btnViewDashboard }}</button>
    </div>
    </div>