
<div class="sb-g dk-dikshaformobile">
  <div class="sb-g-col-xs-12 sb-g-col-md-4 sb-g-col-lg-4 sb-g-col-xxxl-4">
    <div class="diksha-app-images"><img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}diksha-mission/mobile-icon.svg" 
      onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/mobile-icon.svg'" class="diksha-mobile-img" data-translate="DIKSHAforMobile" data-translate-attr="['alt']" alt="" role="presentation"></div> 
  </div>
  <div class="sb-g-col-xs-12 sb-g-col-md-8 sb-g-col-lg-8 sb-g-col-xxxl-12 right-col-section">
    <div class="pl-16 diksha-mobile-info">
      <h2 class="diksha-app-label" data-translate="DIKSHAforMobile">{{ site.data.text.DIKSHAforMobile }}</h2>
      <p class="mt-16 fnormal diksha-app-text" data-translate="DIKSHAforMobileDescription">{{ site.data.text.DIKSHAforMobileDescription }}</p>
         <a target="_blank" tabindex="0" title="DIKSHA - Platform for School Education" class="getapp-googleplay" href="#"><img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}diksha-mission/googleplay.svg" 
            onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/googleplay.svg'" alt="Get it on google play"></a>
    </div>
  </div>
</div>

<div class="sb-g pt-32 dk-dikshaforweb">
  <div class="sb-g-col-xs-12 sb-g-col-md-4 sb-g-col-lg-4 sb-g-col-xxxl-4">
    <div class="diksha-app-images"><img src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}diksha-mission/web-icon.svg" onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/web-icon.svg'" class="diksha-desk-img" data-translate="DIKSHAforWeb" data-translate-attr="['alt']" alt="" role="presentation"></div>  
  </div>
  <div class="sb-g-col-xs-12 sb-g-col-md-8 sb-g-col-lg-8 sb-g-col-xxxl-12 right-col-section">
    <div class="pl-16 diksha-web-info">
      <h2 class="diksha-app-label" data-translate="DIKSHAforWeb">{{ site.data.text.DIKSHAforWeb }}</h2>
      <p class="mt-16 fnormal diksha-app-text" data-translate="DIKSHAforWebDescription">{{ site.data.text.DIKSHAforWebDescription }}</p>
         <button type="button" class="sb-btn sb-btn-normal sb-btn-outline-primary sb-btn-radius px-24 visit-diksha-portal" data-translate="btnVisitDIKSHAportal">{{ site.data.text.btnVisitDIKSHAportal }}</button>
    </div>
  </div>
</div>

<div class="sb-g pt-32 dk-dikshaoffline">
  <div class="sb-g-col-xs-12 sb-g-col-md-4 sb-g-col-lg-4 sb-g-col-xxxl-4">
  </div>
  <div class="sb-g-col-xs-12 sb-g-col-md-8 sb-g-col-lg-8 sb-g-col-xxxl-12 pb-32">
    <div class="pl-16 diksha-offline-info">
      <h2 class="diksha-app-label" data-translate="DIKSHAOffline">{{ site.data.text.DIKSHAOffline }}</h2>
      <p class="mt-16 fnormal diksha-app-text" data-translate="DIKSHAOfflineDescription">{{ site.data.text.DIKSHAOfflineDescription }}</p>
         <span class="diksha-coming-soon" data-translate="comingsoon">{{ site.data.text.comingsoon }}</span>
    </div>
  </div>
</div>

