<div class="fxsmall text-right mb-8 mt-8">
  <a href="#" class="download-overall" tabindex="0" data-translate="downloadReport">Download Report</a>
  <a href="#" class="download-statewise" tabindex="0" style="display: none;">Download Report</a>
  <a href="#" class="download-creation" tabindex="0" style="display: none;">Download Report</a>
  <a href="https://diksha.gov.in/data/reports/state_wise_course_data_public.csv" download
    class="download-course" style="display: none;">Download Report</a>
</div>
<div tabindex="0" class="metrix-div fxsmall matrix-diksha-small-font text-right mb-8 float-right" aria-live="polite"
  data-toggle="tooltip" data-placement="left" title="{{ site.data.text.lastupdatedonresultdaily }}"
  data-translate-attr="{lastupdatedonresultdaily: ['title']}">
  <img loading="lazy" decoding="async"   class="mr-8" src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}diksha-mission/whatisthis.svg"
    onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/whatisthis.svg'"
    role="tooltip" alt="{{ site.data.text.lastupdatedonresult }}"
    data-translate-attr="{lastupdatedonresult: ['alt']}" />
  <span data-translate="lastupdated">{{ site.data.text.lastupdated }}</span>: <span class="updatedOn"></span>
</div>
<div class="metrix-div1 fxsmall matrix-diksha-small-font text-right mb-8 float-right" aria-live="polite"
  data-toggle="tooltip" data-placement="left" title="{{ site.data.text.lastupdatedonresultdaily }}"
  data-translate-attr="{lastupdatedonresultdaily: ['title']}">
  <img loading="lazy" decoding="async"   class="mr-8" src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}diksha-mission/whatisthis.svg"
    onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/whatisthis.svg'"
    role="tooltip" alt="{{ site.data.text.lastupdatedonresultdaily }}"
    data-translate-attr="{lastupdatedonresultdaily: ['alt']}" />
  <span data-translate="lastupdated">{{ site.data.text.lastupdated }}</span>: <span class="updatedOn"></span>
</div>
<div class="text-center dk-pagedata metrix-div2">
  <div class="svg-container">
    <div class="fxsmall matrix-diksha-small-font text-right mb-32 mt-8 float-right state-ut-text">
      *<span class="sb-color-error" data-translate="clickstateut"></span>
    </div>
  </div>
  <div class="legend-details-div">
    <!-- <div class="map_legends"></div> -->

  </div>
</div>
<div class="fxsmall matrix-diksha-small-font text-right mb-32 mt-8 float-right state-ut-text"><span
    class="sb-color-error dk-color-error">*</span><span
    data-translate="clickstateut">{{ site.data.text.clickstateut }}</span>
</div>