<div id="homePageSlide" class="carousel homepage-slides" data-ride="carousel">
    <div class="carousel-inner" title="banner-carousel">
      
        <!-- <div class="carousel-item carousel3-bg active" role="option">
            <a href="https://bit.ly/3FJUk7h" target="_blank">
                <img loading="lazy" decoding="async" class="carousel-img-height"
                src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/en.jpg"
                alt="Vocational Education explore">
                <div class="row flexbox-row">
                    <div class="col">
                        <button class="FLN-explore pointer"
                            onclick="window.open('https://bit.ly/3FJUk7h', '_blank');"><span><img
                                    src="/assets/bannerImage/explore.png" alt="explore-button"></span><span>Explore</span></button>
                    </div>
                </div>
            </a>
        </div> -->
        <div class="carousel-item carousel3-bg active" role="option">
            <a href="https://diksha.gov.in/play/collection/do_3138034637924515841245?contentType=TextBook" target="_blank">
                <img loading="lazy" decoding="async" class="carousel-img-height"
                src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/Mann-Ki-Baat banner-02.png"
                alt="Man ki baat">
                <div class="row flexbox-row">
                    <div class="col">
                        <button class="FLN-explore pointer"
                            onclick="window.open('https://diksha.gov.in/play/collection/do_3138034637924515841245?contentType=TextBook', '_blank');"><span><img
                                    src="/assets/bannerImage/explore.png" alt="explore-button"></span><span>Explore</span></button>
                    </div>
                </div>
            </a>
        </div>
        <div class="carousel-item carousel3-bg " role="option">
            <a href="/jadoo/" target="_blank">
                <img loading="lazy" decoding="async" class="carousel-img-height"
                src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/jadoo.png"
                alt="jadoo ka pitara">
                <div class="row flexbox-row">
                    <div class="col">
                        <button class="FLN-explore pointer"
                            onclick="window.open('/jadoo/', '_blank');"><span><img
                                    src="/assets/bannerImage/explore.png" alt="explore-button"></span><span>Explore</span></button>
                    </div>
                </div>
            </a>
        </div>
        <div class="carousel-item carousel3-bg" role="option">
        
            <img loading="lazy" decoding="async" class="carousel-img-height"
            src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/g20.jpg"
            alt="G 20">
           
       
        </div>
        <div class="carousel-item carousel3-bg " role="option">
            <a href="/fln.html" target="_blank">
                <img loading="lazy" decoding="async"  class="carousel-img-height"
                    src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/b1.jpg"
                    alt="FLN explore" loading="lazy" decoding="async">
                <div class="row flexbox-row">
                    <div class="col">
                        <button class="FLN-explore pointer" onclick="window.open('/fln.html', '_blank');"><span><img loading="lazy" decoding="async"
                                    src="/assets/bannerImage/explore.png" alt="explore-button"></span><span>Explore</span></button>
                    </div>
                </div>
            </a>
        </div>
        <!-- <div class="carousel-item carousel3-bg" role="option">
            <a href="https://diksha.gov.in/explore-course/course/do_3136852571067678721115" target="_blank">
                <img loading="lazy" decoding="async" class="carousel-img-height"
                src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/bhasha-sangam.jpg"
                alt="Bhasha Utsav Quiz Explore">
                <div class="row flexbox-row">
                    <div class="col">
                        <button class="FLN-explore pointer"
                            onclick="window.open('https://diksha.gov.in/explore-course/course/do_3136852571067678721115', '_blank');"><span><img
                                    src="/assets/bannerImage/explore.png" alt="explore-button"></span><span>Explore</span></button>
                    </div>
                </div>
            </a>
        </div> -->
        <div class="carousel-item carousel3-bg" role="option">
            <a href="/adult-education.html" target="_blank">
                <img loading="lazy" decoding="async" class="carousel-img-height"
                    src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/c1.jpg"
                    alt="Adult Education and Life Long Learnings Explore">
                <div class="row flexbox-row">
                    <div class="col">
                        <button class="FLN-explore pointer" style="cursor: pointer;"
                            onclick="window.open('/adult-education.html', '_blank');"><span><img loading="lazy" decoding="async"
                                    src="/assets/bannerImage/explore.png" alt="explore-button"></span><span>Explore</span></button>
                    </div>
                </div>
            </a>
        </div>
        <div class="carousel-item" role="option">
            <img loading="lazy" decoding="async" class="carousel-img-height" 
                src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/imgs/dikshaonenation.png"
                onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/imgs\/dikshaonenation.png'"
                alt="DIKSHA One nation one digital platform">
        </div>
        <!-- <div class="carousel-item" role="option">
            <a href="https://ciet.nic.in/ict-initiatives.php?&ln=en" target="_blank">
                <img loading="lazy" decoding="async" class="carousel-img-height" 
                    src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/imgs/covid_vaccine.jpeg"
                    alt="The Banner image encourages people to strictly follow the Covid Protocols and follow discipline and medicines to stop the spread. Wear masks properly, wash your hands regularly, maintain social distancing. Register on www.cowin.gov.in or visit Aarogya Setu app for vaccination and The Prime Minister also asked the people to keep the mantra of Dawai bhi, Kadai bhi (yes to medicine and yes to caution) in mind.">
            </a>
        </div> -->
        <div class="carousel-item carousel3-bg" role="option">
            <a href="https://bit.ly/BhashaSangam" target="_blank">
                <img loading="lazy" decoding="async" class="carousel-img-height" 
                    src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/imgs/Bhasha-Sangam-web-banner.jpg"
                    alt="The Banner is for basha sangam ek bharat shreshtha bharat">
                <div class="row flexbox-row">
                    <div class="col">
                        <button class="FLN-explore pointer"
                            onclick="window.open('https://bit.ly/BhashaSangam', '_blank');"><span><img loading="lazy" decoding="async"
                                    src="/assets/bannerImage/explore.png" alt="explore-button"></span><span>Explore</span></button>
                    </div>
                </div>
            </a>
        </div>
        <div class="carousel-item carousel3-bg" role="option">
            <a href="/vocational-education.html" target="_blank">
                <img loading="lazy" decoding="async" class="carousel-img-height"
                src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/ve_banner.jpg"
                alt="Vocational Education explore">
                <div class="row flexbox-row">
                    <div class="col">
                        <button class="FLN-explore pointer"
                            onclick="window.open('/vocational-education.html', '_blank');"><span><img loading="lazy" decoding="async"
                                    src="/assets/bannerImage/explore.png" alt="explore-button"></span><span>Explore</span></button>
                    </div>
                </div>
            </a>
        </div>
        <!-- <div class="carousel-item carousel3-bg" role="option">
            <a href="https://www.mygov.in/campaigns/agniveer/" target="_blank">
                <img loading="lazy" decoding="async" class="carousel-img-height"
                src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/agniveer.jpeg"
                alt="Vocational Education explore">
                <div class="row flexbox-row">
                    <div class="col">
                        <button class="FLN-explore pointer"
                            onclick="window.open('https://www.mygov.in/campaigns/agniveer/', '_blank');"><span><img loading="lazy" decoding="async"
                                    src="/assets/bannerImage/explore.png" alt="explore-button"></span><span>Explore</span></button>
                    </div>
                </div>
            </a>
        </div> -->
        <div class="carousel-item carousel3-bg" role="option">
            <a href="/virtuallabs.html" target="_blank">
                <img loading="lazy" decoding="async" class="carousel-img-height"
                src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/virtualdikhome.jpg"
                alt="Vocational Education explore">
                <div class="row flexbox-row">
                    <div class="col">
                        <button class="FLN-explore pointer"
                            onclick="window.open('/virtuallabs.html', '_blank');"><span><img loading="lazy" decoding="async"
                                    src="/assets/bannerImage/explore.png" alt="explore-button"></span><span>Explore</span></button>
                    </div>
                </div>
            </a>
        </div>
        <div class="carousel-item carousel3-bg" role="option">
            <a href="https://microimp.ndear.gov.in/" target="_blank">
                <img loading="lazy" decoding="async" class="carousel-img-height"
                src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/Vamva.jpg"
                alt="Vocational Education explore">
                <div class="row flexbox-row">
                    <div class="col">
                        <button class="FLN-explore pointer"
                            onclick="window.open('https://microimp.ndear.gov.in/', '_blank');"><span><img
                                    src="/assets/bannerImage/explore.png" alt="explore-button"></span><span>Explore</span></button>
                    </div>
                </div>
            </a>
        </div>
        <div class="carousel-item carousel3-bg" role="option">
        
                <img loading="lazy" decoding="async" class="carousel-img-height"
                src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/pc-hi-min.jpg"
                alt="pariksha pe charcha">
               
           
        </div>
        <div class="carousel-item carousel3-bg" role="option">
        
            <img loading="lazy" decoding="async" class="carousel-img-height"
            src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/bannerImage/pc-en-min.jpg"
            alt="pariksha pe charcha">
           
       
    </div>

 
    
    
     
      
    </div>
    <ol class="carousel-indicators">
     
        <!-- <li data-target="#homePageSlide" tabindex="0" data-slide-to="0" aria-current="page" class="active"
        aria-controls="carousel-items" aria-label="Quiz Banner"></li> -->
        <li data-target="#homePageSlide" tabindex="0" data-slide-to="0" aria-current="page" class="active"
        aria-controls="carousel-items" aria-label="man ki baat"></li>
        <li data-target="#homePageSlide" tabindex="0" data-slide-to="1" aria-current="page" 
        aria-controls="carousel-items" aria-label="jadoo pitara"></li>
        <li data-target="#homePageSlide" tabindex="0" data-slide-to="2" aria-current="page"
        aria-controls="carousel-items" aria-label="G 20"></li>
        <li data-target="#homePageSlide" tabindex="0" data-slide-to="3" aria-current="page" 
            aria-controls="carousel-items" aria-label="Fundational Literacy and Numeracy"></li>
        <!-- <li data-target="#homePageSlide" tabindex="0" data-slide-to="2" aria-current="page" 
            aria-controls="carousel-items" aria-label="Bhasha Sangam Quiz"></li> -->
        <li data-target="#homePageSlide" tabindex="0" data-slide-to="4" aria-current="page"
            aria-controls="carousel-items" aria-label="Adult Education and Life Long Learnings"></li>
        <li data-target="#homePageSlide" tabindex="0" data-slide-to="5" aria-current="page"
            aria-controls="carousel-items" aria-label="DIKSHA"></li>
        <!-- <li data-target="#homePageSlide" tabindex="0" data-slide-to="6" aria-current="page"
            aria-controls="carousel-items" aria-label="Covid"></li> -->
        <li data-target="#homePageSlide" tabindex="0" data-slide-to="6" aria-current="page"
            aria-controls="carousel-items" aria-label="Basha Sangam"></li>
            <li data-target="#homePageSlide" tabindex="0" data-slide-to="7" aria-current="page"
            aria-controls="carousel-items" aria-label="vocational-education"></li>
            <!-- <li data-target="#homePageSlide" tabindex="0" data-slide-to="6" aria-current="page"
            aria-controls="carousel-items" aria-label="CWSN vertical on DIKSHA"></li> -->
            <!-- <li data-target="#homePageSlide" tabindex="0" data-slide-to="9" aria-current="page"
            aria-controls="carousel-items" aria-label="agniveer on DIKSHA"></li> -->
            <li data-target="#homePageSlide" tabindex="0" data-slide-to="8" aria-current="page"
            aria-controls="carousel-items" aria-label="virtual lab landing page on DIKSHA"></li>
            <li data-target="#homePageSlide" tabindex="0" data-slide-to="9" aria-current="page"
            aria-controls="carousel-items" aria-label="Vidya Amrit Mahotsav"></li>
            <li data-target="#homePageSlide" tabindex="0" data-slide-to="10" aria-current="page"
            aria-controls="carousel-items" aria-label="ariksha pe charcha"></li>
            <li data-target="#homePageSlide" tabindex="0" data-slide-to="11" aria-current="page"
            aria-controls="carousel-items" aria-label="pariksha pe charcha"></li>
         
       
      
    </ol>
</div>