<div class="fxsmall text-right mb-8">
  <a href="#" class="download-overall download-text" tabindex="0">Download Report</a>
  <a href="#" class="download-statewise download-text" tabindex="0" style="display: none;">Download Report</a>
  <a href="#" class="download-creation download-text" tabindex="0" style="display: none;">Download Report</a>
  <a href="https://diksha.gov.in/data/reports/public/state_wise_course_data_public.csv" download
    class="download-course download-text" style="display: none;">Download Report</a>
</div>
<div tabindex="0" class="metrix-div fxsmall matrix-diksha-small-font last-update-text text-right mb-8 float-right" aria-live="polite"
  data-toggle="tooltip" data-placement="left" title="{{ site.data.text.lastupdatedonresult }}"
  data-translate-attr="{lastupdatedonresult: ['title']}">  
  <span data-translate="lastupdated">{{ site.data.text.lastupdated }}</span>: <span class="updatedOn"></span>
  <img loading="lazy" decoding="async"   class="mr-8" src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/diksha-mission/whatisthis-new.png"
  onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/whatisthis-new.png'"
  role="tooltip" alt="{{ site.data.text.lastupdatedonresult }}"
  data-translate-attr="{lastupdatedonresult: ['alt']}" />
</div>
<div class="metrix-div1 fxsmall matrix-diksha-small-font last-update-text text-right mb-8 float-right" aria-live="polite"
  data-toggle="tooltip" data-placement="left" title="{{ site.data.text.lastupdatedonresult1 }}"
  data-translate-attr="{lastupdatedonresult1: ['title']}">  
  <span data-translate="lastupdated">{{ site.data.text.lastupdated }}</span>: <span class="updatedOn"></span>
  <img loading="lazy" decoding="async"   class="mr-8" src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/diksha-mission/whatisthis-new.png"
  onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/whatisthis-new.png'"
  role="tooltip" alt="{{ site.data.text.lastupdatedonresult1 }}"
  data-translate-attr="{lastupdatedonresult1: ['alt']}" />
</div>
<!--<div class="text-center dk-pagedata metrix-div2">
  <div class="svg-container">
    <div class="fxsmall matrix-diksha-small-font text-right mb-32 mt-8 float-right state-ut-text">
      <span class="sb-color-error">*</span>{{ site.data.text.clickstateut }}
    </div>
  </div>
  <div class="legend-details-div">
    <div class="map_legends"></div>

  </div>
</div>
<div class="fxsmall matrix-diksha-small-font text-right mb-32 mt-8 float-right state-ut-text"><span
    class="sb-color-error dk-color-error">*</span><span
    data-translate="clickstateut">{{ site.data.text.clickstateut }}</span>
</div>-->