<div id="aboutPageSlide" class="carousel slide homepage-slides" data-ride="carousel">
  <!-- <ol class="carousel-indicators">
    <li data-target="#aboutPageSlide" data-slide-to="0" class="active"></li>
    <li data-target="#aboutPageSlide" data-slide-to="1"></li>
  </ol> -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{site.data.tenantAssetPath[site.environment].baseCdnUrl}}/imgs/aboutsliderone.png" onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/imgs\/aboutsliderone.png'" alt="" role="presentation">
    </div>
    <!-- <div class="carousel-item">
      <img src="https://www.india.gov.in/sites/upload_files/npi/files/NewIndiaSamachar.jpg" alt="NewIndiaSamachar">
    </div> -->
  </div>

</div>

<p class="mb-32 about-page-para" data-translate="aboutdikshanewcontent">{{ site.data.text.aboutdikshanewcontent }}</p>
<p><img class="about-page-image" src="{{site.data.tenantAssetPath[site.environment].cdnUrl}}diksha-mission/Solutions_on_DIKSHA-Diverse,Flexible_and_Evolving.jpg" 
  onerror="this.src='{{site.data.tenantAssetPath[site.environment].baseBlobUrl}}/diksha-mission\/Solutions_on_DIKSHA-Diverse,Flexible_and_Evolving.jpg'" alt="Solutions on DIKSHA - Diverse, Flexible and Evolving image depicts the solutions provided by the DIKSHA Infrastructure. These solutions are: Energised Textbooks, Teacher Professional Development, Question Bank, Content Sourcing, Content Authoring, Quizzes, Content Consumption, Data Tools & Dashboards, Chatbot, Digital Credentials, Collaboration, Phygital, cQube, Surveys, Language Translations, Mentoring and Sunbird Registry and Credentials"></p>
<p class="about-page-image-text" data-translate="aboutdikshaimagetext">{{ site.data.text.aboutdikshaimagetext }}</p>
<p class="mb-32 about-page-para" data-translate="aboutdikshanewcontent2">{{ site.data.text.aboutdikshanewcontent2 }}</p>