<div class="container">
    <div class="row pb-3">
        <div class="col-sm-12 col-md-12">
            <div class="title-div text-center">
                <h2>
                    Testimonials
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div id="testimoninalCarousel" class="carousel slide testimoninal-slides" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#testimoninalCarousel" data-slide-to="0" class="active mr-2"></li>
                    <li class="mr-2" data-target="#testimoninalCarousel" data-slide-to="1"></li>
                    <li class="mr-2" data-target="#testimoninalCarousel" data-slide-to="2"></li>
                    <!-- <li class="mr-2" data-target="#testimoninalCarousel" data-slide-to="3"></li>
                    <li class="mr-2" data-target="#testimoninalCarousel" data-slide-to="4"></li> -->
                </ol>
                <div class="carousel-inner">
                    <!-- <div class="carousel-item active">
                        <div class="slides-container">
                            <div class="row pb-5">
                                <div class="discription-div col-sm-12 col-md-12">
                                    <div class="discription pt-2 px-5 text-center">
                                        <div class="p-container">
                                            <div class="quotation-open d-none d-sm-none d-md-block">
                                                <img class="img-fluid" src="./assets/imgs/quotation-open.svg" alt="Quotation">
                                            </div>
                                            <div class="quotation-close d-none d-sm-none d-md-block">
                                                <img class="img-fluid" src="./assets/imgs/quotation-close.svg" alt="Quotation">
                                            </div>
                                            <p class="pb-3 px-5 m-0">
                                                DIKSHA will enhance the learning experience of students and support teachers in executing more engaging lessons in their classroom. It will give the digital school movement in Maharashtra a big boost.
                                            </p>
                                        </div>

                                    </div>
                                    <div class="name-title pt-4 px-5 text-center">
                                        <label class="mb-0 px-3">Sri Vishal Solanki, (I.A.S)</label>
                                    </div>
                                    <div class="occupation px-5 text-center">
                                        <label class="px-3">Commissioner Education, Maharashtra, Since 2018</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="slides-container">
                            <div class="row pb-5">
                                <div class="discription-div col-sm-12 col-md-12">
                                    <div class="discription pt-2 px-5 text-center">
                                        <div class="p-container">
                                            <div class="quotation-open d-none d-sm-none d-md-block">
                                                <img class="img-fluid" src="./assets/imgs/quotation-open.svg" alt="Quotation">
                                            </div>
                                            <div class="quotation-close d-none d-sm-none d-md-block">
                                                <img class="img-fluid" src="./assets/imgs/quotation-close.svg" alt="Quotation">
                                            </div>
                                            <p class="pb-3 px-5 m-0">
                                                Through QR codes in textbooks DIKSHA has the potential to reach out to teacher's and students across the state and provide access to good quality learning content at their fingertips.
                                            </p>
                                        </div>

                                    </div>
                                    <div class="name-title pt-4 px-5 text-center">
                                        <label class="mb-0 px-3">Dr. Sunil Magar</label>
                                    </div>
                                    <div class="occupation px-5 text-center">
                                        <label class="px-3">Director, Balbharati, Since 2016</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="carousel-item active">
                        <div class="slides-container">
                            <div class="row pb-5">
                                <div class="discription-div col-sm-12 col-md-12">
                                    <div class="discription pt-2 px-5 text-center">
                                        <div class="p-container">
                                            <div class="quotation-open d-none d-sm-none d-md-block">
                                                <img class="img-fluid" src="./assets/imgs/quotation-open.svg" alt="Quotation">
                                            </div>
                                            <div class="quotation-close d-none d-sm-none d-md-block">
                                                <img class="img-fluid" src="./assets/imgs/quotation-close.svg" alt="Quotation">
                                            </div>
                                            <p class="pb-3 px-5 m-0">
                                                The story boarding technique is a very interesting one which helps us structure our thoughts and the final output better. The 'read along' feature is especially useful for language subjects.
                                            </p>
                                        </div>

                                    </div>
                                    <div class="name-title pt-4 px-5 text-center">
                                        <label class="mb-0 px-3">Teacher</label>
                                    </div>
                                    <div class="occupation px-5 text-center">
                                        <label class="px-3">Assam</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="slides-container">
                            <div class="row pb-5">
                                <div class="discription-div col-sm-12 col-md-12">
                                    <div class="discription pt-2 px-5 text-center">
                                        <div class="p-container">
                                            <div class="quotation-open d-none d-sm-none d-md-block">
                                                <img class="img-fluid" src="./assets/imgs/quotation-open.svg" alt="Quotation">
                                            </div>
                                            <div class="quotation-close d-none d-sm-none d-md-block">
                                                <img class="img-fluid" src="./assets/imgs/quotation-close.svg" alt="Quotation">
                                            </div>
                                            <p class="pb-3 px-5 m-0">
                                                    DIKSHA provides access to curriculum linked content compared to the general content which we were provided earlier. Particularly, Grade 1 English and Tamil songs are beautifully animated and composed. It helps me a lot in engaging the students in the classrooms.
                                            </p>
                                        </div>

                                    </div>
                                    <div class="name-title pt-4 px-5 text-center">
                                        <label class="mb-0 px-3">Teacher - Corporation Middle School,</label>
                                    </div>
                                    <div class="occupation px-5 text-center">
                                        <label class="px-3">Trustpuram, Chennai, Tamil Nadu</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="slides-container">
                            <div class="row pb-5">
                                <div class="discription-div col-sm-12 col-md-12">
                                    <div class="discription pt-2 px-5 text-center">
                                        <div class="p-container">
                                            <div class="quotation-open d-none d-sm-none d-md-block">
                                                <img class="img-fluid" src="./assets/imgs/quotation-open.svg" alt="Quotation">
                                            </div>
                                            <div class="quotation-close d-none d-sm-none d-md-block">
                                                <img class="img-fluid" src="./assets/imgs/quotation-close.svg" alt="Quotation">
                                            </div>
                                            <p class="pb-3 px-5 m-0">
                                                    DIKSHA platform has opened up so many opportunities for the entire teaching-learning community. The digital content (stories, assessments) have helped me create better lesson plans for the 2018-19 academic year.
                                            </p>
                                        </div>

                                    </div>
                                    <div class="name-title pt-4 px-5 text-center">
                                        <label class="mb-0 px-3">Sanskrit Teacher, </label>
                                    </div>
                                    <div class="occupation px-5 text-center">
                                        <label class="px-3">Uttar Pradesh</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>