<div class="nav flex-column vertical-nav-bar d-none d-md-block">
    <label class="px-3 pt-4 m-0">DIKSHA</label>
    <h5 class="px-3">Verticals</h5>
    <a class="nav-link {% if page.url contains 'profile-registry' %} active {% endif %}" href="{{site.baseurl}}/verticals/profile-registry/" title="Teacher Profile & Registry">Teacher Profile &amp; Registry</a>
    <a class="nav-link {% if page.url contains 'teaching-and-learning' %} active {% endif %}" href="{{site.baseurl}}/verticals/teaching-and-learning/"
        title="Teaching & Learning Content">Teaching &amp; Learning Content</a>
        <a class="nav-link {% if page.url contains 'content-creation' %} active {% endif %}" href="{{site.baseurl}}/verticals/content-creation/" title="Content Creation Platform">Content Creation Platform</a>
    <a class="nav-link {% if page.url contains 'teacher-professional-dev' %} active {% endif %}" href="{{site.baseurl}}/verticals/teacher-professional-dev/" title="Teacher Professional Development">Teacher Professional Development</a>
    <a class="nav-link {% if page.url contains 'school-leadership' %} active {% endif %}" href="{{site.baseurl}}/verticals/school-leadership/"
        title="School Leadership Development">School Leadership Development</a>
    <a class="nav-link {% if page.url contains 'assessment' %} active {% endif %}" href="{{site.baseurl}}/verticals/assessment/"
        title="Assessment">Assessment</a>
    <a class="nav-link {% if page.url contains 'innovation-innovative' %} active {% endif %}" href="{{site.baseurl}}/verticals/innovation-innovative/" title="Innovation & Innovative Pedagogy">Innovation &amp; Innovative Pedagogy</a>
</div>