<div class="feature-video-container">
    <div class="row mx-0">
        <div class="col-md-7 px-0 left embed-responsive embed-responsive-16by9 bg-tomato">
            <!-- <video width="100%" controls>
                        <source src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4" type="video/mp4">
                        <source src="http://clips.vorwaerts-gmbh.de/VfE_html5.ogg" type="video/ogg">
                        Your browser does not support HTML5 video.
                          </video> -->
            <iframe width="420" height="315" src="https://www.youtube.com/embed/YE7VzlLtp-4" frameborder="0"
                allowfullscreen=""></iframe>
        </div>
        <div class="col-md-5 right px-md-5 py-4 bg-tomato">
            <div class="col-md-10">
                <h5 class="headertitle white">Title of the Video</h5>
                <p class="white">Along with the test items, questionnaries pertaining to Pupil, Teacher and School were
                    also used. District Report Cards, State Report Cards and the findings of the survey, will help to
                    guide
                    education policy, planning and implementation at
                    national, state, district and classroom levels.
                </p>
                <div class="video-div">
                    <div class="video-content mr-3">
                        <div class="img">
                            <img class="img-fluid" src="{{site.baseurl}}/assets/imgs/featured-content-img.png" alt="Featured Content" title="Featured Content">
                            <div class="play-img">
                                <img class="img-fluid" src="{{site.baseurl}}/assets/imgs/play-white-bg.svg" alt="Play">
                            </div>
                            <div class="dullbg"></div>
                        </div>
                    </div>
                    <div class="video-content mr-3">
                        <div class="img">
                            <img class="img-fluid" src="{{site.baseurl}}/assets/imgs/featured-content-img.png" alt="Featured Content" title="Featured Content">
                            <div class="play-img">
                                <img class="img-fluid" src="{{site.baseurl}}/assets/imgs/play-white-bg.svg" alt="Play">
                            </div>
                            <div class="dullbg"></div>
                        </div>
                    </div>
                    <div class="video-content mr-3">
                        <div class="img">
                            <img class="img-fluid" src="{{site.baseurl}}/assets/imgs/featured-content-img.png" alt="Featured Content" title="Featured Content">
                            <div class="play-img">
                                <img class="img-fluid" src="{{site.baseurl}}/assets/imgs/play-white-bg.svg" alt="Play">
                            </div>
                            <div class="dullbg"></div>
                        </div>
                    </div>
                    <div class="video-content mr-3">
                        <div class="img">
                            <img class="img-fluid" src="{{site.baseurl}}/assets/imgs/featured-content-img.png" alt="Featured Content" title="Featured Content">
                            <div class="play-img">
                                <img class="img-fluid" src="{{site.baseurl}}/assets/imgs/play-white-bg.svg" alt="Play">
                            </div>
                            <div class="dullbg"></div>
                        </div>
                    </div>
                    <div class="video-content mr-3">
                        <div class="img">
                            <img class="img-fluid" src="{{site.baseurl}}/assets/imgs/featured-content-img.png" alt="Featured Content" title="Featured Content">
                            <div class="play-img">
                                <img class="img-fluid" src="{{site.baseurl}}/assets/imgs/play-white-bg.svg" alt="Play">
                            </div>
                            <div class="dullbg"></div>
                        </div>
                    </div>
                    <div class="video-content mr-3">
                        <div class="img">
                            <img class="img-fluid" src="{{site.baseurl}}/assets/imgs/featured-content-img.png" alt="Featured Content" title="Featured Content">
                            <div class="play-img">
                                <img class="img-fluid" src="{{site.baseurl}}/assets/imgs/play-white-bg.svg" alt="Play">
                            </div>
                            <div class="dullbg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>