.switch-field {
	display: flex;
	margin: calculateRem(30px) calculateRem(30px) calculateRem(-15px);
    z-index: 9999;
    position: relative;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
    background-color: #fff;
    color: #004e9d;
    font-size: calculateRem(12px);
    line-height: 1;
    text-align: center;
    padding: calculateRem(7px) calculateRem(14px);
    margin-right: calculateRem(-1px);
    border: calculateRem(1px) solid #004e9d;
    box-shadow: none;
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #004e9d;
    box-shadow: none;
    color: #fff;
}

.switch-field label:first-of-type {
	border-radius: calculateRem(10px) 0 0 calculateRem(10px);
    html[dir="rtl"] & {
        border-radius: 0 calculateRem(10px) calculateRem(10px) 0;
    }
}

.switch-field label:last-of-type {
	border-radius: 0 calculateRem(10px) calculateRem(10px) 0;
    html[dir="rtl"] & {
        border-radius: calculateRem(10px) 0 0 calculateRem(10px);
    }
}

.section-usageMetrics, .section-creationMetrics, .section-courseMetrics {
    display: none;
}

.dashboard {
    .flex {
        align-items: flex-start;
        justify-content: space-between;
        display: flex;
        grid-column-start: span 16;
    }
.switch-field {
    margin: 0 0 calculateRem(15px);
}
}

.datasetsButton{
    border-radius: 1rem;
    background-color: #ff714ad1;
    border-color: #ff714ad1;
}

.mobile.only{
    .switch-field{
        margin: 0;
        justify-content: center;
    }

    .datasetsButton {
        margin: 0 auto;
        display: block;
    }
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
  z-index: 10;
}

#linegraph{
    position: relative;
}