.footer-container {
    padding-top: calculateRem(80px);
    overflow: hidden;
    position: relative;
    z-index: 2;

    @include respond-below(sm) {
        padding-top: calculateRem(24px);
    }
}

.footer-dk-updates {
    height: calculateRem(48px);
    background: var(--footer-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--footer-text);
    font-size: calculateRem(14px);
}

.footer-terms-area {
    height: calculateRem(60px);
    font-size: calculateRem(14px);
    align-items: center;

    .right-column {
        text-align: right;
        padding-right: 5%;

        html[dir="rtl"] & {
            text-align: left;
            padding-left: 5%;
        }

        html[dir="rtl"] & {
            @include respond-below(lg) {
                padding-left: 12%;
            }
        }

        @include respond-below(lg) {
            padding-right: 12%;
        }

        @include respond-below(md) {
            text-align: center !important;
            padding: 0 !important;
        }
    }

    @include respond-below(md) {
        text-align: center;
        color: var(--white);
        height: auto;
        margin-bottom: calculateRem(16px);

        & a {
            color: var(--white);
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.footer-mobile-area {
    max-width: calculateRem(920px);
    width: 100%;
    margin: 0 auto;
    margin-bottom: calculateRem(32px);
    align-items: center;

    .dk-footer {
        &__img {
            @include respond-below(md) {
                padding: 0 !important;

                img {
                    max-width: 60%;
                }
            }

            @include respond-below(sm) {
                img {
                    max-width: 100%;
                }
            }
        }

        &__info {
            .title {
                @include respond-below(sm) {
                    font-size: calculateRem(22px);
                    font-weight: bold;
                }
            }
        }
    }

    @include respond-below(md) {
        display: flex;
        margin-bottom: calculateRem(144px);
        justify-content: center;
    }

    .sb-g {
        align-items: center;

        @include respond-below(md) {
            & [class^="sb-g-col"] {
                text-align: center;
            }
        }
    }
}

h4 {
    color: var(--gray-800);
    font-size: calculateRem(36px);
    line-height: calculateRem(64px);
}

p {
    font-size: calculateRem(14px);
    line-height: calculateRem(22px);
}



.dk-footer-img-container {
    width: 41.125rem;
    position: absolute;
    z-index: -1;
    box-shadow: 0 .125rem 1.5rem 0 rgba(var(--rc-rgba-black), 0.2);
    border-radius: 100%;
    left: 50%;
    margin: 0 auto;
    bottom: -50%;
    transform: translate(-50%, 0%);

    html[dir="rtl"] & {
        left: 0;
        right: 50%;
        transform: translate(50%);
    }

    @include respond-below(xs) {
        transform: translate(-50%, 6%);
    }

    @include respond-between(sm, md) {
        transform: translate(-50%, -24%);
        bottom: -70%;
    }

    svg {
        animation: spin 40s linear infinite;
    }

    @include respond-above(md) {
        right: 0%;
        bottom: 0%;
        transform: translate(24%, 75%);

        html[dir="rtl"] & {
            right: unset;
            left: 0;
            transform: translate(-24%, 75%);
        }
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
.h4-dik-heading{
    color: var(--default-text);
    font-size: 2.25rem;
    line-height: 4rem;
}
.marquee {
    width: 100%; /* Width of marquee "window" must match the width of p elements*/
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
   
}

.marquee > div {
  display: table-row;
  white-space: nowrap;
  padding-left: 100%; 
  animation: marquee 40s linear infinite; 
  /* Time must be adjusted based on total width of scrolled elements*/
}

.marquee{
    div p {
        @include respond-below(sm) {
            padding-left: 50px !important;
        }
}
}
.marquee > div p {
  width: 100%; /* Width of p elements must match the width of marquee "window"*/
  padding-left: 50%; /* Padding determines space between scrolled elements */
  display: table-cell; 
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
.diksha-update-txt{
    width: auto;
    white-space: pre;
}

a.sb-color-black.terms-policies{
    color: var(--black) !important;
}

.sb-color-black{
    color: var(--black) !important;
}
// tab index css
*:focus-visible{
    border: 1px #fe0000 solid !important;
    border-radius: 5px;
    outline: none;
  }
  *:focus:not(:focus-visible){
    outline: none;
    border-style:none;
  }
  path.Country:focus-visible  {
    border: none !important;
    border-radius: 5px;
    outline: 1px#fe0000 solid !important;
}
  // tab index css end