html,
body {
    background: var(--body-bg);
    color: var(--default-text);
}

// header tail bar
.brand-header-tail {
    background: var(--brand-header-tail-bg);
    min-height: calculateRem(48px);
    font-size: calculateRem(12px);
    color: var(--brand-header-tail-text);
    display: flex;
    align-items: center;
    padding: 0.5rem;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0 0px;
        @include respond-below(sm) {
            width: 100% !important;
            max-width: 100% !important;
            padding: 0 0.5rem;
            flex-direction: column;
        }

        @include respond-below(md) {
            & div:first-child {
                // margin: 0 auto;
            }
        }

        @include respond-below(xs) {
            flex-direction: column;
            align-items: initial;
        }
    }

    @include respond-below(sm) {
        .head-tail-right-side {
            margin-top: 0.5rem;
            align-self: flex-end;
            width: 100%;
        }
    }

    .dk-country-flag {
        @include respond-below(sm) {
            text-align: center;
        }
    }

    div.dk-top-head-ul {
        display: flex;

        @include respond-below(sm) {
            flex-direction: column;
            width: 100%;
        }

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;

            li {
                text-align: center;
            }

            li a {
                color: var(--white);
            }

            li a:hover,
            li a.active {
                text-decoration: underline;
                color: var(--primary-menu-link-active);
            }

            &:first-child {
                li:last-child {
                    @include respond-below(sm) {
                        display: none;
                    }
                }
            }

            &:last-child {
                @include respond-below(sm) {
                    margin-top: 0.5rem;
                }
            }

        }

        .skip-content-link {}

        .screen-reader-link,
        .sitemap-link {}

        .sitemap-link {}
    }

    .fontResize-container {
        .fontResizeBtn_A- {
            font-size: 0.75rem;
        }

        .fontResizeBtn_A {
            font-size: 0.85rem;
        }

        .fontResizeBtn_A+ {
            font-size: 1rem;
        }

        .fontResizeBtn {
            border: 0.0625rem solid #484848;
            background: none;
            color: var(--white);
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px 0.25rem;
            padding: 0px 0.5rem;
            transition: all .3s ease-in-out;
            border-radius: 50%;

            &:hover,
            &:active {
                // background: var(--secondary-color);
                background: #A82400;
                color: var(--white);
                cursor: pointer;
                // outline: 0px;
            }

            &:disabled,
            &[disabled] {
                opacity: 0.5;
                cursor: default;
                border-radius: 50%;

                &:hover {
                    background: none;
                }
            }
        }
    }

    .fontResizeBtn:focus,
    .dark-mode-toggle:focus {
        outline: none;
    }

    .dark-mode-toggle {
        border: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        padding: 0px;
        background: none;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover {
            outline: none;
            background: #A82400;
            border-radius: 50%;
        }
    }
}

html.darkmode {
    //terms page styles
    .brand-header-tail {
        background: #333333 !important;
    }
    #terms-of-use .nav-tabs .nav-link{
        color: #f2b201;
    }
    #terms-of-use .nav-tabs .nav-item.show .nav-link, #terms-of-use .nav-tabs .nav-link.active{
        color: var(--tertiary-color);
        border-bottom: 0.125rem solid var(--tertiary-color);
        background: #333;
    }
    #terms-of-use .nav-tabs::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
        background-color: #444;
    }
    #terms-of-use .nav-tabs::-webkit-scrollbar-thumb {
        border-radius: 0.625rem;
        -webkit-box-shadow: inset 0 0 0.375rem #999;
    }
    #terms-of-use .TermsOfUseClick, #terms-of-use .TermsOfUseClick:hover, #terms-of-use .tab-pane a, #terms-of-use .tab-pane a:hover {
        color: var(--tertiary-color);
    }
    #terms-of-use .early-box ul li a {
        color: var(--tertiary-color);
    }
    #terms-of-use .early-box ul li a sub {
        color: #fff;
    }
    #terms-of-use .early-box h6 {
        color: #f2b201;
    }
    #terms-of-use .scrollToTop .scrollTopWrapper{
        color: #000;
        background: #f2b201;
    }

    .dk-page-compt-dottedround-container .dk-page-compt-dottedround:after,
    .dk-right-img-container img {
        filter: invert(1);
    }

    .dk-card {
        box-shadow: none;
    }
    .ul-sitemap li{
        color:var(--white);
    }
    .ul-sitemap li a{
        color:var(--white);
        &:hover{
            color:var(--tertiary-color);
        }
    }
    .table-container{
        .sb-table{
            background: var(--body-bg);
            thead th{
                background-color: var(--tertiary-color);
            }
            tbody td{
                color:var(--white);
                a{
                    color: var(--dashboard-btn-text);
                    &:hover{
                        color:var(--tertiary-color);
                        text-decoration: underline;
                    }
                }
            }
        }
        .sb-table-hover tbody tr:hover{
            background: #444;
        }
    }
    .page-title{
        color:var(--tertiary-color);
    }
    .sb-sitemap-back-btn{
        background-color: var(--dashboard-btn-bg);
        color: var(--dashboard-btn-text);
        border-color: var(--dashboard-btn-border);
        .arrow{
            border: solid var(--black);
            border-width: 0 0.125rem 0.125rem 0;
        }
    }
    #header nav{
        background: #20242a;
    }
    #header .btn-header-exp{
        background-color: var(--dashboard-btn-bg);
        color: var(--dashboard-btn-text);
        border-color: var(--dashboard-btn-border);
    }
    .footer-terms-area{
        a.sb-color-white.terms-policies{
          color: var(--white) !important;
        }
        span.sb-color-white{
            color: var(--white) !important;
        }
    }
    .dk-color-error{
        color: #E29C9F !important;
    }
    .diksha-coming-soon{
        color: var(--white) ;
    }
    .diksha-logo-text {
        filter: brightness(0) invert(1);
    }
    .digital-india{
        filter: brightness(0) invert(1);
    }

}

.usage-metrics-content {
    .dk-card__selection select {
        background-color: var(--usage-select-btn-bg);
    }
}

.dk-copyright-text {
    font-size: 0.875rem;
    color: var(--white);
    text-align: left;
    border: none;
    padding: 0 0 0px 0 !important
}
.screenreader, .site-map{
    .arrow.left{
        html[dir="rtl"] & {
            margin-left: 8px;
        }
    }
}
.datasets-footer{
    .footer-container{
        background: var(--body-bg);
        .description{
           color: var(--default-text);
        }
    }
}
.brand-header-tail {
    .container {
        width: 96% !important;
        max-width: 96% !important;
        margin: 0 auto;
    }
   div.dk-top-head-ul ul{
    .mx-4 {
        margin-left: .25rem !important;
        margin-right: .25rem !important;
    }
   }
}
.footer-terms-area{
    a.sb-color-white.terms-policies{
      color: var(--black) !important;
    }
    span.sb-color-white{
        color: var(--black) !important;
    }
}
.dk-color-error{
    color: #9F2D2F !important;
}
html.darkmode .dk-pagedata .svg-container svg g text{
    fill: #fff;
}
.sb-color-error {
    color: #A82400 !important;
}
html.darkmode .sb-color-error{
    color: #FF9375 !important;
}

