
  .usage-metrics-content{
    .usage-label{
        font-size: calculateRem(24px);
        color: #bf5537;
        font-weight:bold;
    }
    
    .sb-btn-dashboard{
        border: calculateRem(1px) solid var(--primary-color);
        border-radius: calculateRem(24px);
        background-color: var(--rc-FFFDFB);  
        color: var(--primary-color); 
    }
    .view-dashboard{
        background-color: var(--dashboard-btn-bg);
        color: var(--dashboard-btn-text);
        border-color: var(--dashboard-btn-border);
        &:hover{
            color: var(--dashboard-btn-hover-text);
            background-color: var(--dashboard-btn-hover-bg);
        }
    }
   
    
}


.mobile-metrics-container {
    background: var(--mobile-metrics-container);
    @include respond-below(md) {
        z-index: 2;
        position: relative;
    }
    
}


.top-states-table{
    table{
        border: 1px solid rgba(179,179,179,0.5);
        border-radius: 18px; 
        border-spacing: 0;
        width: 100%;
        tr{
            th{
                border-bottom: 1px solid rgba(179,179,179,0.5);
                padding: 10px; 
            }
            &:first-child{
                background-color: #FFD955;
                border-radius: 18px 18px 0 0;
                th{
                    color: #333333;
                    font-size: 12px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 17px;
                    &:first-child{
                        border-radius: 18px 0 0 0;
                    }
                    &:last-child{
                        border-radius: 0 18px 0 0;
                    }
                }
            }
            td{
                border-bottom: 1px solid rgba(179,179,179,0.5);
                padding: 8px 16px; 
                text-align: left;
                color: #333333;
                font-size: 12px;
                letter-spacing: 0;
                line-height: 17px;                  
                &:first-child{
                    background-color: #f2f2f2;
                    text-align: center;
                }
                &:nth-child(2){
                    border-right: 1px solid rgba(179, 179, 179, 0.5);
                }
            }
            &:last-child{
                td{
                    border-bottom: none;
                    &:first-child{
                        border-radius: 0 0 0 18px;
                    }
                }
            }
        }
    }
}