@font-face {
    font-family: 'Hand Sean Regular';
    src: url(/assets/fonts/handsean-webfont.woff2) format("woff2");
    font-display: swap;
    font-weight: normal
}

.dk-page-home-slider {
    height: auto;

    @include respond-below(md) {
        border-radius: 0;
        overflow: unset;
    }
}

.homepage-slides {
    height: 100%;

    .carousel-control-prev-icon {
        background-image: url(/assets/imgs/icons/left-arrow.png) !important;
    }
    .carousel-control-next-icon {
        background-image: url(/assets/imgs/icons/right-arrow.png) !important;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        display: inline-block;
        width: 48px;
        height: 48px;
        background: transparent no-repeat center center;
        background-size: 100% 100%;
    }
    .carousel-control .icon-prev {
        content: "\2039";
        
    }
    .carousel-control .icon-next {
       content: "\203a";
      
    }
    .carousel-control {
        position: absolute;
       top: 87%;
        bottom: 0;
        left: 0;
        width: 0%;
        font-size: 20px;
        color: #FFFFFF;
        text-align: center;    
    }
    .carousel-control.left {
        left:135px;       
    }
    .carousel-control.right {
        right: 100px;
        left: auto;      
    }
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        position: absolute;
        top: 96%;
        z-index: 5;
        display: inline-block;
        margin-top: -10px;
    }
    

    .carousel-indicators {
        margin-bottom: 0;
        justify-content: flex-end;
        align-items: center;
        margin: 0%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 1111;
        bottom: -2rem !important;
        left: 0;
        right: 0;

        @include respond-below(sm) {
            justify-content: center;
            margin: 0;
            bottom: calculateRem(-40px);
            padding: 0;
        }

        li {
            width: calculateRem(7px);
            height: calculateRem(7px);
            background: var(--rc-806F45);
            margin-right: calculateRem(11px);
            cursor: pointer;
        }

        .active {
            width: calculateRem(12px);
            height: calculateRem(12px);
            background-color: var(--orange);
        }

        li,
        .active {
            border-radius: 50%;
        }
    }

    .carousel-inner {
        height: 100%;

        .carousel-item {
            height: 100%;

            img {
                width: 100%;
            }

            video {
                width: 100%;
                height: 236px;
                object-fit: cover;
            }

            .overflow-background {
                // background: rgba(0, 0, 0, 0.5);
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;

                label {
                    color:#3e3e3e;
                    font-size: 32px;
                    font-weight: 500;
                    font-style: italic;
                    display: inline-flex;
                    font-family: 'Hand Sean Regular', Helvetica, sans-serif;

                    span {
                        padding: 5px 15px;

                        &:nth-child(1) {
                            background: #03b7f2;
                        }

                        &:nth-child(2) {
                            background: #FECAB3;
                        }

                        &:nth-child(3) {
                            background: #fbcd05;
                            padding-right: 25px;
                        }
                    }
                }

                p {
                    color: #ddd;
                    background: rgba(0, 0, 0, 0.6);
                    padding: 15px;
                    border-radius: 10px;
                    margin-bottom: 10px;

                    span {
                        font-style: bold italic;
                        font-size: 16px;
                        color: #fff;
                        display: block;
                    }
                }

                .flex-div {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .play-video {
                        outline: 0;
                        border: none;
                        border-radius: 100%;
                        width: 50px;
                        height: 50px;
                        margin-right: 15px;
                        background: #eee;
                        margin-bottom: 4%;

                        img {
                            margin: 0 auto;
                            width: auto;
                        }
                    }
                }
            }
        }

        .carousel-text {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: calculateRem(32px);
            display: block;
            width: calculateRem(240px);
            font-weight: bold;
            text-align: center;
            color: var(--primary-color);
            transform: translate(-50%, -50%);
            line-height: normal;
        }
    }

    .carousel-img {
        max-width: 100%;
        height: 100%;
        width: 100%;
    }

    // .image {
    //     width: 100%;
    //     height: 100%;
    //     background-size: cover;
    //     background-position: initial;
    //     background-repeat: no-repeat;
    //     display: block;

    //     &--one {
    //         background-image: url(/assets/imgs/Group\ 53.png);
    //     }

    //     &--two {
    //         background-image: url(/assets/imgs/modi2.jpg);
    //     }

    //     &--three {
    //         background-image: url(/assets/imgs/modi3.jfif);
    //     }

    //     &--four {
    //         background-image: url(/assets/imgs/modi4.jpg_large);
    //     }
    // }
}

.carousel3-bg {

    // background: url("/assets/bannerImage/b1.jpg") no-repeat;
    // background-size: 100% 290px;
    // height: 290px !important;
    .flexbox-row {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 1111;
        right: 0;
        bottom: 0px;
        left: 0;
        padding: 0;
    }
}

.FLN-text {
    color: #FFFFFF;
    font-family: "Noto Sans";
    font-size: 27.32px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 37px;

    span.Yellow {
        color: #FFD955;
    }
}

.FLN-explore {
    display: flex;
    height: 34px;
    width: 110px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.1);

    img {
        width: auto !important;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 540px) {
    .homepage-slides .carousel-inner .carousel-item .overflow-background p {
        font-size: 13px !important;
        padding: 10px 15px;
        margin-bottom: 0;
    }

    .homepage-slides .carousel-inner .carousel-item .overflow-background label,
    .homepage-slides .carousel-inner .carousel-item .overflow-background p span {
        font-size: 14px !important;
    }

    .homepage-slides .carousel-inner .carousel-item .overflow-background label span {
        padding: 5px !important;
    }

    .homepage-slides .carousel-inner .carousel-item .overflow-background .flex-div .play-video {
        width: 50px;
        height: 50px;
    }

    .FLN-explore {
        height: 40px;
        width: 110px;
    }
}

.pointer {
    cursor: pointer;
}