// buttons

.btn_round {
    background: var(--white);
    border: 0.25rem solid rgba(255, 255, 255, 0.24);
    border-radius: 2.5rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 1px 4px 1px 3px rgb(0 0 0 / 10%);
    &__outline {
    outline: 0.25rem solid rgba(255, 255, 255, 0.2);
    box-shadow: none;
    }
    span i {
        display: none;
    }
}
.primary_btn {
padding: 0.875rem 2rem !important;
background:var(--btn-primary-bg);
border-radius: 2.5rem;
border: none;
font-weight: bold;
font-size: 0.875rem !important;
color: var(--btn-primary-bg-contrast);
text-transform: uppercase;
cursor: pointer;
}
.btn_home {
    margin-left: 2rem;
}
// card grid
.pa-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    grid-gap: 1rem;
}
// card
.pa-card {
// width: 288px;
height: 13rem;
padding:1rem;
background: var(--white);
box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25), inset -4px -4px 1rem #C7C4ED;
border-radius: 1.5rem;
display: flex;
align-items: baseline;
justify-content: space-between;
flex-direction: column;
cursor: pointer;
&:hover {
    background: #e6f6ff;
}
.icon {
    width: 100%;
    height: 8.875rem;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
    img {
        width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    }
}
h4 {
    font-size: 0.875rem;
text-align: center;
letter-spacing: 0.1em;
color: var(--primary-color);
font-weight: bold;
margin-bottom: 0.5rem;
margin-top: 0.5rem;
}
p {
    line-height: 1.25rem;
    margin-bottom: 0;
    &::first-letter {
        text-transform: capitalize;
    }
}
}
// fonts
.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }