
 /* video player */

 .video_container {
    height: 100%;
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1.5rem;
    position: relative;
  }
  .aspectratio[data-ratio="16:9"] {
    padding-top: 56.25%;
  }
  .aspectratio {
    position: relative;
    height: 0;
    width: 100%;
    z-index: 99;
  }
  .fun-video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  iframe {
    width: 100%;
    border: 0;
    height: 100%;
    left: 50%;
    top: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .fun-video-player-details {
    align-items: center;
    display: flex;
    padding-top: 1rem;
  }
  .fun-video-player-details-info {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .video-player-title{
      /* margin-right: auto; */
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #27282D;
  }
  .video-player-subtitle{
    padding-top: 0.25rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #646464;
  }
  .video-player-action-btns {
    display: flex;
    flex-wrap: wrap;
  }
  .player-btn {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: .75rem;
    padding: 0 0.5rem;
    border: none;
    background: none;
  }
  .player-btn img {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .player-btn span {
    font-weight: 400;
    padding-top: 0.25rem;
    font-size: 0.625rem;
    line-height: 1rem;
    color: #666666;
  }
  
  .separator {
    border-left: 1px solid #979797;
    height: 2.1875rem;
    width: 0.0625rem;
  }






  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  .inner-animation-size {
    width: 20rem;
    height: 20rem;
    position: absolute;
    right: 17%;
    bottom: 0;
  }
  video {
    pointer-events: none;
  }
  #homeVideo {
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
    top:0;
    left:0;
    @media (min-aspect-ratio:16/9){
      width:100%;height:auto;
    }
    @media (max-aspect-ratio:16/9){
      width:auto;height:100%;
    }
  }