@use './components' as *;
@use './header' as *;
@use './footer' as *;
@use './backpanel' as *;
@use './intro' as *;
@use './video' as *;

@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --primary-theme:#7132BD;
  --primary-theme-contrast:#fff;
  --surface-bg:#7132BD;
  --surface-bg2:#ffffff80;
  --primary-color:#64B2DC;
  --primary-color-contrast:#fff;
  --white:#fff;
  --black:#000;
  --text-color:#333;
  --btn-primary-bg:#13033D;
  --btn-primary-bg-contrast:#fff;
}

html, body {
    height: 100%;
    margin: 0;
  }
.footer-content {
    min-height: 100%;
    margin: 0 auto -20.875rem;
  }

body {
  background-color: var(--surface-bg);
    font-family: 'MuseoModerno', cursive, Arial, Helvetica, sans-serif;;
    font-display: auto;
}
.primary-font {
  font-family: 'MuseoModerno', cursive, Arial, Helvetica, sans-serif;;
}
p {
  font-family: 'Lato', sans-serif, Arial, Helvetica, sans-serif;;
}

.pa-ct-move-up {
   padding-bottom: 29.5625rem;
}

@media (max-width: 767.98px) {
  .container {
      max-width: 95%;
  }
}

.explore-page {
  background-image: url(./../img/2ndpage-bubbles.svg); /* The image used */
  background-color: var(--surface-bg); /* Used if the image is unavailable */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}