.vertical-section {
    display: flex;
    height: 100vh;
    .vertical-tab {
        color: $black;
        h5 {
            padding: 30px 0 30px 30px;
            font-weight: bold;
            margin-bottom: 0;
        }
        a {
            color: $black;
        }
        p {
            padding-left: 30px;
            font-size: 14px;
        }
    }
    .vertical-content {
        width: 70%;
        position: relative;
        h4 {
            text-align: center;
            margin: 30px 0 60px;
            color: #4a4a4a;
            font-weight: bold;
        }
        img {
            margin: 0 auto;
            display: block;
        }
        p {
            position: absolute;
            font-size: 14px;
            color: $cerulean-blue;
            font-weight: bold;
            &.teacher-pr-dv {
                top: 100px;
                left: 220px;
            }
            &.profile-reg {
                top: 200px;
                left: 40px;
            }
            &.teaching-lern-cnt {
                top: 367px;
                left: 10px;
            }
            &.content-crt-pt {
                top: 150px;
                right: 15px;
            }
            &.assessment {
                right: 200px;
                top: 365px;
            }
            &.innovation-inv-pg {
                left: 70px;
            }
            &.school-ld-pt {
                right: 190px;
            }
        }
    }
}

.feature-video-container {
    .video-div {
        display: flex;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            display: none;
        }
        .video-content {
            flex: 0 0 auto;
            .img {
                position: relative;
                width: 105px;
                .play-img {
                    width: 30px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    z-index: 2;
                }
                .dullbg {
                    background: rgba(0, 0, 0, 0.3);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
            }
        }
    }
}