/* color variables */
$tomato : #e55a28;
$peacock-blue: #024f9d;
$green: #008843;
$black:#333333;
$cerulean-blue: #0971da;
$white-hafl:#fcfcfc;
$white: #ffffff;
$lightgray: #9b9b9b;
$orange: #f6711d;

$primary-color: $cerulean-blue;
$secondary-color:$green;
$tertiary-color: $peacock-blue;
/* color variables */

:root {
  font-size: 16px;
  --font-stack-en: "Noto Sans", "Noto Sans Devanagari", "Noto Sans Tamil",
    "Noto Sans Bengali", "Noto Sans Malayalam", "Noto Sans Gurmukhi",
    "Noto Sans Gujarati", "Noto Sans Telugu", "Noto Sans Kannada",
    "Noto Sans Oriya", "Noto Nastaliq Urdu", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  --font-stack-hi: "Noto Sans Devanagari", "Noto Sans", "Noto Sans Tamil",
    "Noto Sans Bengali", "Noto Sans Malayalam", "Noto Sans Gurmukhi",
    "Noto Sans Gujarati", "Noto Sans Telugu", "Noto Sans Kannada",
    "Noto Sans Oriya", "Noto Nastaliq Urdu", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  --font-stack-ur: "Noto Sans", "Noto Nastaliq Urdu", "Noto Sans Devanagari",
    "Noto Sans Tamil", "Noto Sans Bengali", "Noto Sans Malayalam",
    "Noto Sans Gurmukhi", "Noto Sans Gujarati", "Noto Sans Telugu",
    "Noto Sans Kannada", "Noto Sans Oriya", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;

  // base colors
  --blue: #024f9d;
  --green: #00B053;
  --orange: #e55a28;
  --red: #ff4558;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --yellow: #ffc107;
  --teal: #20c997;
  --cyan: #17a2b8;
  --black: #20242A;
  --white: #ffffff;

  // gray colors shades
  --gray-hs: 0, 0%;
  --gray: hsl(var(--gray-hs), 20%);
  --gray-0: hsl(var(--gray-hs), 95%); // place holder active bg #F2F2F2
  --gray-100: hsl(var(--gray-hs), 80%); // disable btn bg, icon color #CCCCCC
  --gray-200: hsl(var(--gray-hs), 60%); // disable text, place holder text #999999
  --gray-300: hsl(var(--gray-hs), 59%); // sub heading 2 #969696
  --gray-400: hsl(var(--gray-hs), 40%); // sub heading #666666
  --gray-800: var(--gray); // text color #333333

  // basetheme
  --primary-color: #024e9d; //#4E4C81
  --secondary-color: #FF714A;
  --tertiary-color: #FFE350;

  // primary colors
  --primary-0: #f3f7fa; // bg
  --primary-100: #edf4f9; // default button bg
  --primary-200: #80a7ce; // divider
  --primary-250: #d3e7f4; //pagination bg color
  --primary-300: #7ab4ee; // outline, focus fields
  --primary-400: var(--primary-color); // button bg, heading, table titles, links, toggles
  --primary-600: #005391; // on press
  --primary-800: #002e50; // hover

  // secondary colors
  --secondary-0: #feedd7; // toast bg, label
  --secondary-200: #ffa11d; // buttong bg, toast
  --secondary-400: var(--secondary-color); // icon, label, notification bg

  // tertiary colors
  --tertiary-0: #fceda5; // toast bg, label
  --tertiary-100: #fce46d; // button bg bg, toast
  --tertiary-400: var(--tertiary-color); // hover

  // red colors
  --red-0: #fbccd1; // toast bg
  --red-100: #ff6979; // buttong bg, toast
  --red-400: var(--red); // icon color, lable, notification

  // status colors
  --info-color: var(--blue);
  --success-color: var(--green);
  --warning-color: var(--orange);
  --danger-color: var(--red);

  // element based variables
  --body-background-color: var(--primary-0);
  --default-text-color: var(--gray-800);
  --bg-body: var(--primary-0);
  --body-color: var(--gray-800);

  // alpha
  --alpha0: 0;
  --alpha25: 0.25;
  --alpha50: 0.5;
  --alpha75: 0.75;

  // fonts
  --font-default-size: 0.875rem;
  --font-size-base: var(--font-default-size); // 14px Assumes the browser default, typically `16px`
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-base: var(--font-weight-normal);
  --line-height-base: calc(var(--font-size-base) * 1.61803398875);
  --h1-font-size: 2rem; // 32px
  --h2-font-size: 1.75rem; // 28px
  --h3-font-size: 1.5rem; // 24px
  --h4-font-size: 1.2rem; // 20px
  --h5-font-size: 1rem; // 16px
  --h6-font-size: var(--font-size-base); // 14px
  --font-size-lg: var(--h4-font-size); //20px
  --font-size-md: var(--h5-font-size); // 16px
  --font-size-normal: var(--font-size-base); // 14px
  --font-size-sm: 0.75rem; // 12px
  --font-size-xs: 0.625rem; // 10px
  --p-font-size: var(--font-size-base); //14px

  // base variables
  --base-font-size: 0.875rem;
  --base-block-space: 0.5rem; //8px,
  --icon-svg-xxs: 0.75rem;
  --icon-svg-xs: calc(var(--base-block-space) * 2);
  --icon-svg-sm: calc(var(--base-block-space) * 3);
  --icon-svg-md: calc(var(--base-block-space) * 4);
  --icon-svg-lg: calc(var(--base-block-space) * 5);
  --icon-svg-xl: calc(var(--base-block-space) * 6);
  // random colors
  --rc-FAF9F9: #FAF9F9;
  --rc-FFFDFB: #FFFDFB;
  --rc-0080CA: #0080CA;
  --rc-127EC2: #127EC2;
  --rc-E5E3E3: #E5E3E3;
  --rc-EFEFEF: #EFEFEF;
  --rc-F8F6F5: #F8F6F5;
  --rc-979797: #979797;
  --rc-6D7278: #6D7278;
  --rc-4E4C80: #4E4C80;
  --rc-806F45: #806F45;
  --rc-545658: #545658;
  --rc-D0D0D0: #D0D0D0;
  --rc-00A2AE: #00A2AE;
  --rc-rgba-black: 0, 0, 0; // var(--black)
  --rc-rgba-gray: 51, 51, 51; // var(--gray-300)
  --rc-rgba-949494: 147, 147, 147;
  --rc-rgba-ff714: 255, 113, 74;
  --rc-ddd: #ddd;
  --rc-DCDBEB: #DCDBEB;

  /* base theme */
  --body-bg: var(--white);
  --default-text: #232323;
  --reverse-text: var(--default-text);
  --header-bg:var(--body-bg);
  --brand-header-tail-bg:var(--black);
  --brand-header-tail-text:var(--rc-FAF9F9);
  --primary-menu-link: var(--primary-color); //#024e9d
  --primary-menu-link-icon-text:var(--white);
  --primary-menu-link-active: var(--secondary-color); //#FF714A
  --primary-menu-link-border-bg:var(--white);
  --primary-menu-link-hover: #dcdbeb;
  --mobile-metrics-container:var(--tertiary-color);
  --primary-menu-link-icon-bg:transparent;
  --h1-text: var(--primary-color);
  --para-text: var(--default-text);
  --brand-area-bg:var(--white);
  --dk-page-main-area-left-bg:var(--white);
  --section-theme-bg:var(--tertiary-color);
  --dk-page-right-container-bg:var(--rc-FFFDFB);
  --dk-theme-border-color:var(--rc-E5E3E3);
  --dk-card-bg:var(--white);
  --card-para-text: var(--para-text);
  --explore-btn-border:#e5e3e3;
  --explore-btn-text:var(--gray-800);
  --card-select-btn-bg:var(--rc-EFEFEF);
  --card-select-btn-text:var(--gray-800);
  --usage-select-btn-bg:var(--rc-EFEFEF);
  --dashboard-btn-bg: var(--body-bg);
  --dashboard-btn-border: var(--primary-menu-link);
  --dashboard-btn-text: var(--primary-menu-link);
  --dashboard-btn-hover-text: var(--primary-800);
  --dashboard-btn-hover-bg: var(--primary-100);
  --dk-app-title:var(--rc-4E4C80);
  --hr-line:var(--rc-ddd);
  --viyadaan-bg: #0B5583;
  --vidyadaan-text: var(--white);
  --footer-bg: var(--para-text);
  --footer-text: var(--white);
  --tabs-content:var(--white);
  --tabs-li-a:#232323;
  --dk-F5F7FB-bg:#F5F7FB;
  --cd-card-bg:var(--white);
  --rcard-bg:var(--white);
  --catalogue-section-bg: #F5F7FB;
  --section-footer-bg:var(--primary-color);
  --dk-primary-navigation-bg-color:var(--white);
 
}

html.darkmode {
  --body-bg: var(--black);
  --default-text: var(--white);
  --reverse-text: var(--default-text);
  --header-bg:var(--body-bg);
  --brand-header-tail-bg:var(--gray);
  --brand-header-tail-text:var(--default-text);
  --primary-menu-link: var(--tertiary-color); //#FFE350
  --primary-menu-link-border-bg:var(--header-bg);
  --primary-menu-link-icon-text:var(--secondary-color);
  --primary-menu-link-active: var(--secondary-color); //#FF714A
  --mobile-metrics-container:#232323;
  --primary-menu-link-hover: rgba(255 226 80,20%);
  --primary-menu-link-icon-bg:var(--body-bg);
  --h1-text: var(--tertiary-color);
  --para-text: var(--default-text);
  --brand-area-bg:var(--white);
  --dk-page-main-area-left-bg:var(--black);
  --section-theme-bg:var(--tertiary-color);
  --dk-page-right-container-bg:var(--black);
  --dk-theme-border-color:var(--rc-6D7278);
  --dk-card-bg:var(--gray);
  --card-para-text: var(--para-text);
  --explore-btn-border: var(--rc-6D7278);
  --explore-btn-text: var(--default-text);
  --card-select-btn-bg:var(--black);
  --card-select-btn-text:var(--default-text);
  --usage-select-btn-bg:var(--gray);
  --dashboard-btn-bg: var(--body-bg);
  --dashboard-btn-border: #f7b500;
  --dashboard-btn-text: #f7b500;
  --dashboard-btn-hover-text: #bf5537;
  --dashboard-btn-hover-bg: var(--primary-menu-link);
  --dk-app-title:var(--dashboard-btn-hover-text);
  --hr-line:var(--explore-btn-border);
  --viyadaan-bg: #0B5583;
  --vidyadaan-text: var(--white);
  --footer-bg: var(--brand-header-tail-bg);
  --footer-text: var(--white);
  --tabs-content:#232323;
  --tabs-li-a:var(--white);
  --dk-F5F7FB-bg:var(--black);
  --cd-card-bg:#333;
  --rcard-bg:#333;
  --catalogue-section-bg: #20242a;
  --section-footer-bg:#333;
  --dk-primary-navigation-bg-color:#2A2C38;
 
  .download-overall {
    color:var(--white);
  }
  .sb-btn-outline-primary {
    background: #f7b500;
    border:1px solid #f7b500;
    color: var(--black);
  }
  .catalogue-section .cd-card h6{
    color: var(--white);
  }
  .catalogue-section .cd-card p{
    color: var(--white);
  }
  .catalogue-showmore{
    color: #ffe350 !important;
  }
  .catalogue-section .cd-card span.view-dictionary{
    color: #ffe350;
  }
  .catalogue-section .cd-card .cd-button{
    background-color: #f7b500;
    color: #000;
    border: 1px solid #f7b500;
    &:hover{
      background-color: #f7b500;
      color: #000;
      border: 1px solid #f7b500;
    }
  }
  .catalogue-details-section .detail-description h2{
    color:var(--white);
  }
  .catalogue-details-section .detail-description h6.upd{
    color:var(--white);
  }
  .data-dictionary-modal-lg{
    .modal-content{
        background-color: #333;
        .modal-footer {
          background-color: #333333;
          border-top: 1px solid #222;
        }
    }
  }
  .catalogue-details-section .detail-description h6.sub{
    color:var(--white);
  }
  .card-container .card-body{
    background-color: #333;
  }
  .card-container .card-footer{
    background-color: #333;
  }
  div.map_tooltip {
    background-color:#000;
  }
  .dk-card__img img {
    // filter:invert(1);
  }
  a.download-course {
    color:#fff;
    text-decoration: underline;
  }
  .diksha-contribute__vidyaDaan {
    background-color: #f7b500;
    color:#000;
  }
  .diksha-contribute__types__section__info img {
    filter: invert(1);
  }
  .diksha-contribute .vidya-daan-logo  {
    background: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-left: 0 !important;
  }
  .dk-card__img {
    background: #fff;
    padding: 0.125rem;
    border-radius: 50%;
  }
  .top-states-table table tr td {
    color: #fff;
  }
  .top-states-table table tr td:first-child {
    color: #333;
  }
  .diksha-contribute__types {
    background: #20242a;
  }
  .legends-svg {
    fill: #fff;
  }
  .mainHeader .nav-explore .nav-exp{
    filter: brightness(0) invert(1);

  }
  /*============Dark mode new home page==========*/
 .explore-study {
    background-color: #191919;
  }
/*============Dark mode title==========*/
 .head-title {
    color: #FFFFFF;
  }
 .head-title .text .title-diksha-color {
    color:var(--tertiary-color);
  }

 .head-title .text .title-diksha-color { 

  }
  .mainHeader .nav-explore .nav-exp-active {
    background-color: var(--tertiary-color);
    color: #666666;
  }
  .navMenu a {
    color: #FFFFFF;
  }

/*============header==========*/
// html.darkmode .dk-primary-navigation{
//     background-color: #2A2C38;

// }

 .main-top-header{
    background-color: #2A2C38 !important;
  }

 .mainHeader .nav-explore .nav-exp{
    filter: brightness(0) invert(1);
  } 
/*============brouse by board==========*/
  .dk-browser-by-board .item {
  background-color:#2A2C38;
  border: 1px solid var(--tertiary-color);
}

 .dk-browser-by-board .item .state-dropdown select{
  filter: brightness(7);
}

 .item-img img {
  filter: invert(2);
}

 .focus-area-diksha {
  background-color: #061F35;
}

  .learing-items{
  filter: brightness(8) invert(2);
}

/*============focus area==========*/

 .dk-browser-by-board .item .item-action {
  background-color: var(--tertiary-color);
}

 .dk-browser-by-board .item .item-action .view_more{
  filter: brightness(0.4);
}

 .focus-areas .carousel-inner .focus-item {
  background-color: #2A2C38 ;
  color: #DBDCDF;
}

 .focus-heading .focus-border-bottom{
  background-color: var(--tertiary-color);
}
 .read-more img {
  filter: invert(1);
}

 .read-more{
  color:  var(--tertiary-color);
}
 .read-more img{

}
 .lean-detail {
  filter: brightness(0) invert(1);

}
.focus-area-carousel .carousel-item.active>:nth-child(2) .focus-item,
.focus-area-carousel .carousel-item.active>:nth-child(2) .focus-item .read-more{
    color: #202124;
}
.focus-area-carousel .carousel-item.active>:nth-child(2) .focus-item .focus-heading .focus-border-bottom{
    background-color: #202124;
}
.focus-area-carousel .carousel-item.active>:nth-child(2) .focus-item .read-more-img{
  background-color: transparent !important;
}
.focus-area-carousel .carousel-indicators [data-bs-target].active,
.focus-area-carousel .carousel-control-prev-icon,
.focus-area-carousel .carousel-control-next-icon{
  background-color: var(--tertiary-color) !important;
}
/*============diksha-numbers==========*/

 .diksha-numbers{
  background-color: #191919;
}
 .dashboard-head{
  filter: brightness(0) invert(1);
}

 .diksha-numbers .vecter-one,
 .diksha-numbers .vecter-two,
 .diksha-numbers .vecter-three,
 .diksha-numbers .vecter-five,
 .diksha-numbers .vecter-four,
 .diksha-numbers .vecter-six {
  filter: grayscale(1);

}

 .matrix-dash{
  background-color: #414141;

}
 .view-dashboards button {
  background-color: var(--tertiary-color);
  color: #666666;

}
 .matrix-dash .data{
  filter: brightness(0) invert(1);
}
 .learn-sessions{
  border-color: var(--tertiary-color);

}
/*============MObile App==========*/
 .mobile-app-diksha{
  background-color: #2A2C38;
}
 .mobile-app-title .diksha
{
  color:var(--tertiary-color);
}


/*============footer==========*/
 .main-footer{
  background-color: #061F35;
}
 .logo-ngerd img {
  filter: brightness(0) invert(1);
}
 .footer-links ul li{
  filter: brightness(0) invert(1);

}
 .ciet-footer-logo,
 .gov-footer-logo {
  filter: brightness(0) invert(1);
}
/*============learning-class==========*/

 .learning-class{
  background-color: #414141;
}
 .dashboard-footer{
  background-color:var(--tertiary-color);
  color: #666666;
}

 .dashboard-body .icon-img {
  background-color: #FFE350;

}
.dashboard-body .icon-img img{
  filter: grayscale(1);
}
/*============learning-class==========*/

/*============learning-class==========*/

/*============Contribute us==========*/
.explore-vidyadaan {
  background-color: #2A2C38;
}
.about-vidyadan{
  background-color: #191919;
}
.matrix-diksha-small-font{
  filter: brightness(0) invert(1);
}
.dashbord-matrics-data .switch-field input:checked+labe{
  background-color: var(--tertiary-color);
  color: var(--tertiary-color);
}
.dashbord-matrics-data .switch-field label{
  border-color: var(--tertiary-color);
  color: var(--tertiary-color);
}
.usage-metrics-content .usage-label{
  filter: brightness(0) invert(1);

}
.dashbord-matrics-data .country-dropdown select{
  border-color: var(--tertiary-color);
  color: var(--tertiary-color);

}
.dashbord-matrics-data .switch-field input:checked+label{
  background-color: var(--tertiary-color);
  color: #333333;

}
.dashbord-matrics-data .top-states-table table tr:first-child{
  background-color: var(--tertiary-color);

}
.dk-usagetilldate{
  filter: brightness(0) invert(1); 
}
.download-report-updated button{
  border-color: var(--tertiary-color);
  color: var(--tertiary-color);
}
.download-report-updated button:hover{
  background-color: var(--tertiary-color);
  color: #333333;

}
.top-states-table table tr td:first-child {
  background-color: transparent;
  border-right: 1px solid rgba(179,179,179,0.5);
  
}

.dashbord-matrics-data .dashbord-matrics-data .country-dropdown select{
  background-color: #2A2C38;

}
  .user-card{
    box-shadow: 0 0.025rem 0.775rem 0 #ffc107;

  }
  .user-card .user-name{
    filter: brightness(0) invert(1);
  }
  .learning-users .users .image-title{
    filter: brightness(0) invert(1);
  }
  .image-bg{
    border: 1px solid #fff;
  }
  .resources-item{
    box-shadow: 0rem 0.525rem 0.975rem 0 #FFE3508F;

  }
  .resources-card img{
    filter: invert(0.8);
  }
  .top-states-table table tr:first-child th{
    color: #333333;
  }
  .top-states-table table{
    border-color: #fff

  }

  .vidyadaan-action .participate-contribute{
    border-color: var(--tertiary-color);
    color: var(--tertiary-color);
  }
  .pdf-doc {
    border: 1px solid #fff;
  }

  .pdf-doc.bg-yellow,
  .pdf-doc.bg-blue,
  .pdf-doc.bg-red 
  {
      background-size: cover;
  }
  .mobile-app{

  }
  .play-store-link{
    background-color: #191919;
  }
  .play-store-link img{
    filter: brightness(0) invert(1);
 }
 .applink{
  color: var(--tertiary-color);
 }
 .dashbord-matrics-data .top-states-table table tr td:first-child  {
  color: #fff;
 }
  .diksha-study-sec,
  .nistha-classroom-sec {
    background-color: #061F35;
  }
  .nistha-sub-head h2,
  .tab-msg p,
  .active-tab-msg p,
  .explore-filter label,
  .footer-links .footer-exp-title,
  .nistha-steps-div h3,
  .nistha-steps-div p,
  .nistha-desc p{
    color: #FFFFFF;
  }
  .explore-study-tab .nav-link,
  .nistha-certif-tab .nav-link,
  .view-all-btn{
    color: #ffe350 !important;
  }
   .explore-study-tab{
    background-color: #191919;
  }
  .nistha-certif-tab .nav-link.active,
  .study-view-more-btn{
    color: #202124 !important;
  }
  .nistha-certif-tab .nav-link.active,
  .study-view-more-btn{
   background-color: #ffe350;
  }
  .nistha-certif-tab,
  .view-all-btn{
    border-color: #ffe350 !important;
  }
}